<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : procurement
  Comment  : 采购项目
  Mapper   : com.welearn.mapper.ProcurementMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/11/6 9:48:30
-->
<mapper namespace="com.welearn.mapper.ProcurementMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    budget,
    method,
    creatorId,
    documentJson,
    sellerCompanyName,
    contentsJson,
    packagesJson,
    purchaserCompanyId,
    status,
    type,
    commercialCheckStatus,
    technologyCheckStatus,
    checkRecordJson,
    checkReportPhotocopy,
    salespersonName,
    salespersonIDCard,
    salespersonIDCardPhotocopy,
    isCanceled,
    cancellationReasonId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    procurement.id AS id,
    procurement.createdAt AS createdAt,
    procurement.updatedAt AS updatedAt,
    procurement.isEnable AS isEnable,
    procurement.name AS name,
    procurement.budget AS budget,
    procurement.method AS method,
    procurement.creatorId AS creatorId,
    procurement.documentJson AS documentJson,
    procurement.sellerCompanyName AS sellerCompanyName,
    procurement.contentsJson AS contentsJson,
    procurement.packagesJson AS packagesJson,
    procurement.purchaserCompanyId AS purchaserCompanyId,
    procurement.status AS status,
    procurement.type AS type,
    procurement.commercialCheckStatus AS commercialCheckStatus,
    procurement.technologyCheckStatus AS technologyCheckStatus,
    procurement.checkRecordJson AS checkRecordJson,
    procurement.checkReportPhotocopy AS checkReportPhotocopy,
    procurement.salespersonName AS salespersonName,
    procurement.salespersonIDCard AS salespersonIDCard,
    procurement.salespersonIDCardPhotocopy AS salespersonIDCardPhotocopy,
    procurement.isCanceled AS isCanceled,
    procurement.cancellationReasonId AS cancellationReasonId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.procurement.Procurement" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 采购项目名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 采购预算 -->
    <result column="budget" property="budget"/>
    <!-- Comment: 采购方式: 0-委托招标 1-自行招标 2-询价方式 3-单一来源 4-竞争性谈判 -->
    <result column="method" property="method"/>
    <!-- Comment: 采购项目创建人id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 采购流程文档记录, 根据不同的采购方式不同 JSON存储 -->
    <result column="documentJson" property="documentJson"/>
    <!-- Comment: 中标人/成交供应商名称 -->
    <result column="sellerCompanyName" property="sellerCompanyName"/>
    <!-- Comment: 装箱内容物清单(包含商业验收相关参数) -->
    <result column="contentsJson" property="contentsJson"/>
    <!-- Comment: 货运包装及内容(包含商业验收相关参数) -->
    <result column="packagesJson" property="packagesJson"/>
    <!-- Comment: 采购方公司id -->
    <result column="purchaserCompanyId" property="purchaserCompanyId"/>
    <!-- Comment: 采购项目状态: 0-选择待采购项 1-采购流程记录 2-双方合同签订 3-产品信息登记 4-商品货物配送 5-项目商业验收 6-项目技术验收 7-项目款项结算 8-采购项目结项 -->
    <result column="status" property="status"/>
    <!-- Comment: 采购项目类型: 0-医疗设备采购 1-医用耗材采购 2-设备配件采购 -->
    <result column="type" property="type"/>
    <!-- Comment: 商业验收状态: 0-待验收 1-验收通过 2-验收失败 -->
    <result column="commercialCheckStatus" property="commercialCheckStatus"/>
    <!-- Comment: 技术验收状态: 0-待验收 1-验收通过 2-验收失败 -->
    <result column="technologyCheckStatus" property="technologyCheckStatus"/>
    <!-- Comment: 验收记录(商业验收与技术验收相关参数) -->
    <result column="checkRecordJson" property="checkRecordJson"/>
    <!-- Comment: 验收报告签字盖章后 拍摄或扫描图片 上传 -->
    <result column="checkReportPhotocopy" property="checkReportPhotocopy"/>
    <!-- Comment: 销售负责人姓名 -->
    <result column="salespersonName" property="salespersonName"/>
    <!-- Comment: 销售负责人身份证 -->
    <result column="salespersonIDCard" property="salespersonIDCard"/>
    <!-- Comment: 销售负责人身份证复印件(加盖公章) -->
    <result column="salespersonIDCardPhotocopy" property="salespersonIDCardPhotocopy"/>
    <!-- Comment: 是否已取消：0-正常，1-取消 -->
    <result column="isCanceled" property="isCanceled"/>
    <!-- Comment: 取消原因id -->
    <result column="cancellationReasonId" property="cancellationReasonId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.procurement.Procurement" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM procurement
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.procurement.Procurement" parameterType="com.welearn.entity.qo.procurement.ProcurementQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM procurement
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="budget != null" >
          AND budget = #{budget}
        </if>
        <if test="method != null" >
          AND method = #{method}
        </if>
        <if test="creatorId != null" >
          AND creatorId = #{creatorId}
        </if>
        <if test="documentJson != null" >
          AND documentJson = #{documentJson}
        </if>
        <if test="sellerCompanyName != null" >
          AND sellerCompanyName = #{sellerCompanyName}
        </if>
        <if test="contentsJson != null" >
          AND contentsJson = #{contentsJson}
        </if>
        <if test="packagesJson != null" >
          AND packagesJson = #{packagesJson}
        </if>
        <if test="purchaserCompanyId != null" >
          AND purchaserCompanyId = #{purchaserCompanyId}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <if test="type != null" >
          AND type = #{type}
        </if>
        <if test="commercialCheckStatus != null" >
          AND commercialCheckStatus = #{commercialCheckStatus}
        </if>
        <if test="technologyCheckStatus != null" >
          AND technologyCheckStatus = #{technologyCheckStatus}
        </if>
        <if test="checkRecordJson != null" >
          AND checkRecordJson = #{checkRecordJson}
        </if>
        <if test="checkReportPhotocopy != null" >
          AND checkReportPhotocopy = #{checkReportPhotocopy}
        </if>
        <if test="salespersonName != null" >
          AND salespersonName = #{salespersonName}
        </if>
        <if test="salespersonIDCard != null" >
          AND salespersonIDCard = #{salespersonIDCard}
        </if>
        <if test="salespersonIDCardPhotocopy != null" >
          AND salespersonIDCardPhotocopy = #{salespersonIDCardPhotocopy}
        </if>
        <if test="isCanceled != null" >
          AND isCanceled = #{isCanceled}
        </if>
        <if test="cancellationReasonId != null" >
          AND cancellationReasonId = #{cancellationReasonId}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.procurement.Procurement" >
    SELECT
      <include refid="sqlColumns"/>
    FROM procurement
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM procurement
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.procurement.Procurement" >
    UPDATE procurement
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      budget = #{budget},
      method = #{method},
      creatorId = #{creatorId},
      documentJson = #{documentJson},
      sellerCompanyName = #{sellerCompanyName},
      contentsJson = #{contentsJson},
      packagesJson = #{packagesJson},
      purchaserCompanyId = #{purchaserCompanyId},
      status = #{status},
      type = #{type},
      commercialCheckStatus = #{commercialCheckStatus},
      technologyCheckStatus = #{technologyCheckStatus},
      checkRecordJson = #{checkRecordJson},
      checkReportPhotocopy = #{checkReportPhotocopy},
      salespersonName = #{salespersonName},
      salespersonIDCard = #{salespersonIDCard},
      salespersonIDCardPhotocopy = #{salespersonIDCardPhotocopy},
      isCanceled = #{isCanceled},
      cancellationReasonId = #{cancellationReasonId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.procurement.Procurement" >
    UPDATE procurement
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="budget != null" >
        budget = #{budget},
      </if>
      <if test="method != null" >
        method = #{method},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="documentJson != null" >
        documentJson = #{documentJson},
      </if>
      <if test="sellerCompanyName != null" >
        sellerCompanyName = #{sellerCompanyName},
      </if>
      <if test="contentsJson != null" >
        contentsJson = #{contentsJson},
      </if>
      <if test="packagesJson != null" >
        packagesJson = #{packagesJson},
      </if>
      <if test="purchaserCompanyId != null" >
        purchaserCompanyId = #{purchaserCompanyId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="commercialCheckStatus != null" >
        commercialCheckStatus = #{commercialCheckStatus},
      </if>
      <if test="technologyCheckStatus != null" >
        technologyCheckStatus = #{technologyCheckStatus},
      </if>
      <if test="checkRecordJson != null" >
        checkRecordJson = #{checkRecordJson},
      </if>
      <if test="checkReportPhotocopy != null" >
        checkReportPhotocopy = #{checkReportPhotocopy},
      </if>
      <if test="salespersonName != null" >
        salespersonName = #{salespersonName},
      </if>
      <if test="salespersonIDCard != null" >
        salespersonIDCard = #{salespersonIDCard},
      </if>
      <if test="salespersonIDCardPhotocopy != null" >
        salespersonIDCardPhotocopy = #{salespersonIDCardPhotocopy},
      </if>
      <if test="isCanceled != null" >
        isCanceled = #{isCanceled},
      </if>
      <if test="cancellationReasonId != null" >
        cancellationReasonId = #{cancellationReasonId},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE procurement SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE procurement SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.procurement.Procurement" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO procurement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      budget,
      method,
      creatorId,
      documentJson,
      sellerCompanyName,
      contentsJson,
      packagesJson,
      purchaserCompanyId,
      status,
      type,
      commercialCheckStatus,
      technologyCheckStatus,
      checkRecordJson,
      checkReportPhotocopy,
      salespersonName,
      salespersonIDCard,
      salespersonIDCardPhotocopy,
      isCanceled,
      cancellationReasonId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{budget},
      #{method},
      #{creatorId},
      #{documentJson},
      #{sellerCompanyName},
      #{contentsJson},
      #{packagesJson},
      #{purchaserCompanyId},
      #{status},
      #{type},
      #{commercialCheckStatus},
      #{technologyCheckStatus},
      #{checkRecordJson},
      #{checkReportPhotocopy},
      #{salespersonName},
      #{salespersonIDCard},
      #{salespersonIDCardPhotocopy},
      #{isCanceled},
      #{cancellationReasonId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.procurement.Procurement" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO procurement 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="budget != null" >
        budget,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="documentJson != null" >
        documentJson,
      </if>
      <if test="sellerCompanyName != null" >
        sellerCompanyName,
      </if>
      <if test="contentsJson != null" >
        contentsJson,
      </if>
      <if test="packagesJson != null" >
        packagesJson,
      </if>
      <if test="purchaserCompanyId != null" >
        purchaserCompanyId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="commercialCheckStatus != null" >
        commercialCheckStatus,
      </if>
      <if test="technologyCheckStatus != null" >
        technologyCheckStatus,
      </if>
      <if test="checkRecordJson != null" >
        checkRecordJson,
      </if>
      <if test="checkReportPhotocopy != null" >
        checkReportPhotocopy,
      </if>
      <if test="salespersonName != null" >
        salespersonName,
      </if>
      <if test="salespersonIDCard != null" >
        salespersonIDCard,
      </if>
      <if test="salespersonIDCardPhotocopy != null" >
        salespersonIDCardPhotocopy,
      </if>
      <if test="isCanceled != null" >
        isCanceled,
      </if>
      <if test="cancellationReasonId != null" >
        cancellationReasonId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="budget != null" >
        #{budget},
      </if>
      <if test="method != null" >
        #{method},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="documentJson != null" >
        #{documentJson},
      </if>
      <if test="sellerCompanyName != null" >
        #{sellerCompanyName},
      </if>
      <if test="contentsJson != null" >
        #{contentsJson},
      </if>
      <if test="packagesJson != null" >
        #{packagesJson},
      </if>
      <if test="purchaserCompanyId != null" >
        #{purchaserCompanyId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="commercialCheckStatus != null" >
        #{commercialCheckStatus},
      </if>
      <if test="technologyCheckStatus != null" >
        #{technologyCheckStatus},
      </if>
      <if test="checkRecordJson != null" >
        #{checkRecordJson},
      </if>
      <if test="checkReportPhotocopy != null" >
        #{checkReportPhotocopy},
      </if>
      <if test="salespersonName != null" >
        #{salespersonName},
      </if>
      <if test="salespersonIDCard != null" >
        #{salespersonIDCard},
      </if>
      <if test="salespersonIDCardPhotocopy != null" >
        #{salespersonIDCardPhotocopy},
      </if>
      <if test="isCanceled != null" >
        #{isCanceled},
      </if>
      <if test="cancellationReasonId != null" >
        #{cancellationReasonId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM procurement WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM procurement
  </delete>
  
  <!-- START USER DEFINED -->
  <select id="searchInfo" resultType="com.welearn.entity.vo.response.procurement.ProcurementInfo" parameterType="com.welearn.entity.qo.procurement.ProcurementQueryCondition" >
    SELECT
      p.*,
      c.no as contractNo,
      c.firstPart as contractFirstPart,
      c.secondPart as contractSecondPart,
      c.contractAmount as contractAmount,
      c.deliveryDays as contractDeliveryDays,
      c.acceptanceDays as contractAcceptanceDays,
      c.creditDays as contractCreditDays,
      c.effectiveDate as effectiveDate,
      c.contractPhotocopy as contractPhotocopy
    FROM procurement p
    JOIN contract c on c.projectId = p.id and c.isEnable = true
    <where>
      <if test="id != null" >
        p.id = #{id}
      </if>
      <if test="isEnable != null" >
        AND p.isEnable = #{isEnable}
      </if>
      <if test="name != null" >
        AND p.name = #{name}
      </if>
      <if test="method != null" >
        AND p.method = #{method}
      </if>
      <if test="creatorId != null" >
        AND p.creatorId = #{creatorId}
      </if>
      <if test="sellerCompanyName != null" >
        AND p.sellerCompanyName = #{sellerCompanyName}
      </if>
      <if test="purchaserCompanyId != null" >
        AND p.purchaserCompanyId = #{purchaserCompanyId}
      </if>
      <if test="status != null" >
        AND p.status = #{status}
      </if>
      <if test="type != null" >
        AND p.type = #{type}
      </if>
      <if test="commercialCheckStatus != null" >
        AND p.commercialCheckStatus = #{commercialCheckStatus}
      </if>
      <if test="technologyCheckStatus != null" >
        AND p.technologyCheckStatus = #{technologyCheckStatus}
      </if>
      <if test="salespersonName != null" >
        AND p.salespersonName = #{salespersonName}
      </if>
      <if test="salespersonIDCard != null" >
        AND p.salespersonIDCard = #{salespersonIDCard}
      </if>
      <if test="isCanceled != null" >
        AND p.isCanceled = #{isCanceled}
      </if>
      <if test="cancellationReasonId != null" >
        AND p.cancellationReasonId = #{cancellationReasonId}
      </if>
    </where>
    ORDER BY updatedAt DESC
  </select>
</mapper>