<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : procurement_detail
  Comment  : 采购项目详情
  Mapper   : com.welearn.mapper.ProcurementDetailMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/10/30 15:58:38
-->
<mapper namespace="com.welearn.mapper.ProcurementDetailMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    classification,
    typeId,
    typeName,
    manufacturer,
    nativeOrigin,
    specification,
    model,
    count,
    expectedPrice,
    actualPrice,
    sumPrice,
    guaranteeTime,
    capitalSource,
    departmentId,
    departmentName,
    applicantId,
    applicantName,
    status,
    procurementId,
    productId,
    companyId,
    applicationId,
    applicationType,
    contentJson
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    procurement_detail.id AS id,
    procurement_detail.createdAt AS createdAt,
    procurement_detail.updatedAt AS updatedAt,
    procurement_detail.isEnable AS isEnable,
    procurement_detail.classification AS classification,
    procurement_detail.typeId AS typeId,
    procurement_detail.typeName AS typeName,
    procurement_detail.manufacturer AS manufacturer,
    procurement_detail.nativeOrigin AS nativeOrigin,
    procurement_detail.specification AS specification,
    procurement_detail.model AS model,
    procurement_detail.count AS count,
    procurement_detail.expectedPrice AS expectedPrice,
    procurement_detail.actualPrice AS actualPrice,
    procurement_detail.sumPrice AS sumPrice,
    procurement_detail.guaranteeTime AS guaranteeTime,
    procurement_detail.capitalSource AS capitalSource,
    procurement_detail.departmentId AS departmentId,
    procurement_detail.departmentName AS departmentName,
    procurement_detail.applicantId AS applicantId,
    procurement_detail.applicantName AS applicantName,
    procurement_detail.status AS status,
    procurement_detail.procurementId AS procurementId,
    procurement_detail.productId AS productId,
    procurement_detail.companyId AS companyId,
    procurement_detail.applicationId AS applicationId,
    procurement_detail.applicationType AS applicationType,
    procurement_detail.contentJson AS contentJson
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.procurement.ProcurementDetail" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 类别:0-医疗设备 1-医用耗材 2-设备配件 -->
    <result column="classification" property="classification"/>
    <!-- Comment: 类型id -->
    <result column="typeId" property="typeId"/>
    <!-- Comment: 类型名称 -->
    <result column="typeName" property="typeName"/>
    <!-- Comment: 生产厂商 -->
    <result column="manufacturer" property="manufacturer"/>
    <!-- Comment: 原生产地 -->
    <result column="nativeOrigin" property="nativeOrigin"/>
    <!-- Comment: 规格 -->
    <result column="specification" property="specification"/>
    <!-- Comment: 型号 -->
    <result column="model" property="model"/>
    <!-- Comment: 数量 -->
    <result column="count" property="count"/>
    <!-- Comment: 预计单价 -->
    <result column="expectedPrice" property="expectedPrice"/>
    <!-- Comment: 实际单价 -->
    <result column="actualPrice" property="actualPrice"/>
    <!-- Comment: 合计金额 -->
    <result column="sumPrice" property="sumPrice"/>
    <!-- Comment: 保修期限(单位:月) -->
    <result column="guaranteeTime" property="guaranteeTime"/>
    <!-- Comment: 资金来源 -->
    <result column="capitalSource" property="capitalSource"/>
    <!-- Comment: 申请人科室id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 申请人科室名称 -->
    <result column="departmentName" property="departmentName"/>
    <!-- Comment: 申请人id -->
    <result column="applicantId" property="applicantId"/>
    <!-- Comment: 申请人姓名 -->
    <result column="applicantName" property="applicantName"/>
    <!-- Comment: 状态:0-待进行采购 1-采购进行中 2-已完成采购 -->
    <result column="status" property="status"/>
    <!-- Comment: 采购项目id -->
    <result column="procurementId" property="procurementId"/>
    <!-- Comment: 供应商设备产品id -->
    <result column="productId" property="productId"/>
    <!-- Comment: 采购方公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 申请id -->
    <result column="applicationId" property="applicationId"/>
    <!-- Comment: 申请类型编码 -->
    <result column="applicationType" property="applicationType"/>
    <!-- Comment: 采购详情的特殊内容 JSON存储 -->
    <result column="contentJson" property="contentJson"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.procurement.ProcurementDetail" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM procurement_detail
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.procurement.ProcurementDetail" parameterType="com.welearn.entity.qo.procurement.ProcurementDetailQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM procurement_detail
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="classification != null" >
        AND classification = #{classification}
      </if>
      <if test="typeId != null" >
        AND typeId = #{typeId}
      </if>
      <if test="typeName != null" >
        AND typeName = #{typeName}
      </if>
      <if test="manufacturer != null" >
        AND manufacturer = #{manufacturer}
      </if>
      <if test="nativeOrigin != null" >
        AND nativeOrigin = #{nativeOrigin}
      </if>
      <if test="specification != null" >
        AND specification = #{specification}
      </if>
      <if test="model != null" >
        AND model = #{model}
      </if>
      <if test="count != null" >
        AND count = #{count}
      </if>
      <if test="expectedPrice != null" >
        AND expectedPrice = #{expectedPrice}
      </if>
      <if test="actualPrice != null" >
        AND actualPrice = #{actualPrice}
      </if>
      <if test="sumPrice != null" >
        AND sumPrice = #{sumPrice}
      </if>
      <if test="guaranteeTime != null" >
        AND guaranteeTime = #{guaranteeTime}
      </if>
      <if test="capitalSource != null" >
        AND capitalSource = #{capitalSource}
      </if>
      <if test="departmentId != null" >
        AND departmentId = #{departmentId}
      </if>
      <if test="departmentName != null" >
        AND departmentName = #{departmentName}
      </if>
      <if test="applicantId != null" >
        AND applicantId = #{applicantId}
      </if>
      <if test="applicantName != null" >
        AND applicantName = #{applicantName}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="procurementId != null" >
        AND procurementId = #{procurementId}
      </if>
      <if test="productId != null" >
        AND productId = #{productId}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="applicationId != null" >
        AND applicationId = #{applicationId}
      </if>
      <if test="applicationType != null" >
        AND applicationType = #{applicationType}
      </if>
      <if test="contentJson != null" >
        AND contentJson = #{contentJson}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.procurement.ProcurementDetail" >
    SELECT
    <include refid="sqlColumns"/>
    FROM procurement_detail
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM procurement_detail
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.procurement.ProcurementDetail" >
    UPDATE procurement_detail
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      classification = #{classification},
      typeId = #{typeId},
      typeName = #{typeName},
      manufacturer = #{manufacturer},
      nativeOrigin = #{nativeOrigin},
      specification = #{specification},
      model = #{model},
      count = #{count},
      expectedPrice = #{expectedPrice},
      actualPrice = #{actualPrice},
      sumPrice = #{sumPrice},
      guaranteeTime = #{guaranteeTime},
      capitalSource = #{capitalSource},
      departmentId = #{departmentId},
      departmentName = #{departmentName},
      applicantId = #{applicantId},
      applicantName = #{applicantName},
      status = #{status},
      procurementId = #{procurementId},
      productId = #{productId},
      companyId = #{companyId},
      applicationId = #{applicationId},
      applicationType = #{applicationType},
      contentJson = #{contentJson},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.procurement.ProcurementDetail" >
    UPDATE procurement_detail
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="classification != null" >
        classification = #{classification},
      </if>
      <if test="typeId != null" >
        typeId = #{typeId},
      </if>
      <if test="typeName != null" >
        typeName = #{typeName},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer},
      </if>
      <if test="nativeOrigin != null" >
        nativeOrigin = #{nativeOrigin},
      </if>
      <if test="specification != null" >
        specification = #{specification},
      </if>
      <if test="model != null" >
        model = #{model},
      </if>
      <if test="count != null" >
        count = #{count},
      </if>
      <if test="expectedPrice != null" >
        expectedPrice = #{expectedPrice},
      </if>
      <if test="actualPrice != null" >
        actualPrice = #{actualPrice},
      </if>
      <if test="sumPrice != null" >
        sumPrice = #{sumPrice},
      </if>
      <if test="guaranteeTime != null" >
        guaranteeTime = #{guaranteeTime},
      </if>
      <if test="capitalSource != null" >
        capitalSource = #{capitalSource},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="departmentName != null" >
        departmentName = #{departmentName},
      </if>
      <if test="applicantId != null" >
        applicantId = #{applicantId},
      </if>
      <if test="applicantName != null" >
        applicantName = #{applicantName},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="procurementId != null" >
        procurementId = #{procurementId},
      </if>
      <if test="productId != null" >
        productId = #{productId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="applicationId != null" >
        applicationId = #{applicationId},
      </if>
      <if test="applicationType != null" >
        applicationType = #{applicationType},
      </if>
      <if test="contentJson != null" >
        contentJson = #{contentJson},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE procurement_detail SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE procurement_detail SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.procurement.ProcurementDetail" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO procurement_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      classification,
      typeId,
      typeName,
      manufacturer,
      nativeOrigin,
      specification,
      model,
      count,
      expectedPrice,
      actualPrice,
      sumPrice,
      guaranteeTime,
      capitalSource,
      departmentId,
      departmentName,
      applicantId,
      applicantName,
      status,
      procurementId,
      productId,
      companyId,
      applicationId,
      applicationType,
      contentJson,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{classification},
      #{typeId},
      #{typeName},
      #{manufacturer},
      #{nativeOrigin},
      #{specification},
      #{model},
      #{count},
      #{expectedPrice},
      #{actualPrice},
      #{sumPrice},
      #{guaranteeTime},
      #{capitalSource},
      #{departmentId},
      #{departmentName},
      #{applicantId},
      #{applicantName},
      #{status},
      #{procurementId},
      #{productId},
      #{companyId},
      #{applicationId},
      #{applicationType},
      #{contentJson},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.procurement.ProcurementDetail" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO procurement_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="classification != null" >
        classification,
      </if>
      <if test="typeId != null" >
        typeId,
      </if>
      <if test="typeName != null" >
        typeName,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="nativeOrigin != null" >
        nativeOrigin,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="expectedPrice != null" >
        expectedPrice,
      </if>
      <if test="actualPrice != null" >
        actualPrice,
      </if>
      <if test="sumPrice != null" >
        sumPrice,
      </if>
      <if test="guaranteeTime != null" >
        guaranteeTime,
      </if>
      <if test="capitalSource != null" >
        capitalSource,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="departmentName != null" >
        departmentName,
      </if>
      <if test="applicantId != null" >
        applicantId,
      </if>
      <if test="applicantName != null" >
        applicantName,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="procurementId != null" >
        procurementId,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="applicationId != null" >
        applicationId,
      </if>
      <if test="applicationType != null" >
        applicationType,
      </if>
      <if test="contentJson != null" >
        contentJson,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="classification != null" >
        #{classification},
      </if>
      <if test="typeId != null" >
        #{typeId},
      </if>
      <if test="typeName != null" >
        #{typeName},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer},
      </if>
      <if test="nativeOrigin != null" >
        #{nativeOrigin},
      </if>
      <if test="specification != null" >
        #{specification},
      </if>
      <if test="model != null" >
        #{model},
      </if>
      <if test="count != null" >
        #{count},
      </if>
      <if test="expectedPrice != null" >
        #{expectedPrice},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice},
      </if>
      <if test="guaranteeTime != null" >
        #{guaranteeTime},
      </if>
      <if test="capitalSource != null" >
        #{capitalSource},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="departmentName != null" >
        #{departmentName},
      </if>
      <if test="applicantId != null" >
        #{applicantId},
      </if>
      <if test="applicantName != null" >
        #{applicantName},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="procurementId != null" >
        #{procurementId},
      </if>
      <if test="productId != null" >
        #{productId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="applicationId != null" >
        #{applicationId},
      </if>
      <if test="applicationType != null" >
        #{applicationType},
      </if>
      <if test="contentJson != null" >
        #{contentJson},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM procurement_detail WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM procurement_detail
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="selectByProcurementIdAndIsEnable" resultType="com.welearn.entity.vo.response.procurement.ProcurementDetailInfo">
    SELECT pd.* FROM procurement_detail pd where pd.procurementId=#{procurementId} and pd.isEnable=#{isEnable}
  </select>
</mapper>