<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : rich_text
  Comment  : 富文本存储
  Mapper   : com.welearn.mapper.RichTextMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/9/30 9:36:19
-->
<mapper namespace="com.welearn.mapper.RichTextMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    raw,
    html,
    creatorId,
    outlook
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    rich_text.id AS id,
    rich_text.createdAt AS createdAt,
    rich_text.updatedAt AS updatedAt,
    rich_text.isEnable AS isEnable,
    rich_text.raw AS raw,
    rich_text.html AS html,
    rich_text.creatorId AS creatorId,
    rich_text.outlook AS outlook
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.storage.RichText" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 富文本编辑用raw字符串 -->
    <result column="raw" property="raw"/>
    <!-- Comment: 富文本展示用html字符串 -->
    <result column="html" property="html"/>
    <!-- Comment: 创建人id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 富文本内容类型简述 -->
    <result column="outlook" property="outlook"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.storage.RichText" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM rich_text
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.storage.RichText" parameterType="com.welearn.entity.qo.storage.RichTextQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM rich_text
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="raw != null" >
          AND raw = #{raw}
        </if>
        <if test="html != null" >
          AND html = #{html}
        </if>
        <if test="creatorId != null" >
          AND creatorId = #{creatorId}
        </if>
        <if test="outlook != null" >
          AND outlook = #{outlook}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.storage.RichText" >
    SELECT
      <include refid="sqlColumns"/>
    FROM rich_text
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM rich_text
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.storage.RichText" >
    UPDATE rich_text
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      raw = #{raw},
      html = #{html},
      creatorId = #{creatorId},
      outlook = #{outlook},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.storage.RichText" >
    UPDATE rich_text
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="raw != null" >
        raw = #{raw},
      </if>
      <if test="html != null" >
        html = #{html},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="outlook != null" >
        outlook = #{outlook},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE rich_text SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE rich_text SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.storage.RichText" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO rich_text
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      raw,
      html,
      creatorId,
      outlook,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{raw},
      #{html},
      #{creatorId},
      #{outlook},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.storage.RichText" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO rich_text 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="raw != null" >
        raw,
      </if>
      <if test="html != null" >
        html,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="outlook != null" >
        outlook,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="raw != null" >
        #{raw},
      </if>
      <if test="html != null" >
        #{html},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="outlook != null" >
        #{outlook},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM rich_text WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM rich_text
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>