<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : statistics_record
  Comment  : 统计记录
  Mapper   : com.welearn.mapper.StatisticsRecordMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/6/1 11:39:11
-->
<mapper namespace="com.welearn.mapper.StatisticsRecordMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    startAt,
    endAt,
    service,
    type,
    refId,
    dataJson,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    statistics_record.id AS id,
    statistics_record.createdAt AS createdAt,
    statistics_record.updatedAt AS updatedAt,
    statistics_record.isEnable AS isEnable,
    statistics_record.startAt AS startAt,
    statistics_record.endAt AS endAt,
    statistics_record.service AS service,
    statistics_record.type AS type,
    statistics_record.refId AS refId,
    statistics_record.dataJson AS dataJson,
    statistics_record.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.storage.StatisticsRecord" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 统计开始时间 -->
    <result column="startAt" property="startAt"/>
    <!-- Comment: 统计结束时间 -->
    <result column="endAt" property="endAt"/>
    <!-- Comment: 统计所在服务 -->
    <result column="service" property="service"/>
    <!-- Comment: 统计数据类型 -->
    <result column="type" property="type"/>
    <!-- Comment: 统计数据关联id -->
    <result column="refId" property="refId"/>
    <!-- Comment: 统计数据JSON格式存储 -->
    <result column="dataJson" property="dataJson"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.storage.StatisticsRecord" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM statistics_record
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.storage.StatisticsRecord" parameterType="com.welearn.entity.qo.storage.StatisticsRecordQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM statistics_record
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="startAt != null" >
          AND startAt = #{startAt}
        </if>
        <if test="endAt != null" >
          AND endAt = #{endAt}
        </if>
        <if test="service != null" >
          AND service = #{service}
        </if>
        <if test="type != null" >
          AND type = #{type}
        </if>
        <if test="refId != null" >
          AND refId = #{refId}
        </if>
        <if test="dataJson != null" >
          AND dataJson = #{dataJson}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.storage.StatisticsRecord" >
    SELECT
      <include refid="sqlColumns"/>
    FROM statistics_record
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM statistics_record
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.storage.StatisticsRecord" >
    UPDATE statistics_record
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      startAt = #{startAt},
      endAt = #{endAt},
      service = #{service},
      type = #{type},
      refId = #{refId},
      dataJson = #{dataJson},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.storage.StatisticsRecord" >
    UPDATE statistics_record
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="startAt != null" >
        startAt = #{startAt},
      </if>
      <if test="endAt != null" >
        endAt = #{endAt},
      </if>
      <if test="service != null" >
        service = #{service},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="refId != null" >
        refId = #{refId},
      </if>
      <if test="dataJson != null" >
        dataJson = #{dataJson},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE statistics_record SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE statistics_record SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.storage.StatisticsRecord" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO statistics_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      startAt,
      endAt,
      service,
      type,
      refId,
      dataJson,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{startAt},
      #{endAt},
      #{service},
      #{type},
      #{refId},
      #{dataJson},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.storage.StatisticsRecord" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO statistics_record 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="startAt != null" >
        startAt,
      </if>
      <if test="endAt != null" >
        endAt,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="refId != null" >
        refId,
      </if>
      <if test="dataJson != null" >
        dataJson,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="startAt != null" >
        #{startAt},
      </if>
      <if test="endAt != null" >
        #{endAt},
      </if>
      <if test="service != null" >
        #{service},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="refId != null" >
        #{refId},
      </if>
      <if test="dataJson != null" >
        #{dataJson},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM statistics_record WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM statistics_record
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>