<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : department
  Comment  : 部门
  Mapper   : com.welearn.mapper.DepartmentMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/9/13 11:40:41
-->
<mapper namespace="com.welearn.mapper.DepartmentMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    parentId,
    createdAt,
    updatedAt,
    isEnable,
    name,
    description,
    creatorId,
    adminId,
    floorId,
    companyId,
    tags,
    state,
    buildingId,
    areaId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    department.id AS id,
    department.parentId AS parentId,
    department.createdAt AS createdAt,
    department.updatedAt AS updatedAt,
    department.isEnable AS isEnable,
    department.name AS name,
    department.description AS description,
    department.creatorId AS creatorId,
    department.adminId AS adminId,
    department.floorId AS floorId,
    department.companyId AS companyId,
    department.tags AS tags,
    department.state AS state,
    department.buildingId AS buildingId,
    department.areaId AS areaId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.Department" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 父节点主键 -->
    <result column="parentId" property="parentId"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 创建者id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 管理员id -->
    <result column="adminId" property="adminId"/>
    <!-- Comment: 所在楼层id -->
    <result column="floorId" property="floorId"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 标签: 可有多个标签,根据标签来确认功能 -->
    <result column="tags" property="tags"/>
    <!-- Comment: 状态: 0-正常 -->
    <result column="state" property="state"/>
    <!-- Comment: 所在建筑id -->
    <result column="buildingId" property="buildingId"/>
    <!-- Comment: 所在区域id -->
    <result column="areaId" property="areaId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.Department" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM department
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.Department" parameterType="com.welearn.entity.qo.common.DepartmentQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM department
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="parentId != null" >
        AND parentId = #{parentId}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="name != null" >
        AND name = #{name}
      </if>
      <if test="description != null" >
        AND description = #{description}
      </if>
      <if test="creatorId != null" >
        AND creatorId = #{creatorId}
      </if>
      <if test="adminId != null" >
        AND adminId = #{adminId}
      </if>
      <if test="floorId != null" >
        AND floorId = #{floorId}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="tags != null" >
        AND tags = #{tags}
      </if>
      <if test="state != null" >
        AND state = #{state}
      </if>
      <if test="buildingId != null" >
        AND buildingId = #{buildingId}
      </if>
      <if test="areaId != null" >
        AND areaId = #{areaId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.Department" >
    SELECT
    <include refid="sqlColumns"/>
    FROM department
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM department
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.Department" >
    UPDATE department
    <set>
      parentId = #{parentId},
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      description = #{description},
      creatorId = #{creatorId},
      adminId = #{adminId},
      floorId = #{floorId},
      companyId = #{companyId},
      tags = #{tags},
      state = #{state},
      buildingId = #{buildingId},
      areaId = #{areaId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.Department" >
    UPDATE department
    <set>
      <if test="parentId != null" >
        parentId = #{parentId},
      </if>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="adminId != null" >
        adminId = #{adminId},
      </if>
      <if test="floorId != null" >
        floorId = #{floorId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="tags != null" >
        tags = #{tags},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="buildingId != null" >
        buildingId = #{buildingId},
      </if>
      <if test="areaId != null" >
        areaId = #{areaId},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE department SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE department SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.Department" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      parentId,
      createdAt,
      updatedAt,
      isEnable,
      name,
      description,
      creatorId,
      adminId,
      floorId,
      companyId,
      tags,
      state,
      buildingId,
      areaId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{parentId},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{description},
      #{creatorId},
      #{adminId},
      #{floorId},
      #{companyId},
      #{tags},
      #{state},
      #{buildingId},
      #{areaId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.Department" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parentId,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="adminId != null" >
        adminId,
      </if>
      <if test="floorId != null" >
        floorId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="buildingId != null" >
        buildingId,
      </if>
      <if test="areaId != null" >
        areaId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="parentId != null" >
        #{parentId},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="adminId != null" >
        #{adminId},
      </if>
      <if test="floorId != null" >
        #{floorId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="tags != null" >
        #{tags},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="buildingId != null" >
        #{buildingId},
      </if>
      <if test="areaId != null" >
        #{areaId},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM department WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM department
  </delete>
  
  <!-- START USER DEFINED -->
  <select id="searchInfo" resultType="com.welearn.entity.vo.response.common.DepartmentInfo">
    select distinct d.*, c.addressId as companyAddress, f.name as floorName, b.name as buildingName, u.name as adminName
    from department d
    join company c on c.id = d.companyId and c.isEnable = true
    left join floor f on d.floorId = f.id and f.isEnable = true
    left join building b on d.buildingId = b.id and b.isEnable = true
    left join user u on d.adminId = u.id and u.isEnable = true
    <if test="tagIds != null and tagIds.size() > 0" >
      join re_tag_item rti on rti.itemId = d.id and rti.tagId in
      <foreach collection="tagIds" item="tagId" index="index" open="(" separator="," close=")" >
        #{tagId}
      </foreach>
    </if>
    where d.companyId = #{companyId}
      <if test="departmentName != null" >
        and d.name like CONCAT('%',#{departmentName},'%')
      </if>
      and d.isEnable = true
  </select>
  <select id="userDepartments" resultType="com.welearn.entity.po.common.Department">
    select distinct d.*
    from department d
    join re_user_department rud on rud.userId = #{userId} and rud.isEnable = true
    where d.id = rud.departmentId and d.isEnable = true
    order by rud.createdAt ASC
  </select>
  <select id="userCount" resultType="com.welearn.entity.vo.response.common.DepartmentUserCount">
    select d.id, d.name, count(rud.userId) as `count`
    from department d
    join re_user_department rud on d.id = rud.departmentId and rud.isEnable = true
    where d.companyId = #{companyId} and d.isEnable = true
    group by d.id
    order by d.name asc
  </select>
</mapper>