<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : link_code
  Comment  : 关联编码(可用于短链/一维码/二位码)
  Mapper   : com.welearn.mapper.LinkCodeMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/4/26 9:05:40
-->
<mapper namespace="com.welearn.mapper.LinkCodeMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    `number`,
    type,
    servicePrefix,
    persistantPrefix,
    serialNumber,
    isBinding,
    bindingAt,
    bindingId,
    bindingPayload,
    companyId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    link_code.id AS id,
    link_code.createdAt AS createdAt,
    link_code.updatedAt AS updatedAt,
    link_code.isEnable AS isEnable,
    link_code.number AS `number`,
    link_code.type AS type,
    link_code.servicePrefix AS servicePrefix,
    link_code.persistantPrefix AS persistantPrefix,
    link_code.serialNumber AS serialNumber,
    link_code.isBinding AS isBinding,
    link_code.bindingAt AS bindingAt,
    link_code.bindingId AS bindingId,
    link_code.bindingPayload AS bindingPayload,
    link_code.companyId AS companyId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.LinkCode" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 编号: 获取当前数据库数据数量, 设置此值 -->
    <result column="number" property="number"/>
    <!-- Comment: 类型: 0-ID 1-链接 -->
    <result column="type" property="type"/>
    <!-- Comment: 服务类型前缀:1,2 位 -->
    <result column="servicePrefix" property="servicePrefix"/>
    <!-- Comment: 实体类型前缀:3,4 位 -->
    <result column="persistantPrefix" property="persistantPrefix"/>
    <!-- Comment: 序号:[servicePrefix:2][persistantPrefix:2][number:12(十六进制)] -->
    <result column="serialNumber" property="serialNumber"/>
    <!-- Comment: 是否绑定：0-未绑定 1-已绑定 -->
    <result column="isBinding" property="isBinding"/>
    <!-- Comment: 绑定时间 -->
    <result column="bindingAt" property="bindingAt"/>
    <!-- Comment: 绑定id(类型为ID时可用) -->
    <result column="bindingId" property="bindingId"/>
    <!-- Comment: 绑定载荷(链接/绑定id时附带参数) -->
    <result column="bindingPayload" property="bindingPayload"/>
    <!-- Comment: 条码所属公司Id -->
    <result column="companyId" property="companyId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.LinkCode" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM link_code
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.LinkCode" parameterType="com.welearn.entity.qo.common.LinkCodeQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM link_code
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="number != null" >
        AND `number` = #{number}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="servicePrefix != null" >
        AND servicePrefix = #{servicePrefix}
      </if>
      <if test="persistantPrefix != null" >
        AND persistantPrefix = #{persistantPrefix}
      </if>
      <if test="serialNumber != null" >
        AND serialNumber = #{serialNumber}
      </if>
      <if test="isBinding != null" >
        AND isBinding = #{isBinding}
      </if>
      <if test="bindingAt != null" >
        AND bindingAt = #{bindingAt}
      </if>
      <if test="bindingId != null" >
        AND bindingId = #{bindingId}
      </if>
      <if test="bindingPayload != null" >
        AND bindingPayload = #{bindingPayload}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.LinkCode" >
    SELECT
    <include refid="sqlColumns"/>
    FROM link_code
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM link_code
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.LinkCode" >
    UPDATE link_code
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      `number` = #{number},
      type = #{type},
      servicePrefix = #{servicePrefix},
      persistantPrefix = #{persistantPrefix},
      serialNumber = #{serialNumber},
      isBinding = #{isBinding},
      bindingAt = #{bindingAt},
      bindingId = #{bindingId},
      bindingPayload = #{bindingPayload},
      companyId = #{companyId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.LinkCode" >
    UPDATE link_code
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="number != null" >
        `number` = #{number},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="servicePrefix != null" >
        servicePrefix = #{servicePrefix},
      </if>
      <if test="persistantPrefix != null" >
        persistantPrefix = #{persistantPrefix},
      </if>
      <if test="serialNumber != null" >
        serialNumber = #{serialNumber},
      </if>
      <if test="isBinding != null" >
        isBinding = #{isBinding},
      </if>
      <if test="bindingAt != null" >
        bindingAt = #{bindingAt},
      </if>
      <if test="bindingId != null" >
        bindingId = #{bindingId},
      </if>
      <if test="bindingPayload != null" >
        bindingPayload = #{bindingPayload},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE link_code SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE link_code SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.LinkCode" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO link_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      `number`,
      type,
      servicePrefix,
      persistantPrefix,
      serialNumber,
      isBinding,
      bindingAt,
      bindingId,
      bindingPayload,
      companyId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{number},
      #{type},
      #{servicePrefix},
      #{persistantPrefix},
      #{serialNumber},
      #{isBinding},
      #{bindingAt},
      #{bindingId},
      #{bindingPayload},
      #{companyId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.LinkCode" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO link_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="number != null" >
        `number`,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="servicePrefix != null" >
        servicePrefix,
      </if>
      <if test="persistantPrefix != null" >
        persistantPrefix,
      </if>
      <if test="serialNumber != null" >
        serialNumber,
      </if>
      <if test="isBinding != null" >
        isBinding,
      </if>
      <if test="bindingAt != null" >
        bindingAt,
      </if>
      <if test="bindingId != null" >
        bindingId,
      </if>
      <if test="bindingPayload != null" >
        bindingPayload,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="number != null" >
        #{number},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="servicePrefix != null" >
        #{servicePrefix},
      </if>
      <if test="persistantPrefix != null" >
        #{persistantPrefix},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber},
      </if>
      <if test="isBinding != null" >
        #{isBinding},
      </if>
      <if test="bindingAt != null" >
        #{bindingAt},
      </if>
      <if test="bindingId != null" >
        #{bindingId},
      </if>
      <if test="bindingPayload != null" >
        #{bindingPayload},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM link_code WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM link_code
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="selectBySerialNumber" resultType="com.welearn.entity.po.common.LinkCode">
    select * from link_code where serialNumber = #{serialNumber} and isEnable = true
  </select>
  <select id="selectByNumber" resultType="com.welearn.entity.po.common.LinkCode">
    select * from link_code where number = #{number} and isEnable = true
  </select>


  <update id="batchUpdateCompanyId">
    update link_code set companyId = #{companyId}
    where `number` >= #{startNumber} and #{endNumber} >= `number` and isEnable = true
  </update>
</mapper>