<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : permission
  Comment  : 权限
  Mapper   : com.welearn.mapper.PermissionMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/1/6 23:08:28
-->
<mapper namespace="com.welearn.mapper.PermissionMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    description,
    type,
    code,
    service
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    permission.id AS id,
    permission.createdAt AS createdAt,
    permission.updatedAt AS updatedAt,
    permission.isEnable AS isEnable,
    permission.name AS name,
    permission.description AS description,
    permission.type AS type,
    permission.code AS code,
    permission.service AS service
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.Permission" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 类型 -->
    <result column="type" property="type"/>
    <!-- Comment: 编码 -->
    <result column="code" property="code"/>
    <!-- Comment: 所属服务 -->
    <result column="service" property="service"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.Permission" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM permission
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.Permission" parameterType="com.welearn.entity.qo.common.PermissionQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM permission
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="name != null" >
        AND name = #{name}
      </if>
      <if test="description != null" >
        AND description = #{description}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="code != null" >
        AND code = #{code}
      </if>
      <if test="service != null" >
        AND service = #{service}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.Permission" >
    SELECT
    <include refid="sqlColumns"/>
    FROM permission
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM permission
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.Permission" >
    UPDATE permission
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      description = #{description},
      type = #{type},
      code = #{code},
      service = #{service},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.Permission" >
    UPDATE permission
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="service != null" >
        service = #{service},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE permission SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE permission SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.Permission" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      description,
      type,
      code,
      service,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{description},
      #{type},
      #{code},
      #{service},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.Permission" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="service != null" >
        service,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="service != null" >
        #{service},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM permission WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM permission
  </delete>
  

  
  <!-- START USER DEFINED -->

  <select id="selectByCode" resultType="com.welearn.entity.po.common.Permission">
    SELECT p.*
    FROM permission p
    WHERE p.code = #{code}
      AND p.isEnable = TRUE
  </select>
  <select id="selectByService" resultType="com.welearn.entity.po.common.Permission">
    SELECT p.*
    FROM permission p
    WHERE p.service = #{service}
  </select>
  <select id="selectAllEnabled" resultType="com.welearn.entity.po.common.Permission">
    SELECT *
    FROM permission
    WHERE isEnable = TRUE
  </select>
</mapper>