<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : position
  Comment  : 部门职务
  Mapper   : com.welearn.mapper.PositionMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/9/13 16:10:03
-->
<mapper namespace="com.welearn.mapper.PositionMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    type,
    visitorCompanyType,
    companyId,
    departmentId,
    name,
    code,
    description,
    color,
    minCount,
    maxCount
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    position.id AS id,
    position.createdAt AS createdAt,
    position.updatedAt AS updatedAt,
    position.isEnable AS isEnable,
    position.type AS type,
    position.visitorCompanyType AS visitorCompanyType,
    position.companyId AS companyId,
    position.departmentId AS departmentId,
    position.name AS name,
    position.code AS code,
    position.description AS description,
    position.color AS color,
    position.minCount AS minCount,
    position.maxCount AS maxCount
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.Position" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 类型: 0-系统定义的特殊职位 1-用户定义的公司职位 2-用户定义的部门职位 -->
    <result column="type" property="type"/>
    <!-- Comment: 访问者公司类型(主要对系统定义的特殊职位进行区分): 0-医院 1-供应商 2-平台 -->
    <result column="visitorCompanyType" property="visitorCompanyType"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 职位名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 职位编码, 仅系统创建的职位带此信息 -->
    <result column="code" property="code"/>
    <!-- Comment: 职位描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 颜色 -->
    <result column="color" property="color"/>
    <!-- Comment: 公司该职位人员数量最小限制: 0-不限制 -->
    <result column="minCount" property="minCount"/>
    <!-- Comment: 公司该职位人员数量最大限制: 0-不限制 -->
    <result column="maxCount" property="maxCount"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.Position" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM position
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.Position" parameterType="com.welearn.entity.qo.common.PositionQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM position
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="visitorCompanyType != null" >
        AND visitorCompanyType = #{visitorCompanyType}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="departmentId != null" >
        AND departmentId = #{departmentId}
      </if>
      <if test="name != null" >
        AND name = #{name}
      </if>
      <if test="code != null" >
        AND code = #{code}
      </if>
      <if test="description != null" >
        AND description = #{description}
      </if>
      <if test="color != null" >
        AND color = #{color}
      </if>
      <if test="minCount != null" >
        AND minCount = #{minCount}
      </if>
      <if test="maxCount != null" >
        AND maxCount = #{maxCount}
      </if>
      <!-- START USER DEFINED -->
      <if test="isSystemDefined != null" >
        AND type in
        <if test="isSystemDefined == true " >
          (0, 1)
        </if>
        <if test="isSystemDefined == false " >
          (2, 3)
        </if>
      </if>
      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.Position" >
    SELECT
    <include refid="sqlColumns"/>
    FROM position
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM position
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.Position" >
    UPDATE position
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      type = #{type},
      visitorCompanyType = #{visitorCompanyType},
      companyId = #{companyId},
      departmentId = #{departmentId},
      name = #{name},
      code = #{code},
      description = #{description},
      color = #{color},
      minCount = #{minCount},
      maxCount = #{maxCount},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.Position" >
    UPDATE position
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="visitorCompanyType != null" >
        visitorCompanyType = #{visitorCompanyType},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="color != null" >
        color = #{color},
      </if>
      <if test="minCount != null" >
        minCount = #{minCount},
      </if>
      <if test="maxCount != null" >
        maxCount = #{maxCount},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE position SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE position SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.Position" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      type,
      visitorCompanyType,
      companyId,
      departmentId,
      name,
      code,
      description,
      color,
      minCount,
      maxCount,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{type},
      #{visitorCompanyType},
      #{companyId},
      #{departmentId},
      #{name},
      #{code},
      #{description},
      #{color},
      #{minCount},
      #{maxCount},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.Position" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="visitorCompanyType != null" >
        visitorCompanyType,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="minCount != null" >
        minCount,
      </if>
      <if test="maxCount != null" >
        maxCount,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="visitorCompanyType != null" >
        #{visitorCompanyType},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="color != null" >
        #{color},
      </if>
      <if test="minCount != null" >
        #{minCount},
      </if>
      <if test="maxCount != null" >
        #{maxCount},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM position WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM position
  </delete>

  <!-- START USER DEFINED -->
  <select id="userPositions" resultType="com.welearn.entity.po.common.Position">
    select p.*
    from position p
    join re_user_position rup on rup.userId = #{userId} and p.id = rup.positionId and rup.isEnable = true
    where p.isEnable = true
  </select>
  <select id="userSearch" resultType="com.welearn.entity.po.common.User">
    select distinct u.*
    from re_user_position rup
    join position p on p.id = rup.positionId and p.isEnable = true
    <if test="positionId != null" >
      and p.id = #{positionId}
    </if>
    <if test="code != null" >
      and p.code = #{code}
    </if>
    join user u on rup.userId = u.id
    where rup.companyId = #{companyId}
    <if test="departmentId != null" >
      and rup.departmentId = #{departmentId}
    </if>
      and rup.isEnable = true
  </select>
  <select id="available" resultType="com.welearn.entity.po.common.Position">
    select distinct p.*
    from position p
    where (
        p.type in (0, 1)
        <if test="companyId != null" >
          or (p.type = 2 and p.companyId = #{companyId})
        </if>
        <if test="departmentId != null" >
          or (p.type = 3 and p.departmentId = #{departmentId})
        </if>
      )
      <if test="visitorCompanyType != null" >
        and p.visitorCompanyType = #{visitorCompanyType}
      </if>
      and p.isEnable = true
  </select>
  <select id="companyPositionInfo" resultType="com.welearn.entity.vo.response.common.PositionInfo">
    select p.id, p.`name`,p.departmentId , p.type, p.color, p.minCount, p.maxCount,
           rup.departmentId AS userDepartmentId, u.id AS userId, u.`name` AS userName
    FROM position p
    LEFT JOIN re_user_position rup ON rup.positionId = p.id AND rup.isEnable = TRUE
    LEFT JOIN user u ON u.id = rup.userId AND u.isEnable = TRUE
    WHERE p.visitorCompanyType = #{companyType}
      AND (p.type in (0, 1) OR p.companyId = #{companyId})
      AND p.isEnable = TRUE
  </select>
  <select id="userPositionInfo" resultType="com.welearn.entity.vo.response.common.PositionInfo">
    select distinct p.id, p.`name`,p.departmentId , p.type, p.color, p.minCount, p.maxCount,
           rup.departmentId AS userDepartmentId
    FROM position p
    JOIN re_user_position rup ON rup.positionId = p.id AND rup.userId = #{userId} AND rup.isEnable = TRUE
    WHERE p.isEnable = TRUE
  </select>
</mapper>