<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_route_help
  Comment  : 前端路由的帮助信息
  Mapper   : com.welearn.mapper.ReRouteHelpMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/4 16:18:22
-->
<mapper namespace="com.welearn.mapper.ReRouteHelpMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    clientType,
    path,
    name,
    description,
    helpInfoId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_route_help.id AS id,
    re_route_help.createdAt AS createdAt,
    re_route_help.updatedAt AS updatedAt,
    re_route_help.isEnable AS isEnable,
    re_route_help.clientType AS clientType,
    re_route_help.path AS path,
    re_route_help.name AS name,
    re_route_help.description AS description,
    re_route_help.helpInfoId AS helpInfoId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.ReRouteHelp" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 客户端类型: 1-web -->
    <result column="clientType" property="clientType"/>
    <!-- Comment: 前端路由地址 -->
    <result column="path" property="path"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 帮助信息富文本id -->
    <result column="helpInfoId" property="helpInfoId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.ReRouteHelp" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_route_help
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.ReRouteHelp" parameterType="com.welearn.entity.qo.common.ReRouteHelpQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_route_help
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="clientType != null" >
          AND clientType = #{clientType}
        </if>
        <if test="path != null" >
          AND path = #{path}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <if test="helpInfoId != null" >
          AND helpInfoId = #{helpInfoId}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.ReRouteHelp" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_route_help
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_route_help
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.ReRouteHelp" >
    UPDATE re_route_help
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      clientType = #{clientType},
      path = #{path},
      name = #{name},
      description = #{description},
      helpInfoId = #{helpInfoId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.ReRouteHelp" >
    UPDATE re_route_help
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="clientType != null" >
        clientType = #{clientType},
      </if>
      <if test="path != null" >
        path = #{path},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="helpInfoId != null" >
        helpInfoId = #{helpInfoId},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_route_help SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_route_help SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.ReRouteHelp" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_route_help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      clientType,
      path,
      name,
      description,
      helpInfoId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{clientType},
      #{path},
      #{name},
      #{description},
      #{helpInfoId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.ReRouteHelp" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_route_help 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="clientType != null" >
        clientType,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="helpInfoId != null" >
        helpInfoId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="clientType != null" >
        #{clientType},
      </if>
      <if test="path != null" >
        #{path},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="helpInfoId != null" >
        #{helpInfoId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_route_help WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_route_help
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>