<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_role_permission
  Comment  : 角色权限关联
  Mapper   : com.welearn.mapper.ReRolePermissionMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/1/6 23:08:28
-->
<mapper namespace="com.welearn.mapper.ReRolePermissionMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    roleId,
    permissionId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_role_permission.id AS id,
    re_role_permission.createdAt AS createdAt,
    re_role_permission.updatedAt AS updatedAt,
    re_role_permission.isEnable AS isEnable,
    re_role_permission.roleId AS roleId,
    re_role_permission.permissionId AS permissionId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.ReRolePermission" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 角色id -->
    <result column="roleId" property="roleId"/>
    <!-- Comment: 权限id -->
    <result column="permissionId" property="permissionId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.ReRolePermission" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM re_role_permission
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.ReRolePermission" parameterType="com.welearn.entity.qo.common.ReRolePermissionQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM re_role_permission
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="roleId != null" >
        AND roleId = #{roleId}
      </if>
      <if test="permissionId != null" >
        AND permissionId = #{permissionId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.ReRolePermission" >
    SELECT
    <include refid="sqlColumns"/>
    FROM re_role_permission
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_role_permission
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.ReRolePermission" >
    UPDATE re_role_permission
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      roleId = #{roleId},
      permissionId = #{permissionId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.ReRolePermission" >
    UPDATE re_role_permission
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="roleId != null" >
        roleId = #{roleId},
      </if>
      <if test="permissionId != null" >
        permissionId = #{permissionId},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_role_permission SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_role_permission SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.ReRolePermission" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      roleId,
      permissionId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{roleId},
      #{permissionId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.ReRolePermission" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="roleId != null" >
        roleId,
      </if>
      <if test="permissionId != null" >
        permissionId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="roleId != null" >
        #{roleId},
      </if>
      <if test="permissionId != null" >
        #{permissionId},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_role_permission WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_role_permission
  </delete>

  
  <!-- START USER DEFINED -->
  <select id="selectByRoleIdAndPermissionId" resultType="com.welearn.entity.po.common.ReRolePermission">
    SELECT
    <include refid="sqlColumns"/>
    FROM re_role_permission
    WHERE re_role_permission.roleId = #{roleId}
    AND re_role_permission.permissionId = #{permissionId}
  </select>
  <select id="selectByRoleId" resultType="com.welearn.entity.po.common.Permission">
    SELECT permission.*
    FROM re_role_permission
           JOIN permission
                 ON re_role_permission.permissionId = permission.id
                      AND permission.isEnable = TRUE
    WHERE re_role_permission.roleId = #{roleId}
      AND re_role_permission.isEnable = TRUE
  </select>
  <select id="selectByUserId" resultType="com.welearn.entity.po.common.Permission">
    SELECT distinct p.*
    FROM re_user_role rur
           join role r on rur.roleId = r.id and r.isEnable = true
           JOIN re_role_permission rrp
                 ON rrp.roleId = rur.roleId AND rrp.isEnable = TRUE
           JOIN permission p
                 ON rrp.permissionId = p.id AND p.isEnable = TRUE
    WHERE rur.userId = #{userId}
      AND rur.isEnable = TRUE
  </select>
  <select id="selectAllEnabled" resultType="com.welearn.entity.po.common.ReRolePermission">
    SELECT *
    FROM re_role_permission
    WHERE isEnable = TRUE
  </select>
  <select id="selectByUserIdAndPermissionCode" resultType="com.welearn.entity.po.common.ReRolePermission">
    SELECT rrp.*
    FROM re_role_permission rrp
      join permission p on p.code = #{permissionCode} and rrp.permissionId = p.id and p.isEnable = true
      join re_user_role rur on rur.userId = #{userId} and rur.roleId = rrp.permissionId and rur.isEnable = true
    WHERE rrp.isEnable = TRUE
  </select>
</mapper>