<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_user_position
  Comment  : 部门职务分配记录
  Mapper   : com.welearn.mapper.ReUserPositionMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/29 17:02:10
-->
<mapper namespace="com.welearn.mapper.ReUserPositionMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    creatorId,
    companyId,
    departmentId,
    positionId,
    userId,
    allotAt,
    takeBackAt
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_user_position.id AS id,
    re_user_position.createdAt AS createdAt,
    re_user_position.updatedAt AS updatedAt,
    re_user_position.isEnable AS isEnable,
    re_user_position.creatorId AS creatorId,
    re_user_position.companyId AS companyId,
    re_user_position.departmentId AS departmentId,
    re_user_position.positionId AS positionId,
    re_user_position.userId AS userId,
    re_user_position.allotAt AS allotAt,
    re_user_position.takeBackAt AS takeBackAt
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.ReUserPosition" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 创建者id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 职务id -->
    <result column="positionId" property="positionId"/>
    <!-- Comment: 用户id -->
    <result column="userId" property="userId"/>
    <!-- Comment: 分配时间 -->
    <result column="allotAt" property="allotAt"/>
    <!-- Comment: 撤回时间 -->
    <result column="takeBackAt" property="takeBackAt"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.ReUserPosition" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_user_position
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.ReUserPosition" parameterType="com.welearn.entity.qo.common.ReUserPositionQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_user_position
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="creatorId != null" >
          AND creatorId = #{creatorId}
        </if>
        <if test="companyId != null" >
          AND companyId = #{companyId}
        </if>
        <if test="departmentId != null" >
          AND departmentId = #{departmentId}
        </if>
        <if test="positionId != null" >
          AND positionId = #{positionId}
        </if>
        <if test="userId != null" >
          AND userId = #{userId}
        </if>
        <if test="allotAt != null" >
          AND allotAt = #{allotAt}
        </if>
        <if test="takeBackAt != null" >
          AND takeBackAt = #{takeBackAt}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.ReUserPosition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_user_position
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_user_position
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.ReUserPosition" >
    UPDATE re_user_position
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      creatorId = #{creatorId},
      companyId = #{companyId},
      departmentId = #{departmentId},
      positionId = #{positionId},
      userId = #{userId},
      allotAt = #{allotAt},
      takeBackAt = #{takeBackAt},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.ReUserPosition" >
    UPDATE re_user_position
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="positionId != null" >
        positionId = #{positionId},
      </if>
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="allotAt != null" >
        allotAt = #{allotAt},
      </if>
      <if test="takeBackAt != null" >
        takeBackAt = #{takeBackAt},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_user_position SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_user_position SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.ReUserPosition" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_user_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      creatorId,
      companyId,
      departmentId,
      positionId,
      userId,
      allotAt,
      takeBackAt,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{creatorId},
      #{companyId},
      #{departmentId},
      #{positionId},
      #{userId},
      #{allotAt},
      #{takeBackAt},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.ReUserPosition" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_user_position 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="positionId != null" >
        positionId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="allotAt != null" >
        allotAt,
      </if>
      <if test="takeBackAt != null" >
        takeBackAt,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="positionId != null" >
        #{positionId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="allotAt != null" >
        #{allotAt},
      </if>
      <if test="takeBackAt != null" >
        #{takeBackAt},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_user_position WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_user_position
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>