<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Table    : user
  Comment  : 用户
  Mapper   : com.welearn.mapper.UserMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/20 14:54:08
-->
<mapper namespace="com.welearn.mapper.UserMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    email,
    password,
    telephone,
    sex,
    birthday,
    state,
    headImageUrl,
    companyId,
    departmentId,
    lockStatus,
    lockCount,
    lockedAt,
    wechatStatus,
    type,
    authCode,
    authCodeLastSendAt,
    configJson
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    user.id AS id,
    user.createdAt AS createdAt,
    user.updatedAt AS updatedAt,
    user.isEnable AS isEnable,
    user.name AS name,
    user.email AS email,
    user.password AS password,
    user.telephone AS telephone,
    user.sex AS sex,
    user.birthday AS birthday,
    user.state AS state,
    user.headImageUrl AS headImageUrl,
    user.companyId AS companyId,
    user.departmentId AS departmentId,
    user.lockStatus AS lockStatus,
    user.lockCount AS lockCount,
    user.lockedAt AS lockedAt,
    user.wechatStatus AS wechatStatus,
    user.type AS type,
    user.authCode AS authCode,
    user.authCodeLastSendAt AS authCodeLastSendAt,
    user.configJson AS configJson
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.User" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 邮箱 -->
    <result column="email" property="email"/>
    <!-- Comment: 密码 -->
    <result column="password" property="password"/>
    <!-- Comment: 手机 -->
    <result column="telephone" property="telephone"/>
    <!-- Comment: 性别：0-未知，1-男，2-女 -->
    <result column="sex" property="sex"/>
    <!-- Comment: 生日 -->
    <result column="birthday" property="birthday"/>
    <!-- Comment: 状态：1-正常，2-请假，3-外出... -->
    <result column="state" property="state"/>
    <!-- Comment: 头像图片URL -->
    <result column="headImageUrl" property="headImageUrl"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 锁定状态：0-未锁定，1-已锁定 -->
    <result column="lockStatus" property="lockStatus"/>
    <!-- Comment: 锁定计数 -->
    <result column="lockCount" property="lockCount"/>
    <!-- Comment: 锁定计时 -->
    <result column="lockedAt" property="lockedAt"/>
    <!-- Comment: 微信状态 0-未关注 1-已关注 2-已绑定 -->
    <result column="wechatStatus" property="wechatStatus"/>
    <!-- Comment: 账户类型: 0-人 1-设备 -->
    <result column="type" property="type"/>
    <!-- Comment: 验证码 -->
    <result column="authCode" property="authCode"/>
    <!-- Comment: 验证码最近一次发送时间 -->
    <result column="authCodeLastSendAt" property="authCodeLastSendAt"/>
    <!-- Comment: 参数配置项 key-value 键值对 -->
    <result column="configJson" property="configJson"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.User" parameterType="java.lang.String">
    SELECT *
    FROM user
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.User" parameterType="com.welearn.entity.qo.common.UserQueryCondition" >
    SELECT distinct u.*
    FROM user u
    <if test="roleId != null" >
      join re_user_role rur on rur.roleId = #{roleId} and rur.userId = u.id and rur.isEnable = true
    </if>
    <if test="departmentId != null" >
      join re_user_department rud on rud.departmentId = #{departmentId} and rud.userId = u.id and rud.isEnable = true
    </if>
    <where>
      <if test="id != null" >
        u.id = #{id}
      </if>
      <if test="createdAt != null" >
        AND u.createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND u.updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND u.isEnable = #{isEnable}
      </if>
      <if test="name != null" >
        AND u.name like CONCAT('%',#{name},'%')
      </if>
      <if test="email != null" >
        AND u.email = #{email}
      </if>
      <if test="password != null" >
        AND u.password = #{password}
      </if>
      <if test="telephone != null" >
        AND u.telephone like CONCAT('%',#{telephone},'%')
      </if>
      <if test="sex != null" >
        AND u.sex = #{sex}
      </if>
      <if test="birthday != null" >
        AND u.birthday = #{birthday}
      </if>
      <if test="state != null" >
        AND u.state = #{state}
      </if>
      <if test="headImageUrl != null" >
        AND u.headImageUrl = #{headImageUrl}
      </if>
      <if test="companyId != null" >
        AND u.companyId = #{companyId}
      </if>
      <if test="lockStatus != null" >
        AND u.lockStatus = #{lockStatus}
      </if>
      <if test="lockCount != null" >
        AND u.lockCount = #{lockCount}
      </if>
      <if test="lockedAt != null" >
        AND u.lockedAt = #{lockedAt}
      </if>
      <if test="wechatStatus != null" >
        AND u.wechatStatus = #{wechatStatus}
      </if>
      <if test="type != null" >
        AND u.type = #{type}
      </if>
      <if test="authCode != null" >
        AND u.authCode = #{authCode}
      </if>
      <if test="authCodeLastSendAt != null" >
        AND u.authCodeLastSendAt = #{authCodeLastSendAt}
      </if>
      <if test="configJson != null" >
        AND u.configJson = #{configJson}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY u.isEnable DESC, u.createdAt ASC, u.updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.User" >
    SELECT
    <include refid="sqlColumns"/>
    FROM user
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM user
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.User" >
    UPDATE user
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      email = #{email},
      password = #{password},
      telephone = #{telephone},
      sex = #{sex},
      birthday = #{birthday},
      state = #{state},
      headImageUrl = #{headImageUrl},
      companyId = #{companyId},
      departmentId = #{departmentId},
      lockStatus = #{lockStatus},
      lockCount = #{lockCount},
      lockedAt = #{lockedAt},
      wechatStatus = #{wechatStatus},
      type = #{type},
      authCode = #{authCode},
      authCodeLastSendAt = #{authCodeLastSendAt},
      configJson = #{configJson},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.User" >
    UPDATE user
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="headImageUrl != null" >
        headImageUrl = #{headImageUrl},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="lockStatus != null" >
        lockStatus = #{lockStatus},
      </if>
      <if test="lockCount != null" >
        lockCount = #{lockCount},
      </if>
      <if test="lockedAt != null" >
        lockedAt = #{lockedAt},
      </if>
      <if test="wechatStatus != null" >
        wechatStatus = #{wechatStatus},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="authCode != null" >
        authCode = #{authCode},
      </if>
      <if test="authCodeLastSendAt != null" >
        authCodeLastSendAt = #{authCodeLastSendAt},
      </if>
      <if test="configJson != null" >
        configJson = #{configJson},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE user SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE user SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.User" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      email,
      password,
      telephone,
      sex,
      birthday,
      state,
      headImageUrl,
      companyId,
      departmentId,
      lockStatus,
      lockCount,
      lockedAt,
      wechatStatus,
      type,
      authCode,
      authCodeLastSendAt,
      configJson,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{email},
      #{password},
      #{telephone},
      #{sex},
      #{birthday},
      #{state},
      #{headImageUrl},
      #{companyId},
      #{departmentId},
      #{lockStatus},
      #{lockCount},
      #{lockedAt},
      #{wechatStatus},
      #{type},
      #{authCode},
      #{authCodeLastSendAt},
      #{configJson},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.User" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="headImageUrl != null" >
        headImageUrl,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="lockStatus != null" >
        lockStatus,
      </if>
      <if test="lockCount != null" >
        lockCount,
      </if>
      <if test="lockedAt != null" >
        lockedAt,
      </if>
      <if test="wechatStatus != null" >
        wechatStatus,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="authCode != null" >
        authCode,
      </if>
      <if test="authCodeLastSendAt != null" >
        authCodeLastSendAt,
      </if>
      <if test="configJson != null" >
        configJson,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="telephone != null" >
        #{telephone},
      </if>
      <if test="sex != null" >
        #{sex},
      </if>
      <if test="birthday != null" >
        #{birthday},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="headImageUrl != null" >
        #{headImageUrl},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="lockStatus != null" >
        #{lockStatus},
      </if>
      <if test="lockCount != null" >
        #{lockCount},
      </if>
      <if test="lockedAt != null" >
        #{lockedAt},
      </if>
      <if test="wechatStatus != null" >
        #{wechatStatus},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="authCode != null" >
        #{authCode},
      </if>
      <if test="authCodeLastSendAt != null" >
        #{authCodeLastSendAt},
      </if>
      <if test="configJson != null" >
        #{configJson},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM user WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM user
  </delete>


  <!-- START USER DEFINED -->

  <select id="searchInfo" resultType="com.welearn.entity.vo.response.common.UserInfo" parameterType="com.welearn.entity.qo.common.UserQueryCondition" >
    SELECT
      distinct u.*, c.name as companyName
    FROM user u
    left join company c on c.id = u.companyId
    <if test="roleId != null" >
      join re_user_role rur on rur.roleId = #{roleId} and rur.userId = u.id and rur.isEnable = true
    </if>
    <if test="departmentId != null" >
      join re_user_department rud on rud.departmentId = #{departmentId} and rud.userId = u.id and rud.isEnable = true
    </if>
    <where>
      <if test="isEnable != null" >
        AND u.isEnable = #{isEnable}
      </if>
      <if test="name != null" >
        AND u.name like CONCAT('%',#{name},'%')
      </if>
      <if test="state != null" >
        AND u.state = #{state}
      </if>
      <if test="companyId != null" >
        AND u.companyId = #{companyId}
      </if>
    </where>
    ORDER BY u.isEnable DESC, u.createdAt ASC, u.updatedAt DESC
  </select>
  <select id="contacts" resultType="com.welearn.entity.vo.response.common.ContactInfo">
    select u.id, rud.departmentId, u.name, u.sex, u.telephone, u.email, u.headImageUrl as avatar
    from user u
    join re_user_department rud on u.id = rud.userId
      <if test="departmentId != null" >
        AND rud.departmentId = #{departmentId}
      </if>
      and rud.isEnable = true
    where u.companyId = #{companyId} and u.isEnable = true
  </select>
</mapper>