<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : wechat_app_user
  Comment  : 微信小程序用户
  Mapper   : com.welearn.mapper.WechatAppUserMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/22 15:00:33
-->
<mapper namespace="com.welearn.mapper.WechatAppUserMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    userId,
    openId,
    sessionKey,
    sessionKeyCreatedAt,
    nickName,
    gender,
    language,
    city,
    province,
    country,
    avatarUrl,
    unionId,
    remark,
    groupId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    wechat_app_user.id AS id,
    wechat_app_user.createdAt AS createdAt,
    wechat_app_user.updatedAt AS updatedAt,
    wechat_app_user.isEnable AS isEnable,
    wechat_app_user.userId AS userId,
    wechat_app_user.openId AS openId,
    wechat_app_user.sessionKey AS sessionKey,
    wechat_app_user.sessionKeyCreatedAt AS sessionKeyCreatedAt,
    wechat_app_user.nickName AS nickName,
    wechat_app_user.gender AS gender,
    wechat_app_user.language AS language,
    wechat_app_user.city AS city,
    wechat_app_user.province AS province,
    wechat_app_user.country AS country,
    wechat_app_user.avatarUrl AS avatarUrl,
    wechat_app_user.unionId AS unionId,
    wechat_app_user.remark AS remark,
    wechat_app_user.groupId AS groupId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.WechatAppUser" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 用户id -->
    <result column="userId" property="userId"/>
    <!-- Comment: openId -->
    <result column="openId" property="openId"/>
    <!-- Comment: sessionKey -->
    <result column="sessionKey" property="sessionKey"/>
    <!-- Comment: sessionKey创建时间 -->
    <result column="sessionKeyCreatedAt" property="sessionKeyCreatedAt"/>
    <!-- Comment: 昵称 -->
    <result column="nickName" property="nickName"/>
    <!-- Comment: 性别 -->
    <result column="gender" property="gender"/>
    <!-- Comment: 语言 -->
    <result column="language" property="language"/>
    <!-- Comment: 城市 -->
    <result column="city" property="city"/>
    <!-- Comment: 省份 -->
    <result column="province" property="province"/>
    <!-- Comment: 国家 -->
    <result column="country" property="country"/>
    <!-- Comment: 头像 -->
    <result column="avatarUrl" property="avatarUrl"/>
    <!-- Comment: UNION-ID -->
    <result column="unionId" property="unionId"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
    <!-- Comment: 组 -->
    <result column="groupId" property="groupId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.WechatAppUser" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM wechat_app_user
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.WechatAppUser" parameterType="com.welearn.entity.qo.common.WechatAppUserQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM wechat_app_user
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="userId != null" >
          AND userId = #{userId}
        </if>
        <if test="openId != null" >
          AND openId = #{openId}
        </if>
        <if test="sessionKey != null" >
          AND sessionKey = #{sessionKey}
        </if>
        <if test="sessionKeyCreatedAt != null" >
          AND sessionKeyCreatedAt = #{sessionKeyCreatedAt}
        </if>
        <if test="nickName != null" >
          AND nickName = #{nickName}
        </if>
        <if test="gender != null" >
          AND gender = #{gender}
        </if>
        <if test="language != null" >
          AND language = #{language}
        </if>
        <if test="city != null" >
          AND city = #{city}
        </if>
        <if test="province != null" >
          AND province = #{province}
        </if>
        <if test="country != null" >
          AND country = #{country}
        </if>
        <if test="avatarUrl != null" >
          AND avatarUrl = #{avatarUrl}
        </if>
        <if test="unionId != null" >
          AND unionId = #{unionId}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <if test="groupId != null" >
          AND groupId = #{groupId}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.WechatAppUser" >
    SELECT
      <include refid="sqlColumns"/>
    FROM wechat_app_user
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM wechat_app_user
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.WechatAppUser" >
    UPDATE wechat_app_user
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      userId = #{userId},
      openId = #{openId},
      sessionKey = #{sessionKey},
      sessionKeyCreatedAt = #{sessionKeyCreatedAt},
      nickName = #{nickName},
      gender = #{gender},
      language = #{language},
      city = #{city},
      province = #{province},
      country = #{country},
      avatarUrl = #{avatarUrl},
      unionId = #{unionId},
      remark = #{remark},
      groupId = #{groupId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.WechatAppUser" >
    UPDATE wechat_app_user
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="openId != null" >
        openId = #{openId},
      </if>
      <if test="sessionKey != null" >
        sessionKey = #{sessionKey},
      </if>
      <if test="sessionKeyCreatedAt != null" >
        sessionKeyCreatedAt = #{sessionKeyCreatedAt},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName},
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="language != null" >
        language = #{language},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="country != null" >
        country = #{country},
      </if>
      <if test="avatarUrl != null" >
        avatarUrl = #{avatarUrl},
      </if>
      <if test="unionId != null" >
        unionId = #{unionId},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="groupId != null" >
        groupId = #{groupId},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE wechat_app_user SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE wechat_app_user SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.WechatAppUser" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO wechat_app_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      userId,
      openId,
      sessionKey,
      sessionKeyCreatedAt,
      nickName,
      gender,
      language,
      city,
      province,
      country,
      avatarUrl,
      unionId,
      remark,
      groupId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{userId},
      #{openId},
      #{sessionKey},
      #{sessionKeyCreatedAt},
      #{nickName},
      #{gender},
      #{language},
      #{city},
      #{province},
      #{country},
      #{avatarUrl},
      #{unionId},
      #{remark},
      #{groupId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.WechatAppUser" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO wechat_app_user 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="sessionKey != null" >
        sessionKey,
      </if>
      <if test="sessionKeyCreatedAt != null" >
        sessionKeyCreatedAt,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="avatarUrl != null" >
        avatarUrl,
      </if>
      <if test="unionId != null" >
        unionId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="groupId != null" >
        groupId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="openId != null" >
        #{openId},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey},
      </if>
      <if test="sessionKeyCreatedAt != null" >
        #{sessionKeyCreatedAt},
      </if>
      <if test="nickName != null" >
        #{nickName},
      </if>
      <if test="gender != null" >
        #{gender},
      </if>
      <if test="language != null" >
        #{language},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="country != null" >
        #{country},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl},
      </if>
      <if test="unionId != null" >
        #{unionId},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="groupId != null" >
        #{groupId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM wechat_app_user WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM wechat_app_user
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>