<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : approval_application
  Comment  : 申请信息
  Mapper   : com.welearn.mapper.ApprovalApplicationMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/10/12 14:50:39
-->
<mapper namespace="com.welearn.mapper.ApprovalApplicationMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    linkId,
    type,
    applicantId,
    applicantName,
    companyId,
    departmentId,
    departmentName,
    applyAt,
    status,
    contentId,
    outlook,
    processId,
    processJson
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    approval_application.id AS id,
    approval_application.createdAt AS createdAt,
    approval_application.updatedAt AS updatedAt,
    approval_application.isEnable AS isEnable,
    approval_application.linkId AS linkId,
    approval_application.type AS type,
    approval_application.applicantId AS applicantId,
    approval_application.applicantName AS applicantName,
    approval_application.companyId AS companyId,
    approval_application.departmentId AS departmentId,
    approval_application.departmentName AS departmentName,
    approval_application.applyAt AS applyAt,
    approval_application.status AS status,
    approval_application.contentId AS contentId,
    approval_application.outlook AS outlook,
    approval_application.processId AS processId,
    approval_application.processJson AS processJson
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.apply.ApprovalApplication" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 分步申请中的上一步申请id -->
    <result column="linkId" property="linkId"/>
    <!-- Comment: 申请类型:0-一般申请,1-分步申请 -->
    <result column="type" property="type"/>
    <!-- Comment: 申请人id -->
    <result column="applicantId" property="applicantId"/>
    <!-- Comment: 申请人姓名 -->
    <result column="applicantName" property="applicantName"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 申请人所在部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 申请人所在部门名称 -->
    <result column="departmentName" property="departmentName"/>
    <!-- Comment: 申请时间 -->
    <result column="applyAt" property="applyAt"/>
    <!-- Comment: 申请状态 0-待提交 1-待审批 2-待修改 3-通过 4-驳回 -->
    <result column="status" property="status"/>
    <!-- Comment: 申请内容id -->
    <result column="contentId" property="contentId"/>
    <!-- Comment: 内容简述 -->
    <result column="outlook" property="outlook"/>
    <!-- Comment: 审批流程id -->
    <result column="processId" property="processId"/>
    <!-- Comment: 审批流程缓存,用户可对审批流程进行一定的自定义,此处保存自定义后流程的JSON序列化数据 -->
    <result column="processJson" property="processJson"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.apply.ApprovalApplication" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM approval_application
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.apply.ApprovalApplication" parameterType="com.welearn.entity.qo.apply.ApprovalApplicationQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM approval_application
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="linkId != null" >
        AND linkId = #{linkId}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="applicantId != null" >
        AND applicantId = #{applicantId}
      </if>
      <if test="applicantName != null" >
        AND applicantName = #{applicantName}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="departmentId != null" >
        AND departmentId = #{departmentId}
      </if>
      <if test="departmentName != null" >
        AND departmentName = #{departmentName}
      </if>
      <if test="applyAt != null" >
        AND applyAt = #{applyAt}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="contentId != null" >
        AND contentId = #{contentId}
      </if>
      <if test="outlook != null" >
        AND outlook = #{outlook}
      </if>
      <if test="processId != null" >
        AND processId = #{processId}
      </if>
      <if test="processJson != null" >
        AND processJson = #{processJson}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.apply.ApprovalApplication" >
    SELECT
    <include refid="sqlColumns"/>
    FROM approval_application
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM approval_application
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.apply.ApprovalApplication" >
    UPDATE approval_application
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      linkId = #{linkId},
      type = #{type},
      applicantId = #{applicantId},
      applicantName = #{applicantName},
      companyId = #{companyId},
      departmentId = #{departmentId},
      departmentName = #{departmentName},
      applyAt = #{applyAt},
      status = #{status},
      contentId = #{contentId},
      outlook = #{outlook},
      processId = #{processId},
      processJson = #{processJson},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.apply.ApprovalApplication" >
    UPDATE approval_application
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="linkId != null" >
        linkId = #{linkId},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="applicantId != null" >
        applicantId = #{applicantId},
      </if>
      <if test="applicantName != null" >
        applicantName = #{applicantName},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="departmentName != null" >
        departmentName = #{departmentName},
      </if>
      <if test="applyAt != null" >
        applyAt = #{applyAt},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="contentId != null" >
        contentId = #{contentId},
      </if>
      <if test="outlook != null" >
        outlook = #{outlook},
      </if>
      <if test="processId != null" >
        processId = #{processId},
      </if>
      <if test="processJson != null" >
        processJson = #{processJson},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE approval_application SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE approval_application SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.apply.ApprovalApplication" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO approval_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      linkId,
      type,
      applicantId,
      applicantName,
      companyId,
      departmentId,
      departmentName,
      applyAt,
      status,
      contentId,
      outlook,
      processId,
      processJson,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{linkId},
      #{type},
      #{applicantId},
      #{applicantName},
      #{companyId},
      #{departmentId},
      #{departmentName},
      #{applyAt},
      #{status},
      #{contentId},
      #{outlook},
      #{processId},
      #{processJson},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.apply.ApprovalApplication" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO approval_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="linkId != null" >
        linkId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="applicantId != null" >
        applicantId,
      </if>
      <if test="applicantName != null" >
        applicantName,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="departmentName != null" >
        departmentName,
      </if>
      <if test="applyAt != null" >
        applyAt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="contentId != null" >
        contentId,
      </if>
      <if test="outlook != null" >
        outlook,
      </if>
      <if test="processId != null" >
        processId,
      </if>
      <if test="processJson != null" >
        processJson,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="linkId != null" >
        #{linkId},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="applicantId != null" >
        #{applicantId},
      </if>
      <if test="applicantName != null" >
        #{applicantName},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="departmentName != null" >
        #{departmentName},
      </if>
      <if test="applyAt != null" >
        #{applyAt},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="contentId != null" >
        #{contentId},
      </if>
      <if test="outlook != null" >
        #{outlook},
      </if>
      <if test="processId != null" >
        #{processId},
      </if>
      <if test="processJson != null" >
        #{processJson},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM approval_application WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM approval_application
  </delete>


  <!-- START USER DEFINED -->
  <select id="selectInfoByCondition" resultType="com.welearn.entity.vo.response.apply.ApplicationShow" parameterType="com.welearn.entity.qo.apply.ApprovalApplicationQueryCondition">
    select aa.*,
      ap.name as applicationName, ap.description as applicationDescription, ap.code as applicationCode,
      ar.result as approvalResult, ar.approvalType as approvalType, ar.approvalAt as approvalAt
    from approval_application aa
    join approval_process ap on ap.id = aa.processId and ap.isEnable = true
      <if test="applicationType != null" >
        and ap.code = #{applicationType}
      </if>
    join approval_result ar on ar.applicationId = aa.id and ar.isEnable = true and ar.approverId = #{approverId}
      <if test="approvalType != null" >
        and ar.approvalType = #{approvalType}
      </if>
      <if test="approvalAtStart != null" >
        and ar.approvalAt > #{approvalAtStart}
      </if>
      <if test="approvalAtEnd != null" >
        and #{approvalAtEnd} > ar.approvalAt
      </if>
      <!-- 当查询待审批申请时, 只查询 approvalAt 为 null 的关联申请 -->
      <if test="status == 1" >
        and ar.approvalAt is NULL
      </if>
    <where>
      <if test="status != null" >
        aa.status = #{status}
      </if>
      <if test="isHistoryApproval == true" >
        aa.status >= 3
      </if>
      <if test="departmentId != null" >
        aa.departmentId = #{departmentId}
      </if>
    </where>
    order by ar.approvalAt desc, aa.applyAt desc
  </select>
  <select id="selectUserApplicationByCondition" resultType="com.welearn.entity.vo.response.apply.ApplicationShow" parameterType="com.welearn.entity.qo.apply.ApprovalApplicationQueryCondition">
    select aa.*,
      ap.name as applicationName, ap.description as applicationDescription, ap.code as applicationCode
    from approval_application aa
    join approval_process ap on aa.processId = ap.id and ap.isEnable = true
      <if test="applicationType != null" >
        and ap.code = #{applicationType}
      </if>
    where aa.applicantId = #{applicantId}
      <if test="id != null" >
        and aa.id = #{id}
      </if>
      <if test="applyAtStart != null" >
        and aa.applyAt > #{applyAtStart}
      </if>
      <if test="applyAtEnd != null" >
        and #{applyAtEnd} > aa.applyAt
      </if>
    order by aa.applyAt desc
  </select>
</mapper>