<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : approval_process
  Comment  : 审批流程
  Mapper   : com.welearn.mapper.ApprovalProcessMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/15 10:05:45
-->
<mapper namespace="com.welearn.mapper.ApprovalProcessMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    description,
    code,
    creatorCompanyId,
    visitorCompanyType,
    isUseDefaultProcessPoint
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    approval_process.id AS id,
    approval_process.createdAt AS createdAt,
    approval_process.updatedAt AS updatedAt,
    approval_process.isEnable AS isEnable,
    approval_process.name AS name,
    approval_process.description AS description,
    approval_process.code AS code,
    approval_process.creatorCompanyId AS creatorCompanyId,
    approval_process.visitorCompanyType AS visitorCompanyType,
    approval_process.isUseDefaultProcessPoint AS isUseDefaultProcessPoint
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.apply.ApprovalProcess" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 编码 -->
    <result column="code" property="code"/>
    <!-- Comment: 创建者公司id(一般为平台公司id) -->
    <result column="creatorCompanyId" property="creatorCompanyId"/>
    <!-- Comment: 访问者公司类型(编码和此类型映射到唯一的一个流程上): 0-医院 1-供应商 2-平台 -->
    <result column="visitorCompanyType" property="visitorCompanyType"/>
    <!-- Comment: 是否可用(用于一些情况下系统控制的审批流程, 不允许用户添加)：0-不用，1-使用 -->
    <result column="isUseDefaultProcessPoint" property="isUseDefaultProcessPoint"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.apply.ApprovalProcess" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM approval_process
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.apply.ApprovalProcess" parameterType="com.welearn.entity.qo.apply.ApprovalProcessQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM approval_process
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <if test="code != null" >
          AND code = #{code}
        </if>
        <if test="creatorCompanyId != null" >
          AND creatorCompanyId = #{creatorCompanyId}
        </if>
        <if test="visitorCompanyType != null" >
          AND visitorCompanyType = #{visitorCompanyType}
        </if>
        <if test="isUseDefaultProcessPoint != null" >
          AND isUseDefaultProcessPoint = #{isUseDefaultProcessPoint}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.apply.ApprovalProcess" >
    SELECT
      <include refid="sqlColumns"/>
    FROM approval_process
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM approval_process
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.apply.ApprovalProcess" >
    UPDATE approval_process
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      description = #{description},
      code = #{code},
      creatorCompanyId = #{creatorCompanyId},
      visitorCompanyType = #{visitorCompanyType},
      isUseDefaultProcessPoint = #{isUseDefaultProcessPoint},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.apply.ApprovalProcess" >
    UPDATE approval_process
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="creatorCompanyId != null" >
        creatorCompanyId = #{creatorCompanyId},
      </if>
      <if test="visitorCompanyType != null" >
        visitorCompanyType = #{visitorCompanyType},
      </if>
      <if test="isUseDefaultProcessPoint != null" >
        isUseDefaultProcessPoint = #{isUseDefaultProcessPoint},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE approval_process SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE approval_process SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.apply.ApprovalProcess" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO approval_process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      description,
      code,
      creatorCompanyId,
      visitorCompanyType,
      isUseDefaultProcessPoint,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{description},
      #{code},
      #{creatorCompanyId},
      #{visitorCompanyType},
      #{isUseDefaultProcessPoint},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.apply.ApprovalProcess" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO approval_process 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="creatorCompanyId != null" >
        creatorCompanyId,
      </if>
      <if test="visitorCompanyType != null" >
        visitorCompanyType,
      </if>
      <if test="isUseDefaultProcessPoint != null" >
        isUseDefaultProcessPoint,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="creatorCompanyId != null" >
        #{creatorCompanyId},
      </if>
      <if test="visitorCompanyType != null" >
        #{visitorCompanyType},
      </if>
      <if test="isUseDefaultProcessPoint != null" >
        #{isUseDefaultProcessPoint},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM approval_process WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM approval_process
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>