<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : approval_result
  Comment  : 审批结果
  Mapper   : com.welearn.mapper.ApprovalResultMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/2/25 13:45:19
-->
<mapper namespace="com.welearn.mapper.ApprovalResultMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    applicationId,
    sort,
    opinion,
    result,
    departmentId,
    departmentName,
    approverId,
    approverName,
    signatureId,
    approvalType,
    approvalAt
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    approval_result.id AS id,
    approval_result.createdAt AS createdAt,
    approval_result.updatedAt AS updatedAt,
    approval_result.isEnable AS isEnable,
    approval_result.applicationId AS applicationId,
    approval_result.sort AS sort,
    approval_result.opinion AS opinion,
    approval_result.result AS result,
    approval_result.departmentId AS departmentId,
    approval_result.departmentName AS departmentName,
    approval_result.approverId AS approverId,
    approval_result.approverName AS approverName,
    approval_result.signatureId AS signatureId,
    approval_result.approvalType AS approvalType,
    approval_result.approvalAt AS approvalAt
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.apply.ApprovalResult" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 申请id -->
    <result column="applicationId" property="applicationId"/>
    <!-- Comment: 排序,对应processJson的某个节点 -->
    <result column="sort" property="sort"/>
    <!-- Comment: 审批意见 -->
    <result column="opinion" property="opinion"/>
    <!-- Comment: 审批结果 -->
    <result column="result" property="result"/>
    <!-- Comment: 部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 部门名称 -->
    <result column="departmentName" property="departmentName"/>
    <!-- Comment: 审批人id -->
    <result column="approverId" property="approverId"/>
    <!-- Comment: 审批人姓名 -->
    <result column="approverName" property="approverName"/>
    <!-- Comment: 审批人签名 -->
    <result column="signatureId" property="signatureId"/>
    <!-- Comment: 审批类型 0-部门领导审批 1-部门汇总意见后领导录入 2-部门汇总意见后领导审批 3-抄送通知 -->
    <result column="approvalType" property="approvalType"/>
    <!-- Comment: 审批时间 -->
    <result column="approvalAt" property="approvalAt"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.apply.ApprovalResult" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM approval_result
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.apply.ApprovalResult" parameterType="com.welearn.entity.qo.apply.ApprovalResultQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM approval_result
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="applicationId != null" >
        AND applicationId = #{applicationId}
      </if>
      <if test="sort != null" >
        AND sort = #{sort}
      </if>
      <if test="opinion != null" >
        AND opinion = #{opinion}
      </if>
      <if test="result != null" >
        AND result = #{result}
      </if>
      <if test="departmentId != null" >
        AND departmentId = #{departmentId}
      </if>
      <if test="departmentName != null" >
        AND departmentName = #{departmentName}
      </if>
      <if test="approverId != null" >
        AND approverId = #{approverId}
      </if>
      <if test="approverName != null" >
        AND approverName = #{approverName}
      </if>
      <if test="signatureId != null" >
        AND signatureId = #{signatureId}
      </if>
      <if test="approvalType != null" >
        AND approvalType = #{approvalType}
      </if>
      <if test="approvalAt != null" >
        AND approvalAt = #{approvalAt}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY sort ASC, createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.apply.ApprovalResult" >
    SELECT
    <include refid="sqlColumns"/>
    FROM approval_result
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM approval_result
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.apply.ApprovalResult" >
    UPDATE approval_result
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      applicationId = #{applicationId},
      sort = #{sort},
      opinion = #{opinion},
      result = #{result},
      departmentId = #{departmentId},
      departmentName = #{departmentName},
      approverId = #{approverId},
      approverName = #{approverName},
      signatureId = #{signatureId},
      approvalType = #{approvalType},
      approvalAt = #{approvalAt},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.apply.ApprovalResult" >
    UPDATE approval_result
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="applicationId != null" >
        applicationId = #{applicationId},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion},
      </if>
      <if test="result != null" >
        result = #{result},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="departmentName != null" >
        departmentName = #{departmentName},
      </if>
      <if test="approverId != null" >
        approverId = #{approverId},
      </if>
      <if test="approverName != null" >
        approverName = #{approverName},
      </if>
      <if test="signatureId != null" >
        signatureId = #{signatureId},
      </if>
      <if test="approvalType != null" >
        approvalType = #{approvalType},
      </if>
      <if test="approvalAt != null" >
        approvalAt = #{approvalAt},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE approval_result SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE approval_result SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.apply.ApprovalResult" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO approval_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      applicationId,
      sort,
      opinion,
      result,
      departmentId,
      departmentName,
      approverId,
      approverName,
      signatureId,
      approvalType,
      approvalAt,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{applicationId},
      #{sort},
      #{opinion},
      #{result},
      #{departmentId},
      #{departmentName},
      #{approverId},
      #{approverName},
      #{signatureId},
      #{approvalType},
      #{approvalAt},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.apply.ApprovalResult" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO approval_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="applicationId != null" >
        applicationId,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="departmentName != null" >
        departmentName,
      </if>
      <if test="approverId != null" >
        approverId,
      </if>
      <if test="approverName != null" >
        approverName,
      </if>
      <if test="signatureId != null" >
        signatureId,
      </if>
      <if test="approvalType != null" >
        approvalType,
      </if>
      <if test="approvalAt != null" >
        approvalAt,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="applicationId != null" >
        #{applicationId},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="opinion != null" >
        #{opinion},
      </if>
      <if test="result != null" >
        #{result},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="departmentName != null" >
        #{departmentName},
      </if>
      <if test="approverId != null" >
        #{approverId},
      </if>
      <if test="approverName != null" >
        #{approverName},
      </if>
      <if test="signatureId != null" >
        #{signatureId},
      </if>
      <if test="approvalType != null" >
        #{approvalType},
      </if>
      <if test="approvalAt != null" >
        #{approvalAt},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM approval_result WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM approval_result
  </delete>


  <!-- START USER DEFINED -->

</mapper>