<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment_year_plan
  Comment  : 年度设备计划
  Mapper   : com.welearn.mapper.EquipmentYearPlanMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/10/30 10:33:16
-->
<mapper namespace="com.welearn.mapper.EquipmentYearPlanMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    year,
    companyId,
    departmentApplyStart,
    departmentApplyEnd,
    status
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment_year_plan.id AS id,
    equipment_year_plan.createdAt AS createdAt,
    equipment_year_plan.updatedAt AS updatedAt,
    equipment_year_plan.isEnable AS isEnable,
    equipment_year_plan.year AS year,
    equipment_year_plan.companyId AS companyId,
    equipment_year_plan.departmentApplyStart AS departmentApplyStart,
    equipment_year_plan.departmentApplyEnd AS departmentApplyEnd,
    equipment_year_plan.status AS status
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.apply.EquipmentYearPlan" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 年度 -->
    <result column="year" property="year"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 科室申请开始时间 -->
    <result column="departmentApplyStart" property="departmentApplyStart"/>
    <!-- Comment: 科室申请结束时间 -->
    <result column="departmentApplyEnd" property="departmentApplyEnd"/>
    <!-- Comment: 计划状态 0-科室申请阶段 1-委员会评审阶段 2-院长审批阶段 3-采购执行阶段 -->
    <result column="status" property="status"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.apply.EquipmentYearPlan" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_year_plan
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.apply.EquipmentYearPlan" parameterType="com.welearn.entity.qo.apply.EquipmentYearPlanQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_year_plan
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="year != null" >
          AND year = #{year}
        </if>
        <if test="companyId != null" >
          AND companyId = #{companyId}
        </if>
        <if test="departmentApplyStart != null" >
          AND departmentApplyStart = #{departmentApplyStart}
        </if>
        <if test="departmentApplyEnd != null" >
          AND departmentApplyEnd = #{departmentApplyEnd}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.apply.EquipmentYearPlan" >
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_year_plan
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment_year_plan
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.apply.EquipmentYearPlan" >
    UPDATE equipment_year_plan
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      year = #{year},
      companyId = #{companyId},
      departmentApplyStart = #{departmentApplyStart},
      departmentApplyEnd = #{departmentApplyEnd},
      status = #{status},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.apply.EquipmentYearPlan" >
    UPDATE equipment_year_plan
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="year != null" >
        year = #{year},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentApplyStart != null" >
        departmentApplyStart = #{departmentApplyStart},
      </if>
      <if test="departmentApplyEnd != null" >
        departmentApplyEnd = #{departmentApplyEnd},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment_year_plan SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment_year_plan SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.apply.EquipmentYearPlan" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_year_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      year,
      companyId,
      departmentApplyStart,
      departmentApplyEnd,
      status,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{year},
      #{companyId},
      #{departmentApplyStart},
      #{departmentApplyEnd},
      #{status},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.apply.EquipmentYearPlan" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_year_plan 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentApplyStart != null" >
        departmentApplyStart,
      </if>
      <if test="departmentApplyEnd != null" >
        departmentApplyEnd,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="year != null" >
        #{year},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentApplyStart != null" >
        #{departmentApplyStart},
      </if>
      <if test="departmentApplyEnd != null" >
        #{departmentApplyEnd},
      </if>
      <if test="status != null" >
        #{status},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment_year_plan WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment_year_plan
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>