<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : feedback
  Comment  : 使用反馈
  Mapper   : com.welearn.mapper.FeedbackMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/1/21 20:16:20
-->
<mapper namespace="com.welearn.mapper.FeedbackMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    userId,
    userCompanyId,
    userCompanyName,
    userName,
    userEmail,
    userPhoneNumber,
    clientType,
    clientVersion,
    environmentJson,
    content,
    isAccept,
    isProcessed,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    feedback.id AS id,
    feedback.createdAt AS createdAt,
    feedback.updatedAt AS updatedAt,
    feedback.isEnable AS isEnable,
    feedback.userId AS userId,
    feedback.userCompanyId AS userCompanyId,
    feedback.userCompanyName AS userCompanyName,
    feedback.userName AS userName,
    feedback.userEmail AS userEmail,
    feedback.userPhoneNumber AS userPhoneNumber,
    feedback.clientType AS clientType,
    feedback.clientVersion AS clientVersion,
    feedback.environmentJson AS environmentJson,
    feedback.content AS content,
    feedback.isAccept AS isAccept,
    feedback.isProcessed AS isProcessed,
    feedback.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.notify.Feedback" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 反馈用户id -->
    <result column="userId" property="userId"/>
    <!-- Comment: 反馈用户公司id -->
    <result column="userCompanyId" property="userCompanyId"/>
    <!-- Comment: 反馈用户公司名称 -->
    <result column="userCompanyName" property="userCompanyName"/>
    <!-- Comment: 用户名称 -->
    <result column="userName" property="userName"/>
    <!-- Comment: 用户邮箱 -->
    <result column="userEmail" property="userEmail"/>
    <!-- Comment: 用户手机号 -->
    <result column="userPhoneNumber" property="userPhoneNumber"/>
    <!-- Comment: 客户端类型 -->
    <result column="clientType" property="clientType"/>
    <!-- Comment: 客户端版本 -->
    <result column="clientVersion" property="clientVersion"/>
    <!-- Comment: 客户端环境JSON描述 -->
    <result column="environmentJson" property="environmentJson"/>
    <!-- Comment: 反馈内容 -->
    <result column="content" property="content"/>
    <!-- Comment: 意见是否接受 -->
    <result column="isAccept" property="isAccept"/>
    <!-- Comment: 意见是否处理 -->
    <result column="isProcessed" property="isProcessed"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.notify.Feedback" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM feedback
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.notify.Feedback" parameterType="com.welearn.entity.qo.notify.FeedbackQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM feedback
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="userId != null" >
          AND userId = #{userId}
        </if>
        <if test="userCompanyId != null" >
          AND userCompanyId = #{userCompanyId}
        </if>
        <if test="userCompanyName != null" >
          AND userCompanyName = #{userCompanyName}
        </if>
        <if test="userName != null" >
          AND userName = #{userName}
        </if>
        <if test="userEmail != null" >
          AND userEmail = #{userEmail}
        </if>
        <if test="userPhoneNumber != null" >
          AND userPhoneNumber = #{userPhoneNumber}
        </if>
        <if test="clientType != null" >
          AND clientType = #{clientType}
        </if>
        <if test="clientVersion != null" >
          AND clientVersion = #{clientVersion}
        </if>
        <if test="environmentJson != null" >
          AND environmentJson = #{environmentJson}
        </if>
        <if test="content != null" >
          AND content = #{content}
        </if>
        <if test="isAccept != null" >
          AND isAccept = #{isAccept}
        </if>
        <if test="isProcessed != null" >
          AND isProcessed = #{isProcessed}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.notify.Feedback" >
    SELECT
      <include refid="sqlColumns"/>
    FROM feedback
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM feedback
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.notify.Feedback" >
    UPDATE feedback
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      userId = #{userId},
      userCompanyId = #{userCompanyId},
      userCompanyName = #{userCompanyName},
      userName = #{userName},
      userEmail = #{userEmail},
      userPhoneNumber = #{userPhoneNumber},
      clientType = #{clientType},
      clientVersion = #{clientVersion},
      environmentJson = #{environmentJson},
      content = #{content},
      isAccept = #{isAccept},
      isProcessed = #{isProcessed},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.notify.Feedback" >
    UPDATE feedback
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="userCompanyId != null" >
        userCompanyId = #{userCompanyId},
      </if>
      <if test="userCompanyName != null" >
        userCompanyName = #{userCompanyName},
      </if>
      <if test="userName != null" >
        userName = #{userName},
      </if>
      <if test="userEmail != null" >
        userEmail = #{userEmail},
      </if>
      <if test="userPhoneNumber != null" >
        userPhoneNumber = #{userPhoneNumber},
      </if>
      <if test="clientType != null" >
        clientType = #{clientType},
      </if>
      <if test="clientVersion != null" >
        clientVersion = #{clientVersion},
      </if>
      <if test="environmentJson != null" >
        environmentJson = #{environmentJson},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="isAccept != null" >
        isAccept = #{isAccept},
      </if>
      <if test="isProcessed != null" >
        isProcessed = #{isProcessed},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE feedback SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE feedback SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.notify.Feedback" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      userId,
      userCompanyId,
      userCompanyName,
      userName,
      userEmail,
      userPhoneNumber,
      clientType,
      clientVersion,
      environmentJson,
      content,
      isAccept,
      isProcessed,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{userId},
      #{userCompanyId},
      #{userCompanyName},
      #{userName},
      #{userEmail},
      #{userPhoneNumber},
      #{clientType},
      #{clientVersion},
      #{environmentJson},
      #{content},
      #{isAccept},
      #{isProcessed},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.notify.Feedback" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO feedback 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="userCompanyId != null" >
        userCompanyId,
      </if>
      <if test="userCompanyName != null" >
        userCompanyName,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userEmail != null" >
        userEmail,
      </if>
      <if test="userPhoneNumber != null" >
        userPhoneNumber,
      </if>
      <if test="clientType != null" >
        clientType,
      </if>
      <if test="clientVersion != null" >
        clientVersion,
      </if>
      <if test="environmentJson != null" >
        environmentJson,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isAccept != null" >
        isAccept,
      </if>
      <if test="isProcessed != null" >
        isProcessed,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="userCompanyId != null" >
        #{userCompanyId},
      </if>
      <if test="userCompanyName != null" >
        #{userCompanyName},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="userEmail != null" >
        #{userEmail},
      </if>
      <if test="userPhoneNumber != null" >
        #{userPhoneNumber},
      </if>
      <if test="clientType != null" >
        #{clientType},
      </if>
      <if test="clientVersion != null" >
        #{clientVersion},
      </if>
      <if test="environmentJson != null" >
        #{environmentJson},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="isAccept != null" >
        #{isAccept},
      </if>
      <if test="isProcessed != null" >
        #{isProcessed},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM feedback WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM feedback
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>