<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : sms_send_template
  Comment  : 短信发送记录
  Mapper   : com.welearn.mapper.SmsSendTemplateMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/18 17:42:40
-->
<mapper namespace="com.welearn.mapper.SmsSendTemplateMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    creatorId,
    code,
    name,
    type,
    templateCode,
    content,
    status,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    sms_send_template.id AS id,
    sms_send_template.createdAt AS createdAt,
    sms_send_template.updatedAt AS updatedAt,
    sms_send_template.isEnable AS isEnable,
    sms_send_template.creatorId AS creatorId,
    sms_send_template.code AS code,
    sms_send_template.name AS name,
    sms_send_template.type AS type,
    sms_send_template.templateCode AS templateCode,
    sms_send_template.content AS content,
    sms_send_template.status AS status,
    sms_send_template.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.notify.SmsSendTemplate" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 创建人id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 系统内部编码 -->
    <result column="code" property="code"/>
    <!-- Comment: 模板名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 模板类型: 0-验证码 1-短信通知 2-推广短信 -->
    <result column="type" property="type"/>
    <!-- Comment: 阿里云的模板编号 -->
    <result column="templateCode" property="templateCode"/>
    <!-- Comment: 模板内容 -->
    <result column="content" property="content"/>
    <!-- Comment: 状态：0-审核中 1-已通过 2-未通过 -->
    <result column="status" property="status"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.notify.SmsSendTemplate" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM sms_send_template
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.notify.SmsSendTemplate" parameterType="com.welearn.entity.qo.notify.SmsSendTemplateQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM sms_send_template
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="creatorId != null" >
          AND creatorId = #{creatorId}
        </if>
        <if test="code != null" >
          AND code = #{code}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="type != null" >
          AND type = #{type}
        </if>
        <if test="templateCode != null" >
          AND templateCode = #{templateCode}
        </if>
        <if test="content != null" >
          AND content = #{content}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.notify.SmsSendTemplate" >
    SELECT
      <include refid="sqlColumns"/>
    FROM sms_send_template
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM sms_send_template
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.notify.SmsSendTemplate" >
    UPDATE sms_send_template
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      creatorId = #{creatorId},
      code = #{code},
      name = #{name},
      type = #{type},
      templateCode = #{templateCode},
      content = #{content},
      status = #{status},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.notify.SmsSendTemplate" >
    UPDATE sms_send_template
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="templateCode != null" >
        templateCode = #{templateCode},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE sms_send_template SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE sms_send_template SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.notify.SmsSendTemplate" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO sms_send_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      creatorId,
      code,
      name,
      type,
      templateCode,
      content,
      status,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{creatorId},
      #{code},
      #{name},
      #{type},
      #{templateCode},
      #{content},
      #{status},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.notify.SmsSendTemplate" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO sms_send_template 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="templateCode != null" >
        templateCode,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="templateCode != null" >
        #{templateCode},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM sms_send_template WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM sms_send_template
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>