<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : sms_send_record
  Comment  : 短信发送记录
  Mapper   : com.welearn.mapper.SmsSendRecordMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/18 17:42:38
-->
<mapper namespace="com.welearn.mapper.SmsSendRecordMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    userId,
    companyId,
    departmentId,
    noticeId,
    phoneNumber,
    templateId,
    signature,
    paramsJson,
    size,
    sendAt,
    receivedAt,
    bizId,
    outId,
    reportCode,
    reportMessage,
    status
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    sms_send_record.id AS id,
    sms_send_record.createdAt AS createdAt,
    sms_send_record.updatedAt AS updatedAt,
    sms_send_record.isEnable AS isEnable,
    sms_send_record.userId AS userId,
    sms_send_record.companyId AS companyId,
    sms_send_record.departmentId AS departmentId,
    sms_send_record.noticeId AS noticeId,
    sms_send_record.phoneNumber AS phoneNumber,
    sms_send_record.templateId AS templateId,
    sms_send_record.signature AS signature,
    sms_send_record.paramsJson AS paramsJson,
    sms_send_record.size AS size,
    sms_send_record.sendAt AS sendAt,
    sms_send_record.receivedAt AS receivedAt,
    sms_send_record.bizId AS bizId,
    sms_send_record.outId AS outId,
    sms_send_record.reportCode AS reportCode,
    sms_send_record.reportMessage AS reportMessage,
    sms_send_record.status AS status
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.notify.SmsSendRecord" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 用户id -->
    <result column="userId" property="userId"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 公告id -->
    <result column="noticeId" property="noticeId"/>
    <!-- Comment: 手机号 -->
    <result column="phoneNumber" property="phoneNumber"/>
    <!-- Comment: 短信模板id -->
    <result column="templateId" property="templateId"/>
    <!-- Comment: 短信签名 -->
    <result column="signature" property="signature"/>
    <!-- Comment: 短信参数 -->
    <result column="paramsJson" property="paramsJson"/>
    <!-- Comment: 短信长度: 70个汉字/140个英文字符 算1条 -->
    <result column="size" property="size"/>
    <!-- Comment: 发送时间 -->
    <result column="sendAt" property="sendAt"/>
    <!-- Comment: 接收时间 -->
    <result column="receivedAt" property="receivedAt"/>
    <!-- Comment: 发送序列号 -->
    <result column="bizId" property="bizId"/>
    <!-- Comment: 用户序列号 -->
    <result column="outId" property="outId"/>
    <!-- Comment: 状态报告编码 -->
    <result column="reportCode" property="reportCode"/>
    <!-- Comment: 状态报告说明 -->
    <result column="reportMessage" property="reportMessage"/>
    <!-- Comment: 状态：0-等待回执 1-发送成功 2-发送失败 -->
    <result column="status" property="status"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.notify.SmsSendRecord" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM sms_send_record
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.notify.SmsSendRecord" parameterType="com.welearn.entity.qo.notify.SmsSendRecordQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM sms_send_record
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="userId != null" >
          AND userId = #{userId}
        </if>
        <if test="companyId != null" >
          AND companyId = #{companyId}
        </if>
        <if test="departmentId != null" >
          AND departmentId = #{departmentId}
        </if>
        <if test="noticeId != null" >
          AND noticeId = #{noticeId}
        </if>
        <if test="phoneNumber != null" >
          AND phoneNumber = #{phoneNumber}
        </if>
        <if test="templateId != null" >
          AND templateId = #{templateId}
        </if>
        <if test="signature != null" >
          AND signature = #{signature}
        </if>
        <if test="paramsJson != null" >
          AND paramsJson = #{paramsJson}
        </if>
        <if test="size != null" >
          AND size = #{size}
        </if>
        <if test="sendAt != null" >
          AND sendAt = #{sendAt}
        </if>
        <if test="receivedAt != null" >
          AND receivedAt = #{receivedAt}
        </if>
        <if test="bizId != null" >
          AND bizId = #{bizId}
        </if>
        <if test="outId != null" >
          AND outId = #{outId}
        </if>
        <if test="reportCode != null" >
          AND reportCode = #{reportCode}
        </if>
        <if test="reportMessage != null" >
          AND reportMessage = #{reportMessage}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.notify.SmsSendRecord" >
    SELECT
      <include refid="sqlColumns"/>
    FROM sms_send_record
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM sms_send_record
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.notify.SmsSendRecord" >
    UPDATE sms_send_record
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      userId = #{userId},
      companyId = #{companyId},
      departmentId = #{departmentId},
      noticeId = #{noticeId},
      phoneNumber = #{phoneNumber},
      templateId = #{templateId},
      signature = #{signature},
      paramsJson = #{paramsJson},
      size = #{size},
      sendAt = #{sendAt},
      receivedAt = #{receivedAt},
      bizId = #{bizId},
      outId = #{outId},
      reportCode = #{reportCode},
      reportMessage = #{reportMessage},
      status = #{status},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.notify.SmsSendRecord" >
    UPDATE sms_send_record
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="noticeId != null" >
        noticeId = #{noticeId},
      </if>
      <if test="phoneNumber != null" >
        phoneNumber = #{phoneNumber},
      </if>
      <if test="templateId != null" >
        templateId = #{templateId},
      </if>
      <if test="signature != null" >
        signature = #{signature},
      </if>
      <if test="paramsJson != null" >
        paramsJson = #{paramsJson},
      </if>
      <if test="size != null" >
        size = #{size},
      </if>
      <if test="sendAt != null" >
        sendAt = #{sendAt},
      </if>
      <if test="receivedAt != null" >
        receivedAt = #{receivedAt},
      </if>
      <if test="bizId != null" >
        bizId = #{bizId},
      </if>
      <if test="outId != null" >
        outId = #{outId},
      </if>
      <if test="reportCode != null" >
        reportCode = #{reportCode},
      </if>
      <if test="reportMessage != null" >
        reportMessage = #{reportMessage},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE sms_send_record SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE sms_send_record SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.notify.SmsSendRecord" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO sms_send_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      userId,
      companyId,
      departmentId,
      noticeId,
      phoneNumber,
      templateId,
      signature,
      paramsJson,
      size,
      sendAt,
      receivedAt,
      bizId,
      outId,
      reportCode,
      reportMessage,
      status,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{userId},
      #{companyId},
      #{departmentId},
      #{noticeId},
      #{phoneNumber},
      #{templateId},
      #{signature},
      #{paramsJson},
      #{size},
      #{sendAt},
      #{receivedAt},
      #{bizId},
      #{outId},
      #{reportCode},
      #{reportMessage},
      #{status},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.notify.SmsSendRecord" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO sms_send_record 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="noticeId != null" >
        noticeId,
      </if>
      <if test="phoneNumber != null" >
        phoneNumber,
      </if>
      <if test="templateId != null" >
        templateId,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="paramsJson != null" >
        paramsJson,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="sendAt != null" >
        sendAt,
      </if>
      <if test="receivedAt != null" >
        receivedAt,
      </if>
      <if test="bizId != null" >
        bizId,
      </if>
      <if test="outId != null" >
        outId,
      </if>
      <if test="reportCode != null" >
        reportCode,
      </if>
      <if test="reportMessage != null" >
        reportMessage,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="noticeId != null" >
        #{noticeId},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber},
      </if>
      <if test="templateId != null" >
        #{templateId},
      </if>
      <if test="signature != null" >
        #{signature},
      </if>
      <if test="paramsJson != null" >
        #{paramsJson},
      </if>
      <if test="size != null" >
        #{size},
      </if>
      <if test="sendAt != null" >
        #{sendAt},
      </if>
      <if test="receivedAt != null" >
        #{receivedAt},
      </if>
      <if test="bizId != null" >
        #{bizId},
      </if>
      <if test="outId != null" >
        #{outId},
      </if>
      <if test="reportCode != null" >
        #{reportCode},
      </if>
      <if test="reportMessage != null" >
        #{reportMessage},
      </if>
      <if test="status != null" >
        #{status},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM sms_send_record WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM sms_send_record
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>