<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Table    : device
  Comment  : 物联设备
  Mapper   : com.welearn.mapper.DeviceMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/6/27 11:51:30
-->
<mapper namespace="com.welearn.mapper.DeviceMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    companyId,
    companyName,
    addressId,
    productKey,
    productName,
    deviceName,
    nickname,
    deviceSecret,
    iotId,
    activedAt,
    lastOnlineAt,
    status,
    lastStatusChangedAt,
    firmwareVersion,
    ipAddress,
    nodeType,
    region,
    propertySnapshotJson,
    configurationJson,
    documentFileJson,
    showConfigJson
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    device.id AS id,
    device.createdAt AS createdAt,
    device.updatedAt AS updatedAt,
    device.isEnable AS isEnable,
    device.companyId AS companyId,
    device.companyName AS companyName,
    device.addressId AS addressId,
    device.productKey AS productKey,
    device.productName AS productName,
    device.deviceName AS deviceName,
    device.nickname AS nickname,
    device.deviceSecret AS deviceSecret,
    device.iotId AS iotId,
    device.activedAt AS activedAt,
    device.lastOnlineAt AS lastOnlineAt,
    device.status AS status,
    device.lastStatusChangedAt AS lastStatusChangedAt,
    device.firmwareVersion AS firmwareVersion,
    device.ipAddress AS ipAddress,
    device.nodeType AS nodeType,
    device.region AS region,
    device.propertySnapshotJson AS propertySnapshotJson,
    device.configurationJson AS configurationJson,
    device.documentFileJson AS documentFileJson,
    device.showConfigJson AS showConfigJson
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.alink.Device" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 所属公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 所属公司名称 -->
    <result column="companyName" property="companyName"/>
    <!-- Comment: 所在位置id -->
    <result column="addressId" property="addressId"/>
    <!-- Comment: 隶属的产品Key -->
    <result column="productKey" property="productKey"/>
    <!-- Comment: 隶属的产品名称 -->
    <result column="productName" property="productName"/>
    <!-- Comment: 名称 -->
    <result column="deviceName" property="deviceName"/>
    <!-- Comment: 备注名称 -->
    <result column="nickname" property="nickname"/>
    <!-- Comment: 密钥 -->
    <result column="deviceSecret" property="deviceSecret"/>
    <!-- Comment: IoT平台为该设备颁发的ID，作为该设备的唯一标识符 -->
    <result column="iotId" property="iotId"/>
    <!-- Comment: ​​激活时间 -->
    <result column="activedAt" property="activedAt"/>
    <!-- Comment: 最近一次上线的时间 -->
    <result column="lastOnlineAt" property="lastOnlineAt"/>
    <!-- Comment: 状态: 0-OFFLINE设备离线 1-ONLINE设备在线 2-UNACTIVE设备未激活 3-DISABLE设备已禁用 -->
    <result column="status" property="status"/>
    <!-- Comment: 最近状态改变的时间(处理状态消息错序问题) -->
    <result column="lastStatusChangedAt" property="lastStatusChangedAt"/>
    <!-- Comment: 固件版本号 -->
    <result column="firmwareVersion" property="firmwareVersion"/>
    <!-- Comment: IP地址 -->
    <result column="ipAddress" property="ipAddress"/>
    <!-- Comment: 节点类型: 0-设备 1-网关 -->
    <result column="nodeType" property="nodeType"/>
    <!-- Comment: 所在地区 -->
    <result column="region" property="region"/>
    <!-- Comment: 属性快照JSON格式存储, {key(与物模型的属性名对应): value} -->
    <result column="propertySnapshotJson" property="propertySnapshotJson"/>
    <!-- Comment: 配置文件JSON格式存储, {key: value ...} -->
    <result column="configurationJson" property="configurationJson"/>
    <!-- Comment: 文档相关文件JSON格式存储, [{name, description, files:[{...}]}] -->
    <result column="documentFileJson" property="documentFileJson"/>
    <!-- Comment: 数据显示用 JSON格式配置文件 -->
    <result column="showConfigJson" property="showConfigJson"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.alink.Device" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM device
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.alink.Device" parameterType="com.welearn.entity.qo.alink.DeviceQueryCondition" >
    SELECT DISTINCT
    d.id,
    d.createdAt,
    d.updatedAt,
    d.isEnable,
    d.companyId,
    d.companyName,
    d.addressId,
    d.productKey,
    d.productName,
    d.deviceName,
    d.nickname,
    d.deviceSecret,
    d.iotId,
    d.activedAt,
    d.lastOnlineAt,
    d.status,
    d.lastStatusChangedAt,
    d.firmwareVersion,
    d.ipAddress,
    d.nodeType,
    d.region
    <if test="ignoreJsonField != true" >
      ,
      <if test="withPropertySnapshot == true" >
        d.propertySnapshotJson,
      </if>
      <if test="withDocumentFile == true" >
        d.documentFileJson,
      </if>
      d.configurationJson,
      d.showConfigJson
    </if>
    FROM device d
    <if test="userId != null and groupId == null">
      join re_device_group_device rdgd on rdgd.isEnable = true and rdgd.iotId = d.iotId
      join re_device_group_user rdgu on rdgu.isEnable = true and rdgu.groupId = rdgd.groupId and rdgu.userId = #{userId}
    </if>
    <if test="groupId != null">
      join re_device_group_device rdgd on rdgd.isEnable = true and rdgd.groupId = #{groupId} and rdgd.iotId = d.iotId
    </if>
    <if test="rfidTagId != null">
      join re_rfid_tag_device rrtd on rrtd.isEnable = true and rrtd.tagId = #{rfidTagId} and rrtd.iotId = d.iotId
    </if>
    <where>
      <if test="id != null" >
        d.id = #{id}
      </if>
      <if test="createdAt != null" >
        AND d.createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND d.updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND d.isEnable = #{isEnable}
      </if>
      <if test="companyId != null" >
        AND d.companyId = #{companyId}
      </if>
      <if test="companyName != null" >
        AND d.companyName = #{companyName}
      </if>
      <if test="addressId != null" >
        AND d.addressId = #{addressId}
      </if>
      <if test="productKey != null" >
        AND d.productKey = #{productKey}
      </if>
      <if test="productName != null" >
        AND d.productName = #{productName}
      </if>
      <if test="deviceName != null" >
        AND d.deviceName = #{deviceName}
      </if>
      <if test="nickname != null" >
        AND d.nickname = #{nickname}
      </if>
      <if test="deviceSecret != null" >
        AND d.deviceSecret = #{deviceSecret}
      </if>
      <if test="iotId != null" >
        AND d.iotId = #{iotId}
      </if>
      <if test="activedAt != null" >
        AND d.activedAt = #{activedAt}
      </if>
      <if test="lastOnlineAt != null" >
        AND d.lastOnlineAt = #{lastOnlineAt}
      </if>
      <if test="status != null" >
        AND d.status = #{status}
      </if>
      <if test="lastStatusChangedAt != null" >
        AND d.lastStatusChangedAt = #{lastStatusChangedAt}
      </if>
      <if test="firmwareVersion != null" >
        AND d.firmwareVersion = #{firmwareVersion}
      </if>
      <if test="ipAddress != null" >
        AND d.ipAddress = #{ipAddress}
      </if>
      <if test="nodeType != null" >
        AND d.nodeType = #{nodeType}
      </if>
      <if test="region != null" >
        AND d.region = #{region}
      </if>
      <if test="propertySnapshotJson != null" >
        AND d.propertySnapshotJson = #{propertySnapshotJson}
      </if>
      <if test="configurationJson != null" >
        AND d.configurationJson = #{configurationJson}
      </if>
      <if test="documentFileJson != null" >
        AND d.documentFileJson = #{documentFileJson}
      </if>
      <if test="showConfigJson != null" >
        AND d.showConfigJson = #{showConfigJson}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY d.createdAt ASC, d.updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.alink.Device" >
    SELECT
    <include refid="sqlColumns"/>
    FROM device
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM device
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.alink.Device" >
    UPDATE device
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      companyId = #{companyId},
      companyName = #{companyName},
      addressId = #{addressId},
      productKey = #{productKey},
      productName = #{productName},
      deviceName = #{deviceName},
      nickname = #{nickname},
      deviceSecret = #{deviceSecret},
      iotId = #{iotId},
      activedAt = #{activedAt},
      lastOnlineAt = #{lastOnlineAt},
      status = #{status},
      lastStatusChangedAt = #{lastStatusChangedAt},
      firmwareVersion = #{firmwareVersion},
      ipAddress = #{ipAddress},
      nodeType = #{nodeType},
      region = #{region},
      propertySnapshotJson = #{propertySnapshotJson},
      configurationJson = #{configurationJson},
      documentFileJson = #{documentFileJson},
      showConfigJson = #{showConfigJson},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.alink.Device" >
    UPDATE device
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName},
      </if>
      <if test="addressId != null" >
        addressId = #{addressId},
      </if>
      <if test="productKey != null" >
        productKey = #{productKey},
      </if>
      <if test="productName != null" >
        productName = #{productName},
      </if>
      <if test="deviceName != null" >
        deviceName = #{deviceName},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname},
      </if>
      <if test="deviceSecret != null" >
        deviceSecret = #{deviceSecret},
      </if>
      <if test="iotId != null" >
        iotId = #{iotId},
      </if>
      <if test="activedAt != null" >
        activedAt = #{activedAt},
      </if>
      <if test="lastOnlineAt != null" >
        lastOnlineAt = #{lastOnlineAt},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="lastStatusChangedAt != null" >
        lastStatusChangedAt = #{lastStatusChangedAt},
      </if>
      <if test="firmwareVersion != null" >
        firmwareVersion = #{firmwareVersion},
      </if>
      <if test="ipAddress != null" >
        ipAddress = #{ipAddress},
      </if>
      <if test="nodeType != null" >
        nodeType = #{nodeType},
      </if>
      <if test="region != null" >
        region = #{region},
      </if>
      <if test="propertySnapshotJson != null" >
        propertySnapshotJson = #{propertySnapshotJson},
      </if>
      <if test="configurationJson != null" >
        configurationJson = #{configurationJson},
      </if>
      <if test="documentFileJson != null" >
        documentFileJson = #{documentFileJson},
      </if>
      <if test="showConfigJson != null" >
        showConfigJson = #{showConfigJson},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE device SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE device SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.alink.Device" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      companyId,
      companyName,
      addressId,
      productKey,
      productName,
      deviceName,
      nickname,
      deviceSecret,
      iotId,
      activedAt,
      lastOnlineAt,
      status,
      lastStatusChangedAt,
      firmwareVersion,
      ipAddress,
      nodeType,
      region,
      propertySnapshotJson,
      configurationJson,
      documentFileJson,
      showConfigJson,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{companyId},
      #{companyName},
      #{addressId},
      #{productKey},
      #{productName},
      #{deviceName},
      #{nickname},
      #{deviceSecret},
      #{iotId},
      #{activedAt},
      #{lastOnlineAt},
      #{status},
      #{lastStatusChangedAt},
      #{firmwareVersion},
      #{ipAddress},
      #{nodeType},
      #{region},
      #{propertySnapshotJson},
      #{configurationJson},
      #{documentFileJson},
      #{showConfigJson},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.alink.Device" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="addressId != null" >
        addressId,
      </if>
      <if test="productKey != null" >
        productKey,
      </if>
      <if test="productName != null" >
        productName,
      </if>
      <if test="deviceName != null" >
        deviceName,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="deviceSecret != null" >
        deviceSecret,
      </if>
      <if test="iotId != null" >
        iotId,
      </if>
      <if test="activedAt != null" >
        activedAt,
      </if>
      <if test="lastOnlineAt != null" >
        lastOnlineAt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastStatusChangedAt != null" >
        lastStatusChangedAt,
      </if>
      <if test="firmwareVersion != null" >
        firmwareVersion,
      </if>
      <if test="ipAddress != null" >
        ipAddress,
      </if>
      <if test="nodeType != null" >
        nodeType,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="propertySnapshotJson != null" >
        propertySnapshotJson,
      </if>
      <if test="configurationJson != null" >
        configurationJson,
      </if>
      <if test="documentFileJson != null" >
        documentFileJson,
      </if>
      <if test="showConfigJson != null" >
        showConfigJson,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="companyName != null" >
        #{companyName},
      </if>
      <if test="addressId != null" >
        #{addressId},
      </if>
      <if test="productKey != null" >
        #{productKey},
      </if>
      <if test="productName != null" >
        #{productName},
      </if>
      <if test="deviceName != null" >
        #{deviceName},
      </if>
      <if test="nickname != null" >
        #{nickname},
      </if>
      <if test="deviceSecret != null" >
        #{deviceSecret},
      </if>
      <if test="iotId != null" >
        #{iotId},
      </if>
      <if test="activedAt != null" >
        #{activedAt},
      </if>
      <if test="lastOnlineAt != null" >
        #{lastOnlineAt},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="lastStatusChangedAt != null" >
        #{lastStatusChangedAt},
      </if>
      <if test="firmwareVersion != null" >
        #{firmwareVersion},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress},
      </if>
      <if test="nodeType != null" >
        #{nodeType},
      </if>
      <if test="region != null" >
        #{region},
      </if>
      <if test="propertySnapshotJson != null" >
        #{propertySnapshotJson},
      </if>
      <if test="configurationJson != null" >
        #{configurationJson},
      </if>
      <if test="documentFileJson != null" >
        #{documentFileJson},
      </if>
      <if test="showConfigJson != null" >
        #{showConfigJson},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM device WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM device
  </delete>


  <!-- START USER DEFINED -->
  <!-- updateByPKSelective 修改可根据iotId更新数据 -->

  <select id="selectByIotId" resultType="com.welearn.entity.po.alink.Device">
    select * from device where iotId = #{iotId}
  </select>

  <select id="selectIotIds" resultType="java.lang.String">
    select distinct iotId from device where isEnable = true;
  </select>

  <select id="selectOutlook" resultType="com.welearn.entity.po.alink.Device">
    select distinct iotId, productKey, deviceName from device where isEnable = true;
  </select>

  <update id="updateSelective" parameterType="com.welearn.entity.po.alink.Device" >
    UPDATE device
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName},
      </if>
      <if test="addressId != null" >
        addressId = #{addressId},
      </if>
      <if test="productKey != null" >
        productKey = #{productKey},
      </if>
      <if test="productName != null" >
        productName = #{productName},
      </if>
      <if test="deviceName != null" >
        deviceName = #{deviceName},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname},
      </if>
      <if test="deviceSecret != null" >
        deviceSecret = #{deviceSecret},
      </if>
      <if test="iotId != null" >
        iotId = #{iotId},
      </if>
      <if test="activedAt != null" >
        activedAt = #{activedAt},
      </if>
      <if test="lastOnlineAt != null" >
        lastOnlineAt = #{lastOnlineAt},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="lastStatusChangedAt != null" >
        lastStatusChangedAt = #{lastStatusChangedAt},
      </if>
      <if test="firmwareVersion != null" >
        firmwareVersion = #{firmwareVersion},
      </if>
      <if test="ipAddress != null" >
        ipAddress = #{ipAddress},
      </if>
      <if test="nodeType != null" >
        nodeType = #{nodeType},
      </if>
      <if test="region != null" >
        region = #{region},
      </if>
      <if test="propertySnapshotJson != null" >
        propertySnapshotJson = #{propertySnapshotJson},
      </if>
      <if test="configurationJson != null" >
        configurationJson = #{configurationJson},
      </if>
      <if test="documentFileJson != null" >
        documentFileJson = #{documentFileJson},
      </if>
      <if test="showConfigJson != null" >
        showConfigJson = #{showConfigJson},
      </if>
    </set>
    WHERE
    <if test="id != null" >
      id = #{id}
    </if>
    <if test="id == null and iotId != null" >
      iotId = #{iotId}
    </if>
  </update>
</mapper>