<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : device_event
  Comment  : 设备事件
  Mapper   : com.welearn.mapper.DeviceEventMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/7/1 11:26:32
-->
<mapper namespace="com.welearn.mapper.DeviceEventMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    identifier,
    type,
    iotId,
    namePrefix,
    name,
    nameSuffix,
    productKey,
    deviceName,
    reportAt,
    detailJson,
    shouldHandle,
    handleStatus,
    handleUserId,
    handleReportJson
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    device_event.id AS id,
    device_event.createdAt AS createdAt,
    device_event.updatedAt AS updatedAt,
    device_event.isEnable AS isEnable,
    device_event.identifier AS identifier,
    device_event.type AS type,
    device_event.iotId AS iotId,
    device_event.namePrefix AS namePrefix,
    device_event.name AS name,
    device_event.nameSuffix AS nameSuffix,
    device_event.productKey AS productKey,
    device_event.deviceName AS deviceName,
    device_event.reportAt AS reportAt,
    device_event.detailJson AS detailJson,
    device_event.shouldHandle AS shouldHandle,
    device_event.handleStatus AS handleStatus,
    device_event.handleUserId AS handleUserId,
    device_event.handleReportJson AS handleReportJson
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.alink.DeviceEvent" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 事件标识 -->
    <result column="identifier" property="identifier"/>
    <!-- Comment: 事件级别: 0-通知 1-警告 2-报警 -->
    <result column="type" property="type"/>
    <!-- Comment: 设备唯一标识符 -->
    <result column="iotId" property="iotId"/>
    <!-- Comment: 事件名称 -->
    <result column="namePrefix" property="namePrefix"/>
    <!-- Comment: 异常信息 -->
    <result column="name" property="name"/>
    <!-- Comment: 异常部位 -->
    <result column="nameSuffix" property="nameSuffix"/>
    <!-- Comment: 产品Key -->
    <result column="productKey" property="productKey"/>
    <!-- Comment: 设备编号 -->
    <result column="deviceName" property="deviceName"/>
    <!-- Comment: 上报时间 -->
    <result column="reportAt" property="reportAt"/>
    <!-- Comment: 时间详情JSON, {key(与物模型事件的配置对应): value}} -->
    <result column="detailJson" property="detailJson"/>
    <!-- Comment: 是否需要处理：0-不需要，1-需要 -->
    <result column="shouldHandle" property="shouldHandle"/>
    <!-- Comment: 处理状态: 0-待领工 1-待处理 2-已处理 -->
    <result column="handleStatus" property="handleStatus"/>
    <!-- Comment: 处理人员id -->
    <result column="handleUserId" property="handleUserId"/>
    <!-- Comment: 处理报告JSON格式存储 -->
    <result column="handleReportJson" property="handleReportJson"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.alink.DeviceEvent" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM device_event
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.alink.DeviceEvent" parameterType="com.welearn.entity.qo.alink.DeviceEventQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM device_event
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="identifier != null" >
        AND identifier = #{identifier}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="iotId != null" >
        AND iotId = #{iotId}
      </if>
      <if test="namePrefix != null" >
        AND namePrefix = #{namePrefix}
      </if>
      <if test="name != null" >
        AND name = #{name}
      </if>
      <if test="nameSuffix != null" >
        AND nameSuffix = #{nameSuffix}
      </if>
      <if test="productKey != null" >
        AND productKey = #{productKey}
      </if>
      <if test="deviceName != null" >
        AND deviceName = #{deviceName}
      </if>
      <if test="reportAt != null" >
        AND reportAt = #{reportAt}
      </if>
      <if test="detailJson != null" >
        AND detailJson = #{detailJson}
      </if>
      <if test="shouldHandle != null" >
        AND shouldHandle = #{shouldHandle}
      </if>
      <if test="handleStatus != null" >
        AND handleStatus = #{handleStatus}
      </if>
      <if test="handleUserId != null" >
        AND handleUserId = #{handleUserId}
      </if>
      <if test="handleReportJson != null" >
        AND handleReportJson = #{handleReportJson}
      </if>
      <!-- START USER DEFINED -->
      <if test="typeGreaterThan != null" >
        AND type >= #{typeGreaterThan}
      </if>
      <!-- End USER DEFINED -->
    </where>
    ORDER BY reportAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.alink.DeviceEvent" >
    SELECT
    <include refid="sqlColumns"/>
    FROM device_event
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM device_event
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.alink.DeviceEvent" >
    UPDATE device_event
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      identifier = #{identifier},
      type = #{type},
      iotId = #{iotId},
      namePrefix = #{namePrefix},
      name = #{name},
      nameSuffix = #{nameSuffix},
      productKey = #{productKey},
      deviceName = #{deviceName},
      reportAt = #{reportAt},
      detailJson = #{detailJson},
      shouldHandle = #{shouldHandle},
      handleStatus = #{handleStatus},
      handleUserId = #{handleUserId},
      handleReportJson = #{handleReportJson},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.alink.DeviceEvent" >
    UPDATE device_event
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="identifier != null" >
        identifier = #{identifier},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="iotId != null" >
        iotId = #{iotId},
      </if>
      <if test="namePrefix != null" >
        namePrefix = #{namePrefix},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="nameSuffix != null" >
        nameSuffix = #{nameSuffix},
      </if>
      <if test="productKey != null" >
        productKey = #{productKey},
      </if>
      <if test="deviceName != null" >
        deviceName = #{deviceName},
      </if>
      <if test="reportAt != null" >
        reportAt = #{reportAt},
      </if>
      <if test="detailJson != null" >
        detailJson = #{detailJson},
      </if>
      <if test="shouldHandle != null" >
        shouldHandle = #{shouldHandle},
      </if>
      <if test="handleStatus != null" >
        handleStatus = #{handleStatus},
      </if>
      <if test="handleUserId != null" >
        handleUserId = #{handleUserId},
      </if>
      <if test="handleReportJson != null" >
        handleReportJson = #{handleReportJson},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE device_event SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE device_event SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.alink.DeviceEvent" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO device_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      identifier,
      type,
      iotId,
      namePrefix,
      name,
      nameSuffix,
      productKey,
      deviceName,
      reportAt,
      detailJson,
      shouldHandle,
      handleStatus,
      handleUserId,
      handleReportJson,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{identifier},
      #{type},
      #{iotId},
      #{namePrefix},
      #{name},
      #{nameSuffix},
      #{productKey},
      #{deviceName},
      #{reportAt},
      #{detailJson},
      #{shouldHandle},
      #{handleStatus},
      #{handleUserId},
      #{handleReportJson},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.alink.DeviceEvent" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO device_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="identifier != null" >
        identifier,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="iotId != null" >
        iotId,
      </if>
      <if test="namePrefix != null" >
        namePrefix,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameSuffix != null" >
        nameSuffix,
      </if>
      <if test="productKey != null" >
        productKey,
      </if>
      <if test="deviceName != null" >
        deviceName,
      </if>
      <if test="reportAt != null" >
        reportAt,
      </if>
      <if test="detailJson != null" >
        detailJson,
      </if>
      <if test="shouldHandle != null" >
        shouldHandle,
      </if>
      <if test="handleStatus != null" >
        handleStatus,
      </if>
      <if test="handleUserId != null" >
        handleUserId,
      </if>
      <if test="handleReportJson != null" >
        handleReportJson,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="identifier != null" >
        #{identifier},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="iotId != null" >
        #{iotId},
      </if>
      <if test="namePrefix != null" >
        #{namePrefix},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="nameSuffix != null" >
        #{nameSuffix},
      </if>
      <if test="productKey != null" >
        #{productKey},
      </if>
      <if test="deviceName != null" >
        #{deviceName},
      </if>
      <if test="reportAt != null" >
        #{reportAt},
      </if>
      <if test="detailJson != null" >
        #{detailJson},
      </if>
      <if test="shouldHandle != null" >
        #{shouldHandle},
      </if>
      <if test="handleStatus != null" >
        #{handleStatus},
      </if>
      <if test="handleUserId != null" >
        #{handleUserId},
      </if>
      <if test="handleReportJson != null" >
        #{handleReportJson},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM device_event WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM device_event
  </delete>


  <!-- START USER DEFINED -->
  <select id="count" resultType="com.welearn.entity.vo.response.alink.DeviceEventTypeCount">
    select iotId, type, sum(1) as `count`
    FROM device_event
    WHERE type >= #{typeGreaterThan} and shouldHandle = #{shouldHandle} and handleStatus = #{handleStatus}
    <if test="iotId != null" >
      and iotId = #{iotId}
    </if>
    GROUP BY type, iotId
  </select>

  <delete id="deleteByReportedAtLessThan">
    DELETE FROM device_event WHERE type = #{type} and #{reportedAt} > reportAt
  </delete>

  <update id="updateAllNoNeedHandle">
    update device_event set shouldHandle = false where iotId = #{iotId} and shouldHandle = true and isEnable = true
  </update>
</mapper>