<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : device_group
  Comment  : 设备分组
  Mapper   : com.welearn.mapper.DeviceGroupMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/7/1 11:26:33
-->
<mapper namespace="com.welearn.mapper.DeviceGroupMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    type,
    description
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    device_group.id AS id,
    device_group.createdAt AS createdAt,
    device_group.updatedAt AS updatedAt,
    device_group.isEnable AS isEnable,
    device_group.name AS name,
    device_group.type AS type,
    device_group.description AS description
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.alink.DeviceGroup" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 组名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 组类型: 0-巡检组 1-处理组 2-监察组 -->
    <result column="type" property="type"/>
    <!-- Comment: 组描述 -->
    <result column="description" property="description"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.alink.DeviceGroup" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM device_group
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.alink.DeviceGroup" parameterType="com.welearn.entity.qo.alink.DeviceGroupQueryCondition" >
    SELECT
      dg.id,
      dg.createdAt,
      dg.updatedAt,
      dg.isEnable,
      dg.name,
      dg.type,
      dg.description
    FROM device_group dg
      <if test="userId != null" >
        join re_device_group_user rdgu on rdgu.isEnable = true and rdgu.groupId = dg.id and rdgu.userId = #{userId}
      </if>
      <if test="iotId != null" >
        join re_device_group_device rdgd on rdgd.isEnable = true and rdgd.groupId = dg.id and rdgd.iotId = #{iotId}
      </if>
      <where>
        <if test="id != null" >
          dg.id = #{id}
        </if>
        <if test="createdAt != null" >
          AND dg.createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND dg.updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND dg.isEnable = #{isEnable}
        </if>
        <if test="name != null" >
          AND dg.name = #{name}
        </if>
        <if test="type != null" >
          AND dg.type = #{type}
        </if>
        <if test="description != null" >
          AND dg.description = #{description}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY dg.createdAt ASC, dg.updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.alink.DeviceGroup" >
    SELECT
      <include refid="sqlColumns"/>
    FROM device_group
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM device_group
  </select>

    <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.alink.DeviceGroup" >
    UPDATE device_group
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      type = #{type},
      description = #{description},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.alink.DeviceGroup" >
    UPDATE device_group
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE device_group SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE device_group SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.alink.DeviceGroup" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO device_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      type,
      description,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{type},
      #{description},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.alink.DeviceGroup" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO device_group 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="description != null" >
        #{description},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM device_group WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM device_group
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="selectGroupUserIdByIotIdAndGroupType" resultType="string">
    SELECT rdgu.userId
    FROM device_group dg
    JOIN re_device_group_device rdgd ON rdgd.groupId = dg.id AND rdgd.iotId = #{iotId} AND rdgd.isEnable = TRUE
    JOIN re_device_group_user rdgu ON rdgu.groupId = dg.id AND rdgu.isEnable = TRUE
    WHERE dg.type = #{groupType} and rdgu.isEnable = TRUE
  </select>
</mapper>