<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : product
  Comment  : 物联产品
  Mapper   : com.welearn.mapper.ProductMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/6/1 11:38:45
-->
<mapper namespace="com.welearn.mapper.ProductMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    productKey,
    dataFormat,
    productName,
    prpoductSecret,
    description,
    deviceCount,
    nodeType,
    categoryName,
    categoryKey,
    platformType,
    id2,
    productStatus,
    netType,
    tslJson,
    showConfigJson,
    statisitcsConfigJson
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    product.id AS id,
    product.createdAt AS createdAt,
    product.updatedAt AS updatedAt,
    product.isEnable AS isEnable,
    product.productKey AS productKey,
    product.dataFormat AS dataFormat,
    product.productName AS productName,
    product.prpoductSecret AS prpoductSecret,
    product.description AS description,
    product.deviceCount AS deviceCount,
    product.nodeType AS nodeType,
    product.categoryName AS categoryName,
    product.categoryKey AS categoryKey,
    product.platformType AS platformType,
    product.id2 AS id2,
    product.productStatus AS productStatus,
    product.netType AS netType,
    product.tslJson AS tslJson,
    product.showConfigJson AS showConfigJson,
    product.statisitcsConfigJson AS statisitcsConfigJson
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.alink.Product" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 隶属的产品Key -->
    <result column="productKey" property="productKey"/>
    <!-- Comment: 数据类型: 0-串口数据格式 1-AlinkJSON -->
    <result column="dataFormat" property="dataFormat"/>
    <!-- Comment: 产品名称 -->
    <result column="productName" property="productName"/>
    <!-- Comment: 产品秘钥 -->
    <result column="prpoductSecret" property="prpoductSecret"/>
    <!-- Comment: 产品描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 设备数量 -->
    <result column="deviceCount" property="deviceCount"/>
    <!-- Comment: 高级版产品的节点类型 0-设备 1-网关 -->
    <result column="nodeType" property="nodeType"/>
    <!-- Comment: 高级版产品的设备类型 -->
    <result column="categoryName" property="categoryName"/>
    <!-- Comment: 高级版产品的英文标识 -->
    <result column="categoryKey" property="categoryKey"/>
    <!-- Comment: 平台类型: 0-物联网平台基础版 1-物联网平台高级版 -->
    <result column="platformType" property="platformType"/>
    <!-- Comment: 是否使用ID²认证: 0-否 1-是 -->
    <result column="id2" property="id2"/>
    <!-- Comment: 产品状态: 0-开发中 1-已发布 -->
    <result column="productStatus" property="productStatus"/>
    <!-- Comment: 联网方式: 0-WIFI 1-Cellular (2G/3G/4G)蜂窝网 2-Ethernet 以太网 3-其他 -->
    <result column="netType" property="netType"/>
    <!-- Comment: 物模型 Thing Specification Language JSON格式存储 -->
    <result column="tslJson" property="tslJson"/>
    <!-- Comment: 数据显示用 JSON格式配置文件 -->
    <result column="showConfigJson" property="showConfigJson"/>
    <!-- Comment: 数据分析用 JSON格式配置文件 -->
    <result column="statisitcsConfigJson" property="statisitcsConfigJson"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.alink.Product" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM product
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.alink.Product" parameterType="com.welearn.entity.qo.alink.ProductQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM product
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="productKey != null" >
          AND productKey = #{productKey}
        </if>
        <if test="dataFormat != null" >
          AND dataFormat = #{dataFormat}
        </if>
        <if test="productName != null" >
          AND productName = #{productName}
        </if>
        <if test="prpoductSecret != null" >
          AND prpoductSecret = #{prpoductSecret}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <if test="deviceCount != null" >
          AND deviceCount = #{deviceCount}
        </if>
        <if test="nodeType != null" >
          AND nodeType = #{nodeType}
        </if>
        <if test="categoryName != null" >
          AND categoryName = #{categoryName}
        </if>
        <if test="categoryKey != null" >
          AND categoryKey = #{categoryKey}
        </if>
        <if test="platformType != null" >
          AND platformType = #{platformType}
        </if>
        <if test="id2 != null" >
          AND id2 = #{id2}
        </if>
        <if test="productStatus != null" >
          AND productStatus = #{productStatus}
        </if>
        <if test="netType != null" >
          AND netType = #{netType}
        </if>
        <if test="tslJson != null" >
          AND tslJson = #{tslJson}
        </if>
        <if test="showConfigJson != null" >
          AND showConfigJson = #{showConfigJson}
        </if>
        <if test="statisitcsConfigJson != null" >
          AND statisitcsConfigJson = #{statisitcsConfigJson}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.alink.Product" >
    SELECT
      <include refid="sqlColumns"/>
    FROM product
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM product
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.alink.Product" >
    UPDATE product
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      productKey = #{productKey},
      dataFormat = #{dataFormat},
      productName = #{productName},
      prpoductSecret = #{prpoductSecret},
      description = #{description},
      deviceCount = #{deviceCount},
      nodeType = #{nodeType},
      categoryName = #{categoryName},
      categoryKey = #{categoryKey},
      platformType = #{platformType},
      id2 = #{id2},
      productStatus = #{productStatus},
      netType = #{netType},
      tslJson = #{tslJson},
      showConfigJson = #{showConfigJson},
      statisitcsConfigJson = #{statisitcsConfigJson},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.alink.Product" >
    UPDATE product
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="productKey != null" >
        productKey = #{productKey},
      </if>
      <if test="dataFormat != null" >
        dataFormat = #{dataFormat},
      </if>
      <if test="productName != null" >
        productName = #{productName},
      </if>
      <if test="prpoductSecret != null" >
        prpoductSecret = #{prpoductSecret},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="deviceCount != null" >
        deviceCount = #{deviceCount},
      </if>
      <if test="nodeType != null" >
        nodeType = #{nodeType},
      </if>
      <if test="categoryName != null" >
        categoryName = #{categoryName},
      </if>
      <if test="categoryKey != null" >
        categoryKey = #{categoryKey},
      </if>
      <if test="platformType != null" >
        platformType = #{platformType},
      </if>
      <if test="id2 != null" >
        id2 = #{id2},
      </if>
      <if test="productStatus != null" >
        productStatus = #{productStatus},
      </if>
      <if test="netType != null" >
        netType = #{netType},
      </if>
      <if test="tslJson != null" >
        tslJson = #{tslJson},
      </if>
      <if test="showConfigJson != null" >
        showConfigJson = #{showConfigJson},
      </if>
      <if test="statisitcsConfigJson != null" >
        statisitcsConfigJson = #{statisitcsConfigJson},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE product SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE product SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.alink.Product" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      productKey,
      dataFormat,
      productName,
      prpoductSecret,
      description,
      deviceCount,
      nodeType,
      categoryName,
      categoryKey,
      platformType,
      id2,
      productStatus,
      netType,
      tslJson,
      showConfigJson,
      statisitcsConfigJson,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{productKey},
      #{dataFormat},
      #{productName},
      #{prpoductSecret},
      #{description},
      #{deviceCount},
      #{nodeType},
      #{categoryName},
      #{categoryKey},
      #{platformType},
      #{id2},
      #{productStatus},
      #{netType},
      #{tslJson},
      #{showConfigJson},
      #{statisitcsConfigJson},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.alink.Product" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO product 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="productKey != null" >
        productKey,
      </if>
      <if test="dataFormat != null" >
        dataFormat,
      </if>
      <if test="productName != null" >
        productName,
      </if>
      <if test="prpoductSecret != null" >
        prpoductSecret,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="deviceCount != null" >
        deviceCount,
      </if>
      <if test="nodeType != null" >
        nodeType,
      </if>
      <if test="categoryName != null" >
        categoryName,
      </if>
      <if test="categoryKey != null" >
        categoryKey,
      </if>
      <if test="platformType != null" >
        platformType,
      </if>
      <if test="id2 != null" >
        id2,
      </if>
      <if test="productStatus != null" >
        productStatus,
      </if>
      <if test="netType != null" >
        netType,
      </if>
      <if test="tslJson != null" >
        tslJson,
      </if>
      <if test="showConfigJson != null" >
        showConfigJson,
      </if>
      <if test="statisitcsConfigJson != null" >
        statisitcsConfigJson,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="productKey != null" >
        #{productKey},
      </if>
      <if test="dataFormat != null" >
        #{dataFormat},
      </if>
      <if test="productName != null" >
        #{productName},
      </if>
      <if test="prpoductSecret != null" >
        #{prpoductSecret},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="deviceCount != null" >
        #{deviceCount},
      </if>
      <if test="nodeType != null" >
        #{nodeType},
      </if>
      <if test="categoryName != null" >
        #{categoryName},
      </if>
      <if test="categoryKey != null" >
        #{categoryKey},
      </if>
      <if test="platformType != null" >
        #{platformType},
      </if>
      <if test="id2 != null" >
        #{id2},
      </if>
      <if test="productStatus != null" >
        #{productStatus},
      </if>
      <if test="netType != null" >
        #{netType},
      </if>
      <if test="tslJson != null" >
        #{tslJson},
      </if>
      <if test="showConfigJson != null" >
        #{showConfigJson},
      </if>
      <if test="statisitcsConfigJson != null" >
        #{statisitcsConfigJson},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM product WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM product
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="getStatisticConfigJsonStr" resultType="com.welearn.entity.vo.response.alink.StatisticConfigJsonStr">
    select d.iotId as iotId, p.statisitcsConfigJson as data from product p
    join device d on d.productKey = p.productKey and d.isEnable = true
  </select>
</mapper>