<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_rfid_tag_device
  Comment  : RFID标签与设备的关联
  Mapper   : com.welearn.mapper.ReRfidTagDeviceMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/7/16 16:51:55
-->
<mapper namespace="com.welearn.mapper.ReRfidTagDeviceMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    iotId,
    tagId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_rfid_tag_device.id AS id,
    re_rfid_tag_device.createdAt AS createdAt,
    re_rfid_tag_device.updatedAt AS updatedAt,
    re_rfid_tag_device.isEnable AS isEnable,
    re_rfid_tag_device.iotId AS iotId,
    re_rfid_tag_device.tagId AS tagId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.alink.ReRfidTagDevice" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 设备id -->
    <result column="iotId" property="iotId"/>
    <!-- Comment: 标签id -->
    <result column="tagId" property="tagId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.alink.ReRfidTagDevice" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_rfid_tag_device
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.alink.ReRfidTagDevice" parameterType="com.welearn.entity.qo.alink.ReRfidTagDeviceQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_rfid_tag_device
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="iotId != null" >
          AND iotId = #{iotId}
        </if>
        <if test="tagId != null" >
          AND tagId = #{tagId}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.alink.ReRfidTagDevice" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_rfid_tag_device
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_rfid_tag_device
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.alink.ReRfidTagDevice" >
    UPDATE re_rfid_tag_device
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      iotId = #{iotId},
      tagId = #{tagId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.alink.ReRfidTagDevice" >
    UPDATE re_rfid_tag_device
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="iotId != null" >
        iotId = #{iotId},
      </if>
      <if test="tagId != null" >
        tagId = #{tagId},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_rfid_tag_device SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_rfid_tag_device SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.alink.ReRfidTagDevice" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_rfid_tag_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      iotId,
      tagId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{iotId},
      #{tagId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.alink.ReRfidTagDevice" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_rfid_tag_device 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="iotId != null" >
        iotId,
      </if>
      <if test="tagId != null" >
        tagId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="iotId != null" >
        #{iotId},
      </if>
      <if test="tagId != null" >
        #{tagId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_rfid_tag_device WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_rfid_tag_device
  </delete>


  <!-- START USER DEFINED -->

  <delete id="deleteByTagId">
    DELETE FROM re_rfid_tag_device where isEnable = true and tagId = #{tagId}
  </delete>
</mapper>