<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment_borrow
  Comment  : 设备借用
  Mapper   : com.welearn.mapper.EquipmentBorrowMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/26 16:20:18
-->
<mapper namespace="com.welearn.mapper.EquipmentBorrowMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    equipmentId,
    equipmentTypeId,
    fixedAssetId,
    status,
    checkResult,
    loanOutAt,
    giveBackPlanAt,
    giveBackRealAt,
    depreciationPrice,
    multiplyingPower,
    dayPrice,
    dayCount,
    sumPrice,
    satisfaction,
    borrowApplicationId,
    giveBackApplicationId,
    borrowDepartmentId,
    borrowDepartmentName,
    borrowUserId,
    borrowUserName,
    borrowUserSignatureId,
    giveBackUserId,
    giveBackUserName,
    giveBackUserSignatureId,
    loanOutDepartmentId,
    loanOutDepartmentName,
    loanOutUserId,
    loanOutUserName,
    loanOutUserSignatureId,
    checkUserId,
    checkUserName,
    checkUserSignatureId,
    accessoryCount,
    borrowRemark,
    loanOutRemark,
    checkRemark,
    giveBackBill,
    loanOutBill
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment_borrow.id AS id,
    equipment_borrow.createdAt AS createdAt,
    equipment_borrow.updatedAt AS updatedAt,
    equipment_borrow.isEnable AS isEnable,
    equipment_borrow.equipmentId AS equipmentId,
    equipment_borrow.equipmentTypeId AS equipmentTypeId,
    equipment_borrow.fixedAssetId AS fixedAssetId,
    equipment_borrow.status AS status,
    equipment_borrow.checkResult AS checkResult,
    equipment_borrow.loanOutAt AS loanOutAt,
    equipment_borrow.giveBackPlanAt AS giveBackPlanAt,
    equipment_borrow.giveBackRealAt AS giveBackRealAt,
    equipment_borrow.depreciationPrice AS depreciationPrice,
    equipment_borrow.multiplyingPower AS multiplyingPower,
    equipment_borrow.dayPrice AS dayPrice,
    equipment_borrow.dayCount AS dayCount,
    equipment_borrow.sumPrice AS sumPrice,
    equipment_borrow.satisfaction AS satisfaction,
    equipment_borrow.borrowApplicationId AS borrowApplicationId,
    equipment_borrow.giveBackApplicationId AS giveBackApplicationId,
    equipment_borrow.borrowDepartmentId AS borrowDepartmentId,
    equipment_borrow.borrowDepartmentName AS borrowDepartmentName,
    equipment_borrow.borrowUserId AS borrowUserId,
    equipment_borrow.borrowUserName AS borrowUserName,
    equipment_borrow.borrowUserSignatureId AS borrowUserSignatureId,
    equipment_borrow.giveBackUserId AS giveBackUserId,
    equipment_borrow.giveBackUserName AS giveBackUserName,
    equipment_borrow.giveBackUserSignatureId AS giveBackUserSignatureId,
    equipment_borrow.loanOutDepartmentId AS loanOutDepartmentId,
    equipment_borrow.loanOutDepartmentName AS loanOutDepartmentName,
    equipment_borrow.loanOutUserId AS loanOutUserId,
    equipment_borrow.loanOutUserName AS loanOutUserName,
    equipment_borrow.loanOutUserSignatureId AS loanOutUserSignatureId,
    equipment_borrow.checkUserId AS checkUserId,
    equipment_borrow.checkUserName AS checkUserName,
    equipment_borrow.checkUserSignatureId AS checkUserSignatureId,
    equipment_borrow.accessoryCount AS accessoryCount,
    equipment_borrow.borrowRemark AS borrowRemark,
    equipment_borrow.loanOutRemark AS loanOutRemark,
    equipment_borrow.checkRemark AS checkRemark,
    equipment_borrow.giveBackBill AS giveBackBill,
    equipment_borrow.loanOutBill AS loanOutBill
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.EquipmentBorrow" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 设备id -->
    <result column="equipmentId" property="equipmentId"/>
    <!-- Comment: 设备类型id -->
    <result column="equipmentTypeId" property="equipmentTypeId"/>
    <!-- Comment: 固定资产id -->
    <result column="fixedAssetId" property="fixedAssetId"/>
    <!-- Comment: 状态:0-借用待审批 1-借用待领取 2-借出待归还 3-归还待验收 4-验收通过 5-验收失败 -->
    <result column="status" property="status"/>
    <!-- Comment: 验收结果: 0-正常 1-消耗损坏 2-人为损坏 3-附件缺失 4-设备缺失 5-全部缺失 -->
    <result column="checkResult" property="checkResult"/>
    <!-- Comment: 借出时间点 -->
    <result column="loanOutAt" property="loanOutAt"/>
    <!-- Comment: 计划归还时间点 -->
    <result column="giveBackPlanAt" property="giveBackPlanAt"/>
    <!-- Comment: 实际归还时间点 -->
    <result column="giveBackRealAt" property="giveBackRealAt"/>
    <!-- Comment: 折旧单价(每天折旧的金额) -->
    <result column="depreciationPrice" property="depreciationPrice"/>
    <!-- Comment: 借用倍率(默认 1.0) -->
    <result column="multiplyingPower" property="multiplyingPower"/>
    <!-- Comment: 借用单价(单位:天 折旧单价 * 借用倍率) -->
    <result column="dayPrice" property="dayPrice"/>
    <!-- Comment: 实际借用天数(精确到0.01天 ) -->
    <result column="dayCount" property="dayCount"/>
    <!-- Comment: 借用总花费 -->
    <result column="sumPrice" property="sumPrice"/>
    <!-- Comment: 归还满意度 -->
    <result column="satisfaction" property="satisfaction"/>
    <!-- Comment: 借用申请id -->
    <result column="borrowApplicationId" property="borrowApplicationId"/>
    <!-- Comment: 归还申请id(暂保留) -->
    <result column="giveBackApplicationId" property="giveBackApplicationId"/>
    <!-- Comment: 借入科室id -->
    <result column="borrowDepartmentId" property="borrowDepartmentId"/>
    <!-- Comment: 借入科室名称 -->
    <result column="borrowDepartmentName" property="borrowDepartmentName"/>
    <!-- Comment: 借入人员id -->
    <result column="borrowUserId" property="borrowUserId"/>
    <!-- Comment: 借入人员名称 -->
    <result column="borrowUserName" property="borrowUserName"/>
    <!-- Comment: 借入人员签字id -->
    <result column="borrowUserSignatureId" property="borrowUserSignatureId"/>
    <!-- Comment: 归还人员id -->
    <result column="giveBackUserId" property="giveBackUserId"/>
    <!-- Comment: 归还人员名称 -->
    <result column="giveBackUserName" property="giveBackUserName"/>
    <!-- Comment: 归还人员签字id -->
    <result column="giveBackUserSignatureId" property="giveBackUserSignatureId"/>
    <!-- Comment: 借出科室id -->
    <result column="loanOutDepartmentId" property="loanOutDepartmentId"/>
    <!-- Comment: 借出科室名称 -->
    <result column="loanOutDepartmentName" property="loanOutDepartmentName"/>
    <!-- Comment: 借出人员id -->
    <result column="loanOutUserId" property="loanOutUserId"/>
    <!-- Comment: 借出人员名称 -->
    <result column="loanOutUserName" property="loanOutUserName"/>
    <!-- Comment: 借出人员签字id -->
    <result column="loanOutUserSignatureId" property="loanOutUserSignatureId"/>
    <!-- Comment: 验收人员id -->
    <result column="checkUserId" property="checkUserId"/>
    <!-- Comment: 验收人员名称 -->
    <result column="checkUserName" property="checkUserName"/>
    <!-- Comment: 验收人员签字id -->
    <result column="checkUserSignatureId" property="checkUserSignatureId"/>
    <!-- Comment: 借用设备附件数量 -->
    <result column="accessoryCount" property="accessoryCount"/>
    <!-- Comment: 借入备注 -->
    <result column="borrowRemark" property="borrowRemark"/>
    <!-- Comment: 借出备注 -->
    <result column="loanOutRemark" property="loanOutRemark"/>
    <!-- Comment: 验收备注 -->
    <result column="checkRemark" property="checkRemark"/>
    <!-- Comment: 归还验收单 -->
    <result column="giveBackBill" property="giveBackBill"/>
    <!-- Comment: 借出领用单 -->
    <result column="loanOutBill" property="loanOutBill"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.EquipmentBorrow" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_borrow
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.EquipmentBorrow" parameterType="com.welearn.entity.qo.equipment.EquipmentBorrowQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_borrow
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="equipmentId != null" >
        AND equipmentId = #{equipmentId}
      </if>
      <if test="equipmentTypeId != null" >
        AND equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="fixedAssetId != null" >
        AND fixedAssetId = #{fixedAssetId}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="checkResult != null" >
        AND checkResult = #{checkResult}
      </if>
      <if test="loanOutAt != null" >
        AND loanOutAt = #{loanOutAt}
      </if>
      <if test="giveBackPlanAt != null" >
        AND giveBackPlanAt = #{giveBackPlanAt}
      </if>
      <if test="giveBackRealAt != null" >
        AND giveBackRealAt = #{giveBackRealAt}
      </if>
      <if test="depreciationPrice != null" >
        AND depreciationPrice = #{depreciationPrice}
      </if>
      <if test="multiplyingPower != null" >
        AND multiplyingPower = #{multiplyingPower}
      </if>
      <if test="dayPrice != null" >
        AND dayPrice = #{dayPrice}
      </if>
      <if test="dayCount != null" >
        AND dayCount = #{dayCount}
      </if>
      <if test="sumPrice != null" >
        AND sumPrice = #{sumPrice}
      </if>
      <if test="satisfaction != null" >
        AND satisfaction = #{satisfaction}
      </if>
      <if test="borrowApplicationId != null" >
        AND borrowApplicationId = #{borrowApplicationId}
      </if>
      <if test="giveBackApplicationId != null" >
        AND giveBackApplicationId = #{giveBackApplicationId}
      </if>
      <if test="borrowDepartmentId != null" >
        AND borrowDepartmentId = #{borrowDepartmentId}
      </if>
      <if test="borrowDepartmentName != null" >
        AND borrowDepartmentName = #{borrowDepartmentName}
      </if>
      <if test="borrowUserId != null" >
        AND borrowUserId = #{borrowUserId}
      </if>
      <if test="borrowUserName != null" >
        AND borrowUserName = #{borrowUserName}
      </if>
      <if test="borrowUserSignatureId != null" >
        AND borrowUserSignatureId = #{borrowUserSignatureId}
      </if>
      <if test="giveBackUserId != null" >
        AND giveBackUserId = #{giveBackUserId}
      </if>
      <if test="giveBackUserName != null" >
        AND giveBackUserName = #{giveBackUserName}
      </if>
      <if test="giveBackUserSignatureId != null" >
        AND giveBackUserSignatureId = #{giveBackUserSignatureId}
      </if>
      <if test="loanOutDepartmentId != null" >
        AND loanOutDepartmentId = #{loanOutDepartmentId}
      </if>
      <if test="loanOutDepartmentName != null" >
        AND loanOutDepartmentName = #{loanOutDepartmentName}
      </if>
      <if test="loanOutUserId != null" >
        AND loanOutUserId = #{loanOutUserId}
      </if>
      <if test="loanOutUserName != null" >
        AND loanOutUserName = #{loanOutUserName}
      </if>
      <if test="loanOutUserSignatureId != null" >
        AND loanOutUserSignatureId = #{loanOutUserSignatureId}
      </if>
      <if test="checkUserId != null" >
        AND checkUserId = #{checkUserId}
      </if>
      <if test="checkUserName != null" >
        AND checkUserName = #{checkUserName}
      </if>
      <if test="checkUserSignatureId != null" >
        AND checkUserSignatureId = #{checkUserSignatureId}
      </if>
      <if test="accessoryCount != null" >
        AND accessoryCount = #{accessoryCount}
      </if>
      <if test="borrowRemark != null" >
        AND borrowRemark = #{borrowRemark}
      </if>
      <if test="loanOutRemark != null" >
        AND loanOutRemark = #{loanOutRemark}
      </if>
      <if test="checkRemark != null" >
        AND checkRemark = #{checkRemark}
      </if>
      <if test="giveBackBill != null" >
        AND giveBackBill = #{giveBackBill}
      </if>
      <if test="loanOutBill != null" >
        AND loanOutBill = #{loanOutBill}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.EquipmentBorrow" >
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_borrow
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment_borrow
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.EquipmentBorrow" >
    UPDATE equipment_borrow
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      equipmentId = #{equipmentId},
      equipmentTypeId = #{equipmentTypeId},
      fixedAssetId = #{fixedAssetId},
      status = #{status},
      checkResult = #{checkResult},
      loanOutAt = #{loanOutAt},
      giveBackPlanAt = #{giveBackPlanAt},
      giveBackRealAt = #{giveBackRealAt},
      depreciationPrice = #{depreciationPrice},
      multiplyingPower = #{multiplyingPower},
      dayPrice = #{dayPrice},
      dayCount = #{dayCount},
      sumPrice = #{sumPrice},
      satisfaction = #{satisfaction},
      borrowApplicationId = #{borrowApplicationId},
      giveBackApplicationId = #{giveBackApplicationId},
      borrowDepartmentId = #{borrowDepartmentId},
      borrowDepartmentName = #{borrowDepartmentName},
      borrowUserId = #{borrowUserId},
      borrowUserName = #{borrowUserName},
      borrowUserSignatureId = #{borrowUserSignatureId},
      giveBackUserId = #{giveBackUserId},
      giveBackUserName = #{giveBackUserName},
      giveBackUserSignatureId = #{giveBackUserSignatureId},
      loanOutDepartmentId = #{loanOutDepartmentId},
      loanOutDepartmentName = #{loanOutDepartmentName},
      loanOutUserId = #{loanOutUserId},
      loanOutUserName = #{loanOutUserName},
      loanOutUserSignatureId = #{loanOutUserSignatureId},
      checkUserId = #{checkUserId},
      checkUserName = #{checkUserName},
      checkUserSignatureId = #{checkUserSignatureId},
      accessoryCount = #{accessoryCount},
      borrowRemark = #{borrowRemark},
      loanOutRemark = #{loanOutRemark},
      checkRemark = #{checkRemark},
      giveBackBill = #{giveBackBill},
      loanOutBill = #{loanOutBill},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.EquipmentBorrow" >
    UPDATE equipment_borrow
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="equipmentId != null" >
        equipmentId = #{equipmentId},
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId = #{equipmentTypeId},
      </if>
      <if test="fixedAssetId != null" >
        fixedAssetId = #{fixedAssetId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="checkResult != null" >
        checkResult = #{checkResult},
      </if>
      <if test="loanOutAt != null" >
        loanOutAt = #{loanOutAt},
      </if>
      <if test="giveBackPlanAt != null" >
        giveBackPlanAt = #{giveBackPlanAt},
      </if>
      <if test="giveBackRealAt != null" >
        giveBackRealAt = #{giveBackRealAt},
      </if>
      <if test="depreciationPrice != null" >
        depreciationPrice = #{depreciationPrice},
      </if>
      <if test="multiplyingPower != null" >
        multiplyingPower = #{multiplyingPower},
      </if>
      <if test="dayPrice != null" >
        dayPrice = #{dayPrice},
      </if>
      <if test="dayCount != null" >
        dayCount = #{dayCount},
      </if>
      <if test="sumPrice != null" >
        sumPrice = #{sumPrice},
      </if>
      <if test="satisfaction != null" >
        satisfaction = #{satisfaction},
      </if>
      <if test="borrowApplicationId != null" >
        borrowApplicationId = #{borrowApplicationId},
      </if>
      <if test="giveBackApplicationId != null" >
        giveBackApplicationId = #{giveBackApplicationId},
      </if>
      <if test="borrowDepartmentId != null" >
        borrowDepartmentId = #{borrowDepartmentId},
      </if>
      <if test="borrowDepartmentName != null" >
        borrowDepartmentName = #{borrowDepartmentName},
      </if>
      <if test="borrowUserId != null" >
        borrowUserId = #{borrowUserId},
      </if>
      <if test="borrowUserName != null" >
        borrowUserName = #{borrowUserName},
      </if>
      <if test="borrowUserSignatureId != null" >
        borrowUserSignatureId = #{borrowUserSignatureId},
      </if>
      <if test="giveBackUserId != null" >
        giveBackUserId = #{giveBackUserId},
      </if>
      <if test="giveBackUserName != null" >
        giveBackUserName = #{giveBackUserName},
      </if>
      <if test="giveBackUserSignatureId != null" >
        giveBackUserSignatureId = #{giveBackUserSignatureId},
      </if>
      <if test="loanOutDepartmentId != null" >
        loanOutDepartmentId = #{loanOutDepartmentId},
      </if>
      <if test="loanOutDepartmentName != null" >
        loanOutDepartmentName = #{loanOutDepartmentName},
      </if>
      <if test="loanOutUserId != null" >
        loanOutUserId = #{loanOutUserId},
      </if>
      <if test="loanOutUserName != null" >
        loanOutUserName = #{loanOutUserName},
      </if>
      <if test="loanOutUserSignatureId != null" >
        loanOutUserSignatureId = #{loanOutUserSignatureId},
      </if>
      <if test="checkUserId != null" >
        checkUserId = #{checkUserId},
      </if>
      <if test="checkUserName != null" >
        checkUserName = #{checkUserName},
      </if>
      <if test="checkUserSignatureId != null" >
        checkUserSignatureId = #{checkUserSignatureId},
      </if>
      <if test="accessoryCount != null" >
        accessoryCount = #{accessoryCount},
      </if>
      <if test="borrowRemark != null" >
        borrowRemark = #{borrowRemark},
      </if>
      <if test="loanOutRemark != null" >
        loanOutRemark = #{loanOutRemark},
      </if>
      <if test="checkRemark != null" >
        checkRemark = #{checkRemark},
      </if>
      <if test="giveBackBill != null" >
        giveBackBill = #{giveBackBill},
      </if>
      <if test="loanOutBill != null" >
        loanOutBill = #{loanOutBill},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment_borrow SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment_borrow SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.EquipmentBorrow" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_borrow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      equipmentId,
      equipmentTypeId,
      fixedAssetId,
      status,
      checkResult,
      loanOutAt,
      giveBackPlanAt,
      giveBackRealAt,
      depreciationPrice,
      multiplyingPower,
      dayPrice,
      dayCount,
      sumPrice,
      satisfaction,
      borrowApplicationId,
      giveBackApplicationId,
      borrowDepartmentId,
      borrowDepartmentName,
      borrowUserId,
      borrowUserName,
      borrowUserSignatureId,
      giveBackUserId,
      giveBackUserName,
      giveBackUserSignatureId,
      loanOutDepartmentId,
      loanOutDepartmentName,
      loanOutUserId,
      loanOutUserName,
      loanOutUserSignatureId,
      checkUserId,
      checkUserName,
      checkUserSignatureId,
      accessoryCount,
      borrowRemark,
      loanOutRemark,
      checkRemark,
      giveBackBill,
      loanOutBill,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{equipmentId},
      #{equipmentTypeId},
      #{fixedAssetId},
      #{status},
      #{checkResult},
      #{loanOutAt},
      #{giveBackPlanAt},
      #{giveBackRealAt},
      #{depreciationPrice},
      #{multiplyingPower},
      #{dayPrice},
      #{dayCount},
      #{sumPrice},
      #{satisfaction},
      #{borrowApplicationId},
      #{giveBackApplicationId},
      #{borrowDepartmentId},
      #{borrowDepartmentName},
      #{borrowUserId},
      #{borrowUserName},
      #{borrowUserSignatureId},
      #{giveBackUserId},
      #{giveBackUserName},
      #{giveBackUserSignatureId},
      #{loanOutDepartmentId},
      #{loanOutDepartmentName},
      #{loanOutUserId},
      #{loanOutUserName},
      #{loanOutUserSignatureId},
      #{checkUserId},
      #{checkUserName},
      #{checkUserSignatureId},
      #{accessoryCount},
      #{borrowRemark},
      #{loanOutRemark},
      #{checkRemark},
      #{giveBackBill},
      #{loanOutBill},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.EquipmentBorrow" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_borrow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="equipmentId != null" >
        equipmentId,
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId,
      </if>
      <if test="fixedAssetId != null" >
        fixedAssetId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="checkResult != null" >
        checkResult,
      </if>
      <if test="loanOutAt != null" >
        loanOutAt,
      </if>
      <if test="giveBackPlanAt != null" >
        giveBackPlanAt,
      </if>
      <if test="giveBackRealAt != null" >
        giveBackRealAt,
      </if>
      <if test="depreciationPrice != null" >
        depreciationPrice,
      </if>
      <if test="multiplyingPower != null" >
        multiplyingPower,
      </if>
      <if test="dayPrice != null" >
        dayPrice,
      </if>
      <if test="dayCount != null" >
        dayCount,
      </if>
      <if test="sumPrice != null" >
        sumPrice,
      </if>
      <if test="satisfaction != null" >
        satisfaction,
      </if>
      <if test="borrowApplicationId != null" >
        borrowApplicationId,
      </if>
      <if test="giveBackApplicationId != null" >
        giveBackApplicationId,
      </if>
      <if test="borrowDepartmentId != null" >
        borrowDepartmentId,
      </if>
      <if test="borrowDepartmentName != null" >
        borrowDepartmentName,
      </if>
      <if test="borrowUserId != null" >
        borrowUserId,
      </if>
      <if test="borrowUserName != null" >
        borrowUserName,
      </if>
      <if test="borrowUserSignatureId != null" >
        borrowUserSignatureId,
      </if>
      <if test="giveBackUserId != null" >
        giveBackUserId,
      </if>
      <if test="giveBackUserName != null" >
        giveBackUserName,
      </if>
      <if test="giveBackUserSignatureId != null" >
        giveBackUserSignatureId,
      </if>
      <if test="loanOutDepartmentId != null" >
        loanOutDepartmentId,
      </if>
      <if test="loanOutDepartmentName != null" >
        loanOutDepartmentName,
      </if>
      <if test="loanOutUserId != null" >
        loanOutUserId,
      </if>
      <if test="loanOutUserName != null" >
        loanOutUserName,
      </if>
      <if test="loanOutUserSignatureId != null" >
        loanOutUserSignatureId,
      </if>
      <if test="checkUserId != null" >
        checkUserId,
      </if>
      <if test="checkUserName != null" >
        checkUserName,
      </if>
      <if test="checkUserSignatureId != null" >
        checkUserSignatureId,
      </if>
      <if test="accessoryCount != null" >
        accessoryCount,
      </if>
      <if test="borrowRemark != null" >
        borrowRemark,
      </if>
      <if test="loanOutRemark != null" >
        loanOutRemark,
      </if>
      <if test="checkRemark != null" >
        checkRemark,
      </if>
      <if test="giveBackBill != null" >
        giveBackBill,
      </if>
      <if test="loanOutBill != null" >
        loanOutBill,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId},
      </if>
      <if test="equipmentTypeId != null" >
        #{equipmentTypeId},
      </if>
      <if test="fixedAssetId != null" >
        #{fixedAssetId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="checkResult != null" >
        #{checkResult},
      </if>
      <if test="loanOutAt != null" >
        #{loanOutAt},
      </if>
      <if test="giveBackPlanAt != null" >
        #{giveBackPlanAt},
      </if>
      <if test="giveBackRealAt != null" >
        #{giveBackRealAt},
      </if>
      <if test="depreciationPrice != null" >
        #{depreciationPrice},
      </if>
      <if test="multiplyingPower != null" >
        #{multiplyingPower},
      </if>
      <if test="dayPrice != null" >
        #{dayPrice},
      </if>
      <if test="dayCount != null" >
        #{dayCount},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice},
      </if>
      <if test="satisfaction != null" >
        #{satisfaction},
      </if>
      <if test="borrowApplicationId != null" >
        #{borrowApplicationId},
      </if>
      <if test="giveBackApplicationId != null" >
        #{giveBackApplicationId},
      </if>
      <if test="borrowDepartmentId != null" >
        #{borrowDepartmentId},
      </if>
      <if test="borrowDepartmentName != null" >
        #{borrowDepartmentName},
      </if>
      <if test="borrowUserId != null" >
        #{borrowUserId},
      </if>
      <if test="borrowUserName != null" >
        #{borrowUserName},
      </if>
      <if test="borrowUserSignatureId != null" >
        #{borrowUserSignatureId},
      </if>
      <if test="giveBackUserId != null" >
        #{giveBackUserId},
      </if>
      <if test="giveBackUserName != null" >
        #{giveBackUserName},
      </if>
      <if test="giveBackUserSignatureId != null" >
        #{giveBackUserSignatureId},
      </if>
      <if test="loanOutDepartmentId != null" >
        #{loanOutDepartmentId},
      </if>
      <if test="loanOutDepartmentName != null" >
        #{loanOutDepartmentName},
      </if>
      <if test="loanOutUserId != null" >
        #{loanOutUserId},
      </if>
      <if test="loanOutUserName != null" >
        #{loanOutUserName},
      </if>
      <if test="loanOutUserSignatureId != null" >
        #{loanOutUserSignatureId},
      </if>
      <if test="checkUserId != null" >
        #{checkUserId},
      </if>
      <if test="checkUserName != null" >
        #{checkUserName},
      </if>
      <if test="checkUserSignatureId != null" >
        #{checkUserSignatureId},
      </if>
      <if test="accessoryCount != null" >
        #{accessoryCount},
      </if>
      <if test="borrowRemark != null" >
        #{borrowRemark},
      </if>
      <if test="loanOutRemark != null" >
        #{loanOutRemark},
      </if>
      <if test="checkRemark != null" >
        #{checkRemark},
      </if>
      <if test="giveBackBill != null" >
        #{giveBackBill},
      </if>
      <if test="loanOutBill != null" >
        #{loanOutBill},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment_borrow WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment_borrow
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="searchInfo" resultType="com.welearn.entity.vo.response.equipment.EquipmentBorrowInfo" parameterType="com.welearn.entity.qo.equipment.EquipmentBorrowQueryCondition" >
    SELECT
      eb.*,
      e.udi as equipmentUdi,
      e.equipmentTypeName as equipmentTypeName,
      e.managementLever as managementLever,
      e.specification as specification,
      e.modelNumber as modelNumber,
      e.manufacturerName as manufacturerName,
      e.equipmentStatus as equipmentStatus,
      e.functionStatus as functionStatus,
      e.borrowStatus as borrowStatus,
      e.adjustStatus as adjustStatus,
      e.repairStatus as repairStatus,
      e.maintainStatus as maintainStatus,
      e.scrapStatus as scrapStatus
    FROM equipment_borrow eb
    join equipment e on e.id = eb.equipmentId and e.isEnable = true
    <where>
      <if test="id != null" >
        eb.id = #{id}
      </if>
      <if test="createdAt != null" >
        AND eb.createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND eb.updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND eb.isEnable = #{isEnable}
      </if>
      <if test="equipmentId != null" >
        AND eb.equipmentId = #{equipmentId}
      </if>
      <if test="equipmentTypeId != null" >
        AND eb.equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="fixedAssetId != null" >
        AND eb.fixedAssetId = #{fixedAssetId}
      </if>
      <if test="status != null" >
        AND eb.status = #{status}
      </if>
      <if test="checkResult != null" >
        AND eb.checkResult = #{checkResult}
      </if>
      <if test="loanOutAt != null" >
        AND eb.loanOutAt = #{loanOutAt}
      </if>
      <if test="giveBackPlanAt != null" >
        AND eb.giveBackPlanAt = #{giveBackPlanAt}
      </if>
      <if test="giveBackRealAt != null" >
        AND eb.giveBackRealAt = #{giveBackRealAt}
      </if>
      <if test="borrowApplicationId != null" >
        AND eb.borrowApplicationId = #{borrowApplicationId}
      </if>
      <if test="giveBackApplicationId != null" >
        AND eb.giveBackApplicationId = #{giveBackApplicationId}
      </if>
      <if test="borrowDepartmentId != null" >
        AND eb.borrowDepartmentId = #{borrowDepartmentId}
      </if>
      <if test="borrowUserId != null" >
        AND eb.borrowUserId = #{borrowUserId}
      </if>
      <if test="borrowUserSignatureId != null" >
        AND eb.borrowUserSignatureId = #{borrowUserSignatureId}
      </if>
      <if test="giveBackUserId != null" >
        AND eb.giveBackUserId = #{giveBackUserId}
      </if>
      <if test="giveBackUserSignatureId != null" >
        AND eb.giveBackUserSignatureId = #{giveBackUserSignatureId}
      </if>
      <if test="loanOutDepartmentId != null" >
        AND eb.loanOutDepartmentId = #{loanOutDepartmentId}
      </if>
      <if test="loanOutUserId != null" >
        AND eb.loanOutUserId = #{loanOutUserId}
      </if>
      <if test="loanOutUserSignatureId != null" >
        AND eb.loanOutUserSignatureId = #{loanOutUserSignatureId}
      </if>
      <if test="checkUserId != null" >
        AND eb.checkUserId = #{checkUserId}
      </if>
      <if test="checkUserSignatureId != null" >
        AND eb.checkUserSignatureId = #{checkUserSignatureId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY eb.createdAt ASC, eb.updatedAt DESC
  </select>

  <select id="borrowStatistic" resultType="com.welearn.entity.po.equipment.EquipmentBorrow">
    select loanOutAt, dayCount, sumPrice, borrowDepartmentName, status, checkResult, satisfaction
    from equipment_borrow
    where equipmentId = #{equipmentId} and loanOutAt is NOT NULL and isEnable = true
  </select>
</mapper>