<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment
  Comment  : 设备
  Mapper   : com.welearn.mapper.EquipmentMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/4 15:48:28
-->
<mapper namespace="com.welearn.mapper.EquipmentMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    udi,
    createdAt,
    updatedAt,
    isEnable,
    supplierId,
    locationId,
    procurementId,
    fixedAssetId,
    procurementDetailId,
    equipmentProductId,
    equipmentProductJson,
    commodityName,
    equipmentTypeId,
    equipmentTypeName,
    managementLever,
    specification,
    modelNumber,
    acceptanceCheckedAt,
    guaranteeRepairExpiredAt,
    manufacturerName,
    isSterileProvide,
    isImportProduct,
    isLargeEquipment,
    certificateId,
    equipmentStatus,
    shouldInspection,
    serialNumber,
    functionStatus,
    photos,
    remark,
    canBorrow,
    borrowStatus,
    adjustStatus,
    repairStatus,
    maintainStatus,
    scrapStatus,
    producedAt
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment.id AS id,
    equipment.udi AS udi,
    equipment.createdAt AS createdAt,
    equipment.updatedAt AS updatedAt,
    equipment.isEnable AS isEnable,
    equipment.supplierId AS supplierId,
    equipment.locationId AS locationId,
    equipment.procurementId AS procurementId,
    equipment.fixedAssetId AS fixedAssetId,
    equipment.procurementDetailId AS procurementDetailId,
    equipment.equipmentProductId AS equipmentProductId,
    equipment.equipmentProductJson AS equipmentProductJson,
    equipment.commodityName AS commodityName,
    equipment.equipmentTypeId AS equipmentTypeId,
    equipment.equipmentTypeName AS equipmentTypeName,
    equipment.managementLever AS managementLever,
    equipment.specification AS specification,
    equipment.modelNumber AS modelNumber,
    equipment.acceptanceCheckedAt AS acceptanceCheckedAt,
    equipment.guaranteeRepairExpiredAt AS guaranteeRepairExpiredAt,
    equipment.manufacturerName AS manufacturerName,
    equipment.isSterileProvide AS isSterileProvide,
    equipment.isImportProduct AS isImportProduct,
    equipment.isLargeEquipment AS isLargeEquipment,
    equipment.certificateId AS certificateId,
    equipment.equipmentStatus AS equipmentStatus,
    equipment.shouldInspection AS shouldInspection,
    equipment.serialNumber AS serialNumber,
    equipment.functionStatus AS functionStatus,
    equipment.photos AS photos,
    equipment.remark AS remark,
    equipment.canBorrow AS canBorrow,
    equipment.borrowStatus AS borrowStatus,
    equipment.adjustStatus AS adjustStatus,
    equipment.repairStatus AS repairStatus,
    equipment.maintainStatus AS maintainStatus,
    equipment.scrapStatus AS scrapStatus,
    equipment.producedAt AS producedAt
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.Equipment" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 统一设备编号 -->
    <result column="udi" property="udi"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 供应商id -->
    <result column="supplierId" property="supplierId"/>
    <!-- Comment: 位置id -->
    <result column="locationId" property="locationId"/>
    <!-- Comment: 采购项目id -->
    <result column="procurementId" property="procurementId"/>
    <!-- Comment: 固定资产id -->
    <result column="fixedAssetId" property="fixedAssetId"/>
    <!-- Comment: 采购项目详情id -->
    <result column="procurementDetailId" property="procurementDetailId"/>
    <!-- Comment: 供应商设备产品id -->
    <result column="equipmentProductId" property="equipmentProductId"/>
    <!-- Comment: 供应商设备产品数据快照 -->
    <result column="equipmentProductJson" property="equipmentProductJson"/>
    <!-- Comment: 商品名称 -->
    <result column="commodityName" property="commodityName"/>
    <!-- Comment: 设备类型id -->
    <result column="equipmentTypeId" property="equipmentTypeId"/>
    <!-- Comment: 设备类型名称 -->
    <result column="equipmentTypeName" property="equipmentTypeName"/>
    <!-- Comment: 管理级别:0-Ⅰ 1-Ⅱ 2-Ⅲ -->
    <result column="managementLever" property="managementLever"/>
    <!-- Comment: 设备规格 -->
    <result column="specification" property="specification"/>
    <!-- Comment: 设备型号 -->
    <result column="modelNumber" property="modelNumber"/>
    <!-- Comment: 验收日期 -->
    <result column="acceptanceCheckedAt" property="acceptanceCheckedAt"/>
    <!-- Comment: 过保日期 -->
    <result column="guaranteeRepairExpiredAt" property="guaranteeRepairExpiredAt"/>
    <!-- Comment: 生产厂商名称 -->
    <result column="manufacturerName" property="manufacturerName"/>
    <!-- Comment: 无菌提供：0-否，1-是 -->
    <result column="isSterileProvide" property="isSterileProvide"/>
    <!-- Comment: 进口产品：0-否，1-是 -->
    <result column="isImportProduct" property="isImportProduct"/>
    <!-- Comment: 大型医疗设备：0-非大型医疗设备，1-甲类大型医疗设备 2-乙类大型医疗设备 -->
    <result column="isLargeEquipment" property="isLargeEquipment"/>
    <!-- Comment: 大型医疗设备装配许可证id -->
    <result column="certificateId" property="certificateId"/>
    <!-- Comment: 设备状态: 0-待初始化, 1-空闲, 2-运行, 3-故障, 4-报废, 5-遗失, 6-维护, 7-封存 -->
    <result column="equipmentStatus" property="equipmentStatus"/>
    <!-- Comment: 是否需要强检：0-不需要，1-需要 -->
    <result column="shouldInspection" property="shouldInspection"/>
    <!-- Comment: 生产序列号 -->
    <result column="serialNumber" property="serialNumber"/>
    <!-- Comment: 功能状态:0-正常 1-降级使用 2-改造升级 -->
    <result column="functionStatus" property="functionStatus"/>
    <!-- Comment: 设备相关图片 -->
    <result column="photos" property="photos"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
    <!-- Comment: 是否可借用：0-不可借用，1-可借用 -->
    <result column="canBorrow" property="canBorrow"/>
    <!-- Comment: 借用状态：0-正常 1-借用待审批 2-借用待归还 -->
    <result column="borrowStatus" property="borrowStatus"/>
    <!-- Comment: 调剂状态：0-正常 1-调剂待审批 2-调剂待封存 3-调剂待处理 -->
    <result column="adjustStatus" property="adjustStatus"/>
    <!-- Comment: 维修状态：0-正常 1-报修待派工 2-报修待领工 3-报修待维修 4-维修待验收 -->
    <result column="repairStatus" property="repairStatus"/>
    <!-- Comment: 维护状态：0-正常 1-维护待完成 -->
    <result column="maintainStatus" property="maintainStatus"/>
    <!-- Comment: 报废状态：0-正常 1-报废待审批 2-报废待封存 3-报废待处理 -->
    <result column="scrapStatus" property="scrapStatus"/>
    <!-- Comment: 生产日期 -->
    <result column="producedAt" property="producedAt"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.Equipment" parameterType="java.lang.String">
    SELECT
      *
    FROM equipment
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.Equipment" parameterType="com.welearn.entity.qo.equipment.EquipmentQueryCondition" >
    SELECT
      *
    FROM equipment
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="udi != null" >
        AND udi = #{udi}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="supplierId != null" >
        AND supplierId = #{supplierId}
      </if>
      <if test="locationId != null" >
        AND locationId = #{locationId}
      </if>
      <if test="procurementId != null" >
        AND procurementId = #{procurementId}
      </if>
      <if test="fixedAssetId != null" >
        AND fixedAssetId = #{fixedAssetId}
      </if>
      <if test="procurementDetailId != null" >
        AND procurementDetailId = #{procurementDetailId}
      </if>
      <if test="equipmentProductId != null" >
        AND equipmentProductId = #{equipmentProductId}
      </if>
      <if test="equipmentProductJson != null" >
        AND equipmentProductJson = #{equipmentProductJson}
      </if>
      <if test="commodityName != null" >
        AND commodityName = #{commodityName}
      </if>
      <if test="equipmentTypeId != null" >
        AND equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="equipmentTypeName != null" >
        AND equipmentTypeName = #{equipmentTypeName}
      </if>
      <if test="managementLever != null" >
        AND managementLever = #{managementLever}
      </if>
      <if test="specification != null" >
        AND specification = #{specification}
      </if>
      <if test="modelNumber != null" >
        AND modelNumber = #{modelNumber}
      </if>
      <if test="acceptanceCheckedAt != null" >
        AND acceptanceCheckedAt = #{acceptanceCheckedAt}
      </if>
      <if test="guaranteeRepairExpiredAt != null" >
        AND guaranteeRepairExpiredAt = #{guaranteeRepairExpiredAt}
      </if>
      <if test="manufacturerName != null" >
        AND manufacturerName = #{manufacturerName}
      </if>
      <if test="isSterileProvide != null" >
        AND isSterileProvide = #{isSterileProvide}
      </if>
      <if test="isImportProduct != null" >
        AND isImportProduct = #{isImportProduct}
      </if>
      <if test="isLargeEquipment != null" >
        AND isLargeEquipment = #{isLargeEquipment}
      </if>
      <if test="certificateId != null" >
        AND certificateId = #{certificateId}
      </if>
      <if test="equipmentStatus != null" >
        AND equipmentStatus = #{equipmentStatus}
      </if>
      <if test="shouldInspection != null" >
        AND shouldInspection = #{shouldInspection}
      </if>
      <if test="serialNumber != null" >
        AND serialNumber = #{serialNumber}
      </if>
      <if test="functionStatus != null" >
        AND functionStatus = #{functionStatus}
      </if>
      <if test="photos != null" >
        AND photos = #{photos}
      </if>
      <if test="remark != null" >
        AND remark like CONCAT('%',#{remark},'%')
      </if>
      <if test="canBorrow != null" >
        AND canBorrow = #{canBorrow}
      </if>
      <if test="borrowStatus != null" >
        AND borrowStatus = #{borrowStatus}
      </if>
      <if test="adjustStatus != null" >
        AND adjustStatus = #{adjustStatus}
      </if>
      <if test="repairStatus != null" >
        AND repairStatus = #{repairStatus}
      </if>
      <if test="maintainStatus != null" >
        AND maintainStatus = #{maintainStatus}
      </if>
      <if test="scrapStatus != null" >
        AND scrapStatus = #{scrapStatus}
      </if>
      <if test="producedAt != null" >
        AND producedAt = #{producedAt}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.Equipment" >
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.Equipment" >
    UPDATE equipment
    <set>
      udi = #{udi},
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      supplierId = #{supplierId},
      locationId = #{locationId},
      procurementId = #{procurementId},
      fixedAssetId = #{fixedAssetId},
      procurementDetailId = #{procurementDetailId},
      equipmentProductId = #{equipmentProductId},
      equipmentProductJson = #{equipmentProductJson},
      commodityName = #{commodityName},
      equipmentTypeId = #{equipmentTypeId},
      equipmentTypeName = #{equipmentTypeName},
      managementLever = #{managementLever},
      specification = #{specification},
      modelNumber = #{modelNumber},
      acceptanceCheckedAt = #{acceptanceCheckedAt},
      guaranteeRepairExpiredAt = #{guaranteeRepairExpiredAt},
      manufacturerName = #{manufacturerName},
      isSterileProvide = #{isSterileProvide},
      isImportProduct = #{isImportProduct},
      isLargeEquipment = #{isLargeEquipment},
      certificateId = #{certificateId},
      equipmentStatus = #{equipmentStatus},
      shouldInspection = #{shouldInspection},
      serialNumber = #{serialNumber},
      functionStatus = #{functionStatus},
      photos = #{photos},
      remark = #{remark},
      canBorrow = #{canBorrow},
      borrowStatus = #{borrowStatus},
      adjustStatus = #{adjustStatus},
      repairStatus = #{repairStatus},
      maintainStatus = #{maintainStatus},
      scrapStatus = #{scrapStatus},
      producedAt = #{producedAt},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.Equipment" >
    UPDATE equipment
    <set>
      <if test="udi != null" >
        udi = #{udi},
      </if>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="supplierId != null" >
        supplierId = #{supplierId},
      </if>
      <if test="locationId != null" >
        locationId = #{locationId},
      </if>
      <if test="procurementId != null" >
        procurementId = #{procurementId},
      </if>
      <if test="fixedAssetId != null" >
        fixedAssetId = #{fixedAssetId},
      </if>
      <if test="procurementDetailId != null" >
        procurementDetailId = #{procurementDetailId},
      </if>
      <if test="equipmentProductId != null" >
        equipmentProductId = #{equipmentProductId},
      </if>
      <if test="equipmentProductJson != null" >
        equipmentProductJson = #{equipmentProductJson},
      </if>
      <if test="commodityName != null" >
        commodityName = #{commodityName},
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId = #{equipmentTypeId},
      </if>
      <if test="equipmentTypeName != null" >
        equipmentTypeName = #{equipmentTypeName},
      </if>
      <if test="managementLever != null" >
        managementLever = #{managementLever},
      </if>
      <if test="specification != null" >
        specification = #{specification},
      </if>
      <if test="modelNumber != null" >
        modelNumber = #{modelNumber},
      </if>
      <if test="acceptanceCheckedAt != null" >
        acceptanceCheckedAt = #{acceptanceCheckedAt},
      </if>
      <if test="guaranteeRepairExpiredAt != null" >
        guaranteeRepairExpiredAt = #{guaranteeRepairExpiredAt},
      </if>
      <if test="manufacturerName != null" >
        manufacturerName = #{manufacturerName},
      </if>
      <if test="isSterileProvide != null" >
        isSterileProvide = #{isSterileProvide},
      </if>
      <if test="isImportProduct != null" >
        isImportProduct = #{isImportProduct},
      </if>
      <if test="isLargeEquipment != null" >
        isLargeEquipment = #{isLargeEquipment},
      </if>
      <if test="certificateId != null" >
        certificateId = #{certificateId},
      </if>
      <if test="equipmentStatus != null" >
        equipmentStatus = #{equipmentStatus},
      </if>
      <if test="shouldInspection != null" >
        shouldInspection = #{shouldInspection},
      </if>
      <if test="serialNumber != null" >
        serialNumber = #{serialNumber},
      </if>
      <if test="functionStatus != null" >
        functionStatus = #{functionStatus},
      </if>
      <if test="photos != null" >
        photos = #{photos},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="canBorrow != null" >
        canBorrow = #{canBorrow},
      </if>
      <if test="borrowStatus != null" >
        borrowStatus = #{borrowStatus},
      </if>
      <if test="adjustStatus != null" >
        adjustStatus = #{adjustStatus},
      </if>
      <if test="repairStatus != null" >
        repairStatus = #{repairStatus},
      </if>
      <if test="maintainStatus != null" >
        maintainStatus = #{maintainStatus},
      </if>
      <if test="scrapStatus != null" >
        scrapStatus = #{scrapStatus},
      </if>
      <if test="producedAt != null" >
        producedAt = #{producedAt},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.Equipment" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      udi,
      createdAt,
      updatedAt,
      isEnable,
      supplierId,
      locationId,
      procurementId,
      fixedAssetId,
      procurementDetailId,
      equipmentProductId,
      equipmentProductJson,
      commodityName,
      equipmentTypeId,
      equipmentTypeName,
      managementLever,
      specification,
      modelNumber,
      acceptanceCheckedAt,
      guaranteeRepairExpiredAt,
      manufacturerName,
      isSterileProvide,
      isImportProduct,
      isLargeEquipment,
      certificateId,
      equipmentStatus,
      shouldInspection,
      serialNumber,
      functionStatus,
      photos,
      remark,
      canBorrow,
      borrowStatus,
      adjustStatus,
      repairStatus,
      maintainStatus,
      scrapStatus,
      producedAt,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{udi},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{supplierId},
      #{locationId},
      #{procurementId},
      #{fixedAssetId},
      #{procurementDetailId},
      #{equipmentProductId},
      #{equipmentProductJson},
      #{commodityName},
      #{equipmentTypeId},
      #{equipmentTypeName},
      #{managementLever},
      #{specification},
      #{modelNumber},
      #{acceptanceCheckedAt},
      #{guaranteeRepairExpiredAt},
      #{manufacturerName},
      #{isSterileProvide},
      #{isImportProduct},
      #{isLargeEquipment},
      #{certificateId},
      #{equipmentStatus},
      #{shouldInspection},
      #{serialNumber},
      #{functionStatus},
      #{photos},
      #{remark},
      #{canBorrow},
      #{borrowStatus},
      #{adjustStatus},
      #{repairStatus},
      #{maintainStatus},
      #{scrapStatus},
      #{producedAt},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.Equipment" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="udi != null" >
        udi,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="supplierId != null" >
        supplierId,
      </if>
      <if test="locationId != null" >
        locationId,
      </if>
      <if test="procurementId != null" >
        procurementId,
      </if>
      <if test="fixedAssetId != null" >
        fixedAssetId,
      </if>
      <if test="procurementDetailId != null" >
        procurementDetailId,
      </if>
      <if test="equipmentProductId != null" >
        equipmentProductId,
      </if>
      <if test="equipmentProductJson != null" >
        equipmentProductJson,
      </if>
      <if test="commodityName != null" >
        commodityName,
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId,
      </if>
      <if test="equipmentTypeName != null" >
        equipmentTypeName,
      </if>
      <if test="managementLever != null" >
        managementLever,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="modelNumber != null" >
        modelNumber,
      </if>
      <if test="acceptanceCheckedAt != null" >
        acceptanceCheckedAt,
      </if>
      <if test="guaranteeRepairExpiredAt != null" >
        guaranteeRepairExpiredAt,
      </if>
      <if test="manufacturerName != null" >
        manufacturerName,
      </if>
      <if test="isSterileProvide != null" >
        isSterileProvide,
      </if>
      <if test="isImportProduct != null" >
        isImportProduct,
      </if>
      <if test="isLargeEquipment != null" >
        isLargeEquipment,
      </if>
      <if test="certificateId != null" >
        certificateId,
      </if>
      <if test="equipmentStatus != null" >
        equipmentStatus,
      </if>
      <if test="shouldInspection != null" >
        shouldInspection,
      </if>
      <if test="serialNumber != null" >
        serialNumber,
      </if>
      <if test="functionStatus != null" >
        functionStatus,
      </if>
      <if test="photos != null" >
        photos,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="canBorrow != null" >
        canBorrow,
      </if>
      <if test="borrowStatus != null" >
        borrowStatus,
      </if>
      <if test="adjustStatus != null" >
        adjustStatus,
      </if>
      <if test="repairStatus != null" >
        repairStatus,
      </if>
      <if test="maintainStatus != null" >
        maintainStatus,
      </if>
      <if test="scrapStatus != null" >
        scrapStatus,
      </if>
      <if test="producedAt != null" >
        producedAt,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="udi != null" >
        #{udi},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="supplierId != null" >
        #{supplierId},
      </if>
      <if test="locationId != null" >
        #{locationId},
      </if>
      <if test="procurementId != null" >
        #{procurementId},
      </if>
      <if test="fixedAssetId != null" >
        #{fixedAssetId},
      </if>
      <if test="procurementDetailId != null" >
        #{procurementDetailId},
      </if>
      <if test="equipmentProductId != null" >
        #{equipmentProductId},
      </if>
      <if test="equipmentProductJson != null" >
        #{equipmentProductJson},
      </if>
      <if test="commodityName != null" >
        #{commodityName},
      </if>
      <if test="equipmentTypeId != null" >
        #{equipmentTypeId},
      </if>
      <if test="equipmentTypeName != null" >
        #{equipmentTypeName},
      </if>
      <if test="managementLever != null" >
        #{managementLever},
      </if>
      <if test="specification != null" >
        #{specification},
      </if>
      <if test="modelNumber != null" >
        #{modelNumber},
      </if>
      <if test="acceptanceCheckedAt != null" >
        #{acceptanceCheckedAt},
      </if>
      <if test="guaranteeRepairExpiredAt != null" >
        #{guaranteeRepairExpiredAt},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName},
      </if>
      <if test="isSterileProvide != null" >
        #{isSterileProvide},
      </if>
      <if test="isImportProduct != null" >
        #{isImportProduct},
      </if>
      <if test="isLargeEquipment != null" >
        #{isLargeEquipment},
      </if>
      <if test="certificateId != null" >
        #{certificateId},
      </if>
      <if test="equipmentStatus != null" >
        #{equipmentStatus},
      </if>
      <if test="shouldInspection != null" >
        #{shouldInspection},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber},
      </if>
      <if test="functionStatus != null" >
        #{functionStatus},
      </if>
      <if test="photos != null" >
        #{photos},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="canBorrow != null" >
        #{canBorrow},
      </if>
      <if test="borrowStatus != null" >
        #{borrowStatus},
      </if>
      <if test="adjustStatus != null" >
        #{adjustStatus},
      </if>
      <if test="repairStatus != null" >
        #{repairStatus},
      </if>
      <if test="maintainStatus != null" >
        #{maintainStatus},
      </if>
      <if test="scrapStatus != null" >
        #{scrapStatus},
      </if>
      <if test="producedAt != null" >
        #{producedAt},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment
  </delete>


  <!-- START USER DEFINED -->
  <!-- ep.permission 所有权 -->
  <select id="searchOutlook" resultType="com.welearn.entity.po.equipment.Equipment" parameterType="com.welearn.entity.qo.equipment.EquipmentQueryCondition" >
    SELECT
      distinct e.id, e.equipmentTypeName, e.modelNumber, e.specification, e.manufacturerName, e.managementLever, e.udi, e.locationId, e.commodityName
    FROM equipment e
    join equipment_permission ep on ep.equipmentId = e.id and ep.permission = 0 and ep.isEnable = true
    <if test="companyId != null" >
      and ep.companyId = #{companyId}
    </if>
    <where>
      <if test="id != null" >
        e.id = #{id}
      </if>
      <if test="isEnable != null" >
        AND e.isEnable = #{isEnable}
      </if>
      <if test="equipmentProductId != null" >
        AND e.equipmentProductId = #{equipmentProductId}
      </if>
      <if test="equipmentTypeId != null" >
        AND e.equipmentTypeId = #{equipmentTypeId}
      </if>
    </where>
  </select>

  <!-- ep.permission 管理权 -->
  <select id="searchDepartmentEquipment" resultType="com.welearn.entity.vo.response.equipment.EquipmentInfo" parameterType="com.welearn.entity.qo.equipment.EquipmentQueryCondition" >
    SELECT
      distinct e.id, e.equipmentTypeId, e.equipmentTypeName, e.modelNumber, e.specification, e.manufacturerName, e.managementLever, e.fixedAssetId, e.canBorrow, e.shouldInspection,
      e.udi, e.equipmentProductId, ep.departmentId, ep.departmentName, e.equipmentStatus, e.functionStatus, e.borrowStatus, e.adjustStatus, e.repairStatus, e.maintainStatus, e.scrapStatus
    FROM equipment e
    join equipment_permission ep on ep.equipmentId = e.id and ep.permission = 1 and ep.isEnable = true
    <if test="companyId != null" >
      and ep.companyId = #{companyId}
    </if>
    <where>
      <if test="id != null" >
        e.id = #{id}
      </if>
      <if test="isEnable != null" >
        AND e.isEnable = #{isEnable}
      </if>
      <if test="equipmentProductId != null" >
        AND e.equipmentProductId = #{equipmentProductId}
      </if>
      <if test="equipmentTypeId != null" >
        AND e.equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="equipmentStatus != null" >
        AND e.equipmentStatus = #{equipmentStatus}
      </if>
    </where>
  </select>

  <select id="searchInfo" resultType="com.welearn.entity.vo.response.equipment.EquipmentInfo" parameterType="com.welearn.entity.qo.equipment.EquipmentQueryCondition" >
    SELECT
      distinct e.*,
      <if test="permissionCode != null or type != null or typeId != null" >
        ep.obtainAt, ep.obtainReason, ep.companyId, ep.companyName,
        ep.departmentId, ep.departmentName, ep.employeeId, ep.employeeName
      </if>
    FROM equipment e
    <if test="permissionCode != null or type != null or typeId != null" >
      join equipment_permission ep on ep.isEnable = true
      and ep.equipmentId = e.id
      <if test="permissionCode != null" >
        and ep.permission = #{permissionCode}
      </if>
      <if test="type != null" >
        and ep.type = #{type}
      </if>
      <if test="type != 0 and companyId != null" >
        and ep.companyId = #{companyId}
      </if>
      <if test="typeId != null" >
        <if test="type == 0" >
          and ep.companyId = #{typeId}
        </if>
        <if test="type == 1" >
          and ep.departmentId = #{typeId}
        </if>
        <if test="type == 2" >
          and ep.employeeId = #{typeId}
        </if>
      </if>
    </if>
    <where>
      <if test="id != null" >
        e.id = #{id}
      </if>
      <if test="udi != null" >
        AND e.udi = #{udi}
      </if>
      <if test="createdAt != null" >
        AND e.createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND e.updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND e.isEnable = #{isEnable}
      </if>
      <if test="supplierId != null" >
        AND e.supplierId = #{supplierId}
      </if>
      <if test="procurementId != null" >
        AND e.procurementId = #{procurementId}
      </if>
      <if test="procurementDetailId != null" >
        AND e.procurementDetailId = #{procurementDetailId}
      </if>
      <if test="equipmentProductId != null" >
        AND e.equipmentProductId = #{equipmentProductId}
      </if>
      <if test="equipmentProductJson != null" >
        AND e.equipmentProductJson = #{equipmentProductJson}
      </if>
      <if test="equipmentTypeId != null" >
        AND e.equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="equipmentTypeName != null" >
        AND e.equipmentTypeName like CONCAT('%',#{equipmentTypeName},'%')
      </if>
      <if test="managementLever != null" >
        AND e.managementLever = #{managementLever}
      </if>
      <if test="specification != null" >
        AND e.specification = #{specification}
      </if>
      <if test="modelNumber != null" >
        AND e.modelNumber = #{modelNumber}
      </if>
      <if test="acceptanceCheckedAt != null" >
        AND e.acceptanceCheckedAt = #{acceptanceCheckedAt}
      </if>
      <if test="guaranteeRepairExpiredAt != null" >
        AND e.guaranteeRepairExpiredAt = #{guaranteeRepairExpiredAt}
      </if>
      <if test="manufacturerName != null" >
        AND e.manufacturerName = #{manufacturerName}
      </if>
      <if test="isSterileProvide != null" >
        AND e.isSterileProvide = #{isSterileProvide}
      </if>
      <if test="isImportProduct != null" >
        AND e.isImportProduct = #{isImportProduct}
      </if>
      <if test="isLargeEquipment != null" >
        AND e.isLargeEquipment = #{isLargeEquipment}
      </if>
      <if test="certificateId != null" >
        AND e.certificateId = #{certificateId}
      </if>
      <if test="equipmentStatus != null" >
        AND e.equipmentStatus = #{equipmentStatus}
      </if>
      <if test="equipmentStatusList != null" >
        AND e.equipmentStatus in
        <foreach collection="equipmentStatusList" item="equipmentStatusItem" index="index" open="(" separator="," close=")" >
          #{equipmentStatusItem}
        </foreach>
      </if>
      <if test="equipmentIds != null" >
        AND e.id in
        <foreach collection="equipmentIds" item="equipmentId" index="index" open="(" separator="," close=")" >
          #{equipmentId}
        </foreach>
      </if>
      <if test="canBorrow != null" >
        AND e.canBorrow = #{canBorrow}
      </if>
      <if test="borrowStatus != null" >
        AND e.borrowStatus = #{borrowStatus}
      </if>
      <if test="adjustStatus != null" >
        AND e.adjustStatus = #{adjustStatus}
      </if>
      <if test="repairStatus != null" >
        AND e.repairStatus = #{repairStatus}
      </if>
      <if test="maintainStatus != null" >
        AND e.maintainStatus = #{maintainStatus}
      </if>
      <if test="scrapStatus != null" >
        AND e.scrapStatus = #{scrapStatus}
      </if>
    </where>
    ORDER BY e.createdAt ASC, e.updatedAt DESC
  </select>
  <select id="equipmentStatusStatistic" resultType="com.welearn.entity.dto.equipment.EquipmentStatusStatistic">
    SELECT
      distinct e.id, e.equipmentStatus, ep.departmentId, ep.departmentName
    FROM equipment e
    join equipment_permission ep on ep.equipmentId = e.id and ep.permission = 1 and ep.isEnable = true and ep.companyId = #{companyId}
    where e.isEnable = true
  </select>
</mapper>