<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment_scrap_apply
  Comment  : 设备报废申请
  Mapper   : com.welearn.mapper.EquipmentScrapApplyMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/26 16:20:25
-->
<mapper namespace="com.welearn.mapper.EquipmentScrapApplyMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    equipmentTypeId,
    productId,
    equipmentId,
    equipmentName,
    equipmentProductName,
    originValue,
    applicantId,
    applicantName,
    applicantDepartmentId,
    applicantDepartmentName,
    applicantCompanyId,
    applicantSignatureId,
    reasonTypeJson,
    reasonDetail,
    description,
    status,
    applicationId,
    equipmentDepartmentId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment_scrap_apply.id AS id,
    equipment_scrap_apply.createdAt AS createdAt,
    equipment_scrap_apply.updatedAt AS updatedAt,
    equipment_scrap_apply.isEnable AS isEnable,
    equipment_scrap_apply.equipmentTypeId AS equipmentTypeId,
    equipment_scrap_apply.productId AS productId,
    equipment_scrap_apply.equipmentId AS equipmentId,
    equipment_scrap_apply.equipmentName AS equipmentName,
    equipment_scrap_apply.equipmentProductName AS equipmentProductName,
    equipment_scrap_apply.originValue AS originValue,
    equipment_scrap_apply.applicantId AS applicantId,
    equipment_scrap_apply.applicantName AS applicantName,
    equipment_scrap_apply.applicantDepartmentId AS applicantDepartmentId,
    equipment_scrap_apply.applicantDepartmentName AS applicantDepartmentName,
    equipment_scrap_apply.applicantCompanyId AS applicantCompanyId,
    equipment_scrap_apply.applicantSignatureId AS applicantSignatureId,
    equipment_scrap_apply.reasonTypeJson AS reasonTypeJson,
    equipment_scrap_apply.reasonDetail AS reasonDetail,
    equipment_scrap_apply.description AS description,
    equipment_scrap_apply.status AS status,
    equipment_scrap_apply.applicationId AS applicationId,
    equipment_scrap_apply.equipmentDepartmentId AS equipmentDepartmentId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.EquipmentScrapApply" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 设备类型id -->
    <result column="equipmentTypeId" property="equipmentTypeId"/>
    <!-- Comment: 设备产品id -->
    <result column="productId" property="productId"/>
    <!-- Comment: 设备id -->
    <result column="equipmentId" property="equipmentId"/>
    <!-- Comment: 设备名称规格 -->
    <result column="equipmentName" property="equipmentName"/>
    <!-- Comment: 设备厂商型号 -->
    <result column="equipmentProductName" property="equipmentProductName"/>
    <!-- Comment: 设备单价 -->
    <result column="originValue" property="originValue"/>
    <!-- Comment: 申请人id -->
    <result column="applicantId" property="applicantId"/>
    <!-- Comment: 申请人姓名 -->
    <result column="applicantName" property="applicantName"/>
    <!-- Comment: 申请人部门id -->
    <result column="applicantDepartmentId" property="applicantDepartmentId"/>
    <!-- Comment: 申请人部门名称 -->
    <result column="applicantDepartmentName" property="applicantDepartmentName"/>
    <!-- Comment: 申请人公司id -->
    <result column="applicantCompanyId" property="applicantCompanyId"/>
    <!-- Comment: 申请人签名id -->
    <result column="applicantSignatureId" property="applicantSignatureId"/>
    <!-- Comment: 报废理由: [0,1,2...] -->
    <result column="reasonTypeJson" property="reasonTypeJson"/>
    <!-- Comment: 报废理由备注 -->
    <result column="reasonDetail" property="reasonDetail"/>
    <!-- Comment: 报废说明 -->
    <result column="description" property="description"/>
    <!-- Comment: 状态: 0-待审批 1-审批通过 2-审批失败 -->
    <result column="status" property="status"/>
    <!-- Comment: 申请id -->
    <result column="applicationId" property="applicationId"/>
    <!-- Comment: 设备所属部门id -->
    <result column="equipmentDepartmentId" property="equipmentDepartmentId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.EquipmentScrapApply" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_scrap_apply
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.EquipmentScrapApply" parameterType="com.welearn.entity.qo.equipment.EquipmentScrapApplyQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_scrap_apply
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="equipmentTypeId != null" >
        AND equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="productId != null" >
        AND productId = #{productId}
      </if>
      <if test="equipmentId != null" >
        AND equipmentId = #{equipmentId}
      </if>
      <if test="equipmentName != null" >
        AND equipmentName = #{equipmentName}
      </if>
      <if test="equipmentProductName != null" >
        AND equipmentProductName = #{equipmentProductName}
      </if>
      <if test="originValue != null" >
        AND originValue = #{originValue}
      </if>
      <if test="applicantId != null" >
        AND applicantId = #{applicantId}
      </if>
      <if test="applicantName != null" >
        AND applicantName = #{applicantName}
      </if>
      <if test="applicantDepartmentId != null" >
        AND applicantDepartmentId = #{applicantDepartmentId}
      </if>
      <if test="applicantDepartmentName != null" >
        AND applicantDepartmentName = #{applicantDepartmentName}
      </if>
      <if test="applicantCompanyId != null" >
        AND applicantCompanyId = #{applicantCompanyId}
      </if>
      <if test="applicantSignatureId != null" >
        AND applicantSignatureId = #{applicantSignatureId}
      </if>
      <if test="reasonTypeJson != null" >
        AND reasonTypeJson = #{reasonTypeJson}
      </if>
      <if test="reasonDetail != null" >
        AND reasonDetail = #{reasonDetail}
      </if>
      <if test="description != null" >
        AND description = #{description}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="applicationId != null" >
        AND applicationId = #{applicationId}
      </if>
      <if test="equipmentDepartmentId != null" >
        AND equipmentDepartmentId = #{equipmentDepartmentId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.EquipmentScrapApply" >
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_scrap_apply
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment_scrap_apply
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.EquipmentScrapApply" >
    UPDATE equipment_scrap_apply
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      equipmentTypeId = #{equipmentTypeId},
      productId = #{productId},
      equipmentId = #{equipmentId},
      equipmentName = #{equipmentName},
      equipmentProductName = #{equipmentProductName},
      originValue = #{originValue},
      applicantId = #{applicantId},
      applicantName = #{applicantName},
      applicantDepartmentId = #{applicantDepartmentId},
      applicantDepartmentName = #{applicantDepartmentName},
      applicantCompanyId = #{applicantCompanyId},
      applicantSignatureId = #{applicantSignatureId},
      reasonTypeJson = #{reasonTypeJson},
      reasonDetail = #{reasonDetail},
      description = #{description},
      status = #{status},
      applicationId = #{applicationId},
      equipmentDepartmentId = #{equipmentDepartmentId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.EquipmentScrapApply" >
    UPDATE equipment_scrap_apply
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId = #{equipmentTypeId},
      </if>
      <if test="productId != null" >
        productId = #{productId},
      </if>
      <if test="equipmentId != null" >
        equipmentId = #{equipmentId},
      </if>
      <if test="equipmentName != null" >
        equipmentName = #{equipmentName},
      </if>
      <if test="equipmentProductName != null" >
        equipmentProductName = #{equipmentProductName},
      </if>
      <if test="originValue != null" >
        originValue = #{originValue},
      </if>
      <if test="applicantId != null" >
        applicantId = #{applicantId},
      </if>
      <if test="applicantName != null" >
        applicantName = #{applicantName},
      </if>
      <if test="applicantDepartmentId != null" >
        applicantDepartmentId = #{applicantDepartmentId},
      </if>
      <if test="applicantDepartmentName != null" >
        applicantDepartmentName = #{applicantDepartmentName},
      </if>
      <if test="applicantCompanyId != null" >
        applicantCompanyId = #{applicantCompanyId},
      </if>
      <if test="applicantSignatureId != null" >
        applicantSignatureId = #{applicantSignatureId},
      </if>
      <if test="reasonTypeJson != null" >
        reasonTypeJson = #{reasonTypeJson},
      </if>
      <if test="reasonDetail != null" >
        reasonDetail = #{reasonDetail},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="applicationId != null" >
        applicationId = #{applicationId},
      </if>
      <if test="equipmentDepartmentId != null" >
        equipmentDepartmentId = #{equipmentDepartmentId},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment_scrap_apply SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment_scrap_apply SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.EquipmentScrapApply" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_scrap_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      equipmentTypeId,
      productId,
      equipmentId,
      equipmentName,
      equipmentProductName,
      originValue,
      applicantId,
      applicantName,
      applicantDepartmentId,
      applicantDepartmentName,
      applicantCompanyId,
      applicantSignatureId,
      reasonTypeJson,
      reasonDetail,
      description,
      status,
      applicationId,
      equipmentDepartmentId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{equipmentTypeId},
      #{productId},
      #{equipmentId},
      #{equipmentName},
      #{equipmentProductName},
      #{originValue},
      #{applicantId},
      #{applicantName},
      #{applicantDepartmentId},
      #{applicantDepartmentName},
      #{applicantCompanyId},
      #{applicantSignatureId},
      #{reasonTypeJson},
      #{reasonDetail},
      #{description},
      #{status},
      #{applicationId},
      #{equipmentDepartmentId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.EquipmentScrapApply" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_scrap_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="equipmentId != null" >
        equipmentId,
      </if>
      <if test="equipmentName != null" >
        equipmentName,
      </if>
      <if test="equipmentProductName != null" >
        equipmentProductName,
      </if>
      <if test="originValue != null" >
        originValue,
      </if>
      <if test="applicantId != null" >
        applicantId,
      </if>
      <if test="applicantName != null" >
        applicantName,
      </if>
      <if test="applicantDepartmentId != null" >
        applicantDepartmentId,
      </if>
      <if test="applicantDepartmentName != null" >
        applicantDepartmentName,
      </if>
      <if test="applicantCompanyId != null" >
        applicantCompanyId,
      </if>
      <if test="applicantSignatureId != null" >
        applicantSignatureId,
      </if>
      <if test="reasonTypeJson != null" >
        reasonTypeJson,
      </if>
      <if test="reasonDetail != null" >
        reasonDetail,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="applicationId != null" >
        applicationId,
      </if>
      <if test="equipmentDepartmentId != null" >
        equipmentDepartmentId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="equipmentTypeId != null" >
        #{equipmentTypeId},
      </if>
      <if test="productId != null" >
        #{productId},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId},
      </if>
      <if test="equipmentName != null" >
        #{equipmentName},
      </if>
      <if test="equipmentProductName != null" >
        #{equipmentProductName},
      </if>
      <if test="originValue != null" >
        #{originValue},
      </if>
      <if test="applicantId != null" >
        #{applicantId},
      </if>
      <if test="applicantName != null" >
        #{applicantName},
      </if>
      <if test="applicantDepartmentId != null" >
        #{applicantDepartmentId},
      </if>
      <if test="applicantDepartmentName != null" >
        #{applicantDepartmentName},
      </if>
      <if test="applicantCompanyId != null" >
        #{applicantCompanyId},
      </if>
      <if test="applicantSignatureId != null" >
        #{applicantSignatureId},
      </if>
      <if test="reasonTypeJson != null" >
        #{reasonTypeJson},
      </if>
      <if test="reasonDetail != null" >
        #{reasonDetail},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="applicationId != null" >
        #{applicationId},
      </if>
      <if test="equipmentDepartmentId != null" >
        #{equipmentDepartmentId},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment_scrap_apply WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment_scrap_apply
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="searchInfo" resultType="com.welearn.entity.vo.response.equipment.EquipmentScrapInfo" parameterType="com.welearn.entity.qo.equipment.EquipmentScrapApplyQueryCondition">
    SELECT
      esa.*,
      e.udi as equipmentUdi,
      e.equipmentTypeName as equipmentTypeName,
      e.managementLever as managementLever,
      e.specification as specification,
      e.modelNumber as modelNumber,
      e.manufacturerName as manufacturerName,
      e.equipmentStatus as equipmentStatus,
      e.functionStatus as functionStatus,
      e.borrowStatus as borrowStatus,
      e.adjustStatus as adjustStatus,
      e.repairStatus as repairStatus,
      e.maintainStatus as maintainStatus,
      e.scrapStatus as scrapStatus
    FROM equipment_scrap_apply esa
    join equipment e on e.id = esa.equipmentId and e.isEnable = true
    <where>
      <if test="id != null" >
        esa.id = #{id}
      </if>
      <if test="createdAt != null" >
        AND esa.createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND esa.updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND esa.isEnable = #{isEnable}
      </if>
      <if test="equipmentTypeId != null" >
        AND esa.equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="productId != null" >
        AND esa.productId = #{productId}
      </if>
      <if test="equipmentId != null" >
        AND esa.equipmentId = #{equipmentId}
      </if>
      <if test="applicantId != null" >
        AND esa.applicantId = #{applicantId}
      </if>
      <if test="applicantDepartmentId != null" >
        AND esa.applicantDepartmentId = #{applicantDepartmentId}
      </if>
      <if test="applicantCompanyId != null" >
        AND esa.applicantCompanyId = #{applicantCompanyId}
      </if>
      <if test="applicantSignatureId != null" >
        AND esa.applicantSignatureId = #{applicantSignatureId}
      </if>
      <if test="status != null" >
        AND esa.status = #{status}
      </if>
      <if test="applicationId != null" >
        AND esa.applicationId = #{applicationId}
      </if>
      <if test="equipmentDepartmentId != null" >
        AND esa.equipmentDepartmentId = #{equipmentDepartmentId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY esa.createdAt ASC, esa.updatedAt DESC
  </select>
</mapper>