<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment_product
  Comment  : 供应商设备产品
  Mapper   : com.welearn.mapper.EquipmentProductMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/11/12 15:48:49
-->
<mapper namespace="com.welearn.mapper.EquipmentProductMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    commodityName,
    equipmentTypeId,
    equipmentTypeName,
    managementLever,
    specification,
    modelNumber,
    manufacturerName,
    gtin,
    brand,
    isSterileProvide,
    isImportProduct,
    isLargeEquipment,
    expectedUsefulLife,
    sumWorkloadExpectancy,
    technicalIndicatorJson,
    functionsJson,
    mdRegistrationCertificateId,
    mdProductionCertificateId,
    otherCertificatePhotoCopy,
    sparePartsListJson,
    accessoryListJson,
    mainComponentsJson,
    deliveryComponentsJson,
    electronicDocumentStorage,
    installType,
    installationInfoId,
    environmentInfoId,
    maintenanceInfoId,
    repairInfo,
    maintenancePassword,
    faultCodeMeterJson,
    descriptionId,
    instructionId,
    warningInfoId,
    storageInfoId,
    wasteTreatmentInfoId,
    wasteClassification,
    otherInfoId,
    companyId,
    status,
    currentId,
    applicationId,
    photos,
    isInspection,
    supplierCompanyId,
    supplierCompanyName
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment_product.id AS id,
    equipment_product.createdAt AS createdAt,
    equipment_product.updatedAt AS updatedAt,
    equipment_product.isEnable AS isEnable,
    equipment_product.commodityName AS commodityName,
    equipment_product.equipmentTypeId AS equipmentTypeId,
    equipment_product.equipmentTypeName AS equipmentTypeName,
    equipment_product.managementLever AS managementLever,
    equipment_product.specification AS specification,
    equipment_product.modelNumber AS modelNumber,
    equipment_product.manufacturerName AS manufacturerName,
    equipment_product.gtin AS gtin,
    equipment_product.brand AS brand,
    equipment_product.isSterileProvide AS isSterileProvide,
    equipment_product.isImportProduct AS isImportProduct,
    equipment_product.isLargeEquipment AS isLargeEquipment,
    equipment_product.expectedUsefulLife AS expectedUsefulLife,
    equipment_product.sumWorkloadExpectancy AS sumWorkloadExpectancy,
    equipment_product.technicalIndicatorJson AS technicalIndicatorJson,
    equipment_product.functionsJson AS functionsJson,
    equipment_product.mdRegistrationCertificateId AS mdRegistrationCertificateId,
    equipment_product.mdProductionCertificateId AS mdProductionCertificateId,
    equipment_product.otherCertificatePhotoCopy AS otherCertificatePhotoCopy,
    equipment_product.sparePartsListJson AS sparePartsListJson,
    equipment_product.accessoryListJson AS accessoryListJson,
    equipment_product.mainComponentsJson AS mainComponentsJson,
    equipment_product.deliveryComponentsJson AS deliveryComponentsJson,
    equipment_product.electronicDocumentStorage AS electronicDocumentStorage,
    equipment_product.installType AS installType,
    equipment_product.installationInfoId AS installationInfoId,
    equipment_product.environmentInfoId AS environmentInfoId,
    equipment_product.maintenanceInfoId AS maintenanceInfoId,
    equipment_product.repairInfo AS repairInfo,
    equipment_product.maintenancePassword AS maintenancePassword,
    equipment_product.faultCodeMeterJson AS faultCodeMeterJson,
    equipment_product.descriptionId AS descriptionId,
    equipment_product.instructionId AS instructionId,
    equipment_product.warningInfoId AS warningInfoId,
    equipment_product.storageInfoId AS storageInfoId,
    equipment_product.wasteTreatmentInfoId AS wasteTreatmentInfoId,
    equipment_product.wasteClassification AS wasteClassification,
    equipment_product.otherInfoId AS otherInfoId,
    equipment_product.companyId AS companyId,
    equipment_product.status AS status,
    equipment_product.currentId AS currentId,
    equipment_product.applicationId AS applicationId,
    equipment_product.photos AS photos,
    equipment_product.isInspection AS isInspection,
    equipment_product.supplierCompanyId AS supplierCompanyId,
    equipment_product.supplierCompanyName AS supplierCompanyName
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.EquipmentProduct" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 商品名称 -->
    <result column="commodityName" property="commodityName"/>
    <!-- Comment: 设备类型id -->
    <result column="equipmentTypeId" property="equipmentTypeId"/>
    <!-- Comment: 设备类型名称 -->
    <result column="equipmentTypeName" property="equipmentTypeName"/>
    <!-- Comment: 管理级别:0-Ⅰ 1-Ⅱ 2-Ⅲ -->
    <result column="managementLever" property="managementLever"/>
    <!-- Comment: 设备规格 -->
    <result column="specification" property="specification"/>
    <!-- Comment: 设备型号 -->
    <result column="modelNumber" property="modelNumber"/>
    <!-- Comment: 生产厂商名称 -->
    <result column="manufacturerName" property="manufacturerName"/>
    <!-- Comment: DI(GTIN) -->
    <result column="gtin" property="gtin"/>
    <!-- Comment: 品牌 -->
    <result column="brand" property="brand"/>
    <!-- Comment: 无菌提供：0-否，1-是 -->
    <result column="isSterileProvide" property="isSterileProvide"/>
    <!-- Comment: 进口产品：0-否，1-是 -->
    <result column="isImportProduct" property="isImportProduct"/>
    <!-- Comment: 大型医疗设备：0-非大型医疗设备，1-甲类大型医疗设备 2-乙类大型医疗设备 -->
    <result column="isLargeEquipment" property="isLargeEquipment"/>
    <!-- Comment: 预计使用年限 -->
    <result column="expectedUsefulLife" property="expectedUsefulLife"/>
    <!-- Comment: 预计总工作量 -->
    <result column="sumWorkloadExpectancy" property="sumWorkloadExpectancy"/>
    <!-- Comment: 技术指标 -->
    <result column="technicalIndicatorJson" property="technicalIndicatorJson"/>
    <!-- Comment: 功能描述 -->
    <result column="functionsJson" property="functionsJson"/>
    <!-- Comment: 医疗器械注册证id -->
    <result column="mdRegistrationCertificateId" property="mdRegistrationCertificateId"/>
    <!-- Comment: 医疗器械生产企业许可证id -->
    <result column="mdProductionCertificateId" property="mdProductionCertificateId"/>
    <!-- Comment: 其它证明复印件 -->
    <result column="otherCertificatePhotoCopy" property="otherCertificatePhotoCopy"/>
    <!-- Comment: 备件清单 -->
    <result column="sparePartsListJson" property="sparePartsListJson"/>
    <!-- Comment: 附件清单 -->
    <result column="accessoryListJson" property="accessoryListJson"/>
    <!-- Comment: 主要部件 -->
    <result column="mainComponentsJson" property="mainComponentsJson"/>
    <!-- Comment: 设备主体拆分说明 -->
    <result column="deliveryComponentsJson" property="deliveryComponentsJson"/>
    <!-- Comment: 电子文档 -->
    <result column="electronicDocumentStorage" property="electronicDocumentStorage"/>
    <!-- Comment: 安装类型：0-设备无须进行安装，1-销售方负责安装(不含运行环境施工) 2-销售方负责安装(包含运行环境施工) 3-购买方按说明自行安装 -->
    <result column="installType" property="installType"/>
    <!-- Comment: 安装说明 -->
    <result column="installationInfoId" property="installationInfoId"/>
    <!-- Comment: 运行环境说明 -->
    <result column="environmentInfoId" property="environmentInfoId"/>
    <!-- Comment: 维护说明 -->
    <result column="maintenanceInfoId" property="maintenanceInfoId"/>
    <!-- Comment: 维修说明 -->
    <result column="repairInfo" property="repairInfo"/>
    <!-- Comment: 维修密码 -->
    <result column="maintenancePassword" property="maintenancePassword"/>
    <!-- Comment: 故障代码表 -->
    <result column="faultCodeMeterJson" property="faultCodeMeterJson"/>
    <!-- Comment: 产品描述 -->
    <result column="descriptionId" property="descriptionId"/>
    <!-- Comment: 使用说明 -->
    <result column="instructionId" property="instructionId"/>
    <!-- Comment: 特别说明 -->
    <result column="warningInfoId" property="warningInfoId"/>
    <!-- Comment: 存放说明 -->
    <result column="storageInfoId" property="storageInfoId"/>
    <!-- Comment: 存放说明 -->
    <result column="wasteTreatmentInfoId" property="wasteTreatmentInfoId"/>
    <!-- Comment: 废物分类 -->
    <result column="wasteClassification" property="wasteClassification"/>
    <!-- Comment: 其它说明 -->
    <result column="otherInfoId" property="otherInfoId"/>
    <!-- Comment: 供应商公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 状态:0-审批中 1-审批失败 2-审批通过 3-未上架 4-已上架 -->
    <result column="status" property="status"/>
    <!-- Comment: 当前产品id 对产品进行修改时使用 -->
    <result column="currentId" property="currentId"/>
    <!-- Comment: 申请id -->
    <result column="applicationId" property="applicationId"/>
    <!-- Comment: 产品相关图片 -->
    <result column="photos" property="photos"/>
    <!-- Comment: 强检设备：0-否，1-是 -->
    <result column="isInspection" property="isInspection"/>
    <!-- Comment: 供应方公司id -->
    <result column="supplierCompanyId" property="supplierCompanyId"/>
    <!-- Comment: 供应方公司名称 -->
    <result column="supplierCompanyName" property="supplierCompanyName"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.EquipmentProduct" parameterType="java.lang.String">
    SELECT
      *
    FROM equipment_product
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.EquipmentProduct" parameterType="com.welearn.entity.qo.equipment.EquipmentProductQueryCondition" >
    SELECT
      *
    FROM equipment_product
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="commodityName != null" >
        AND commodityName like CONCAT('%',#{commodityName},'%')
      </if>
      <if test="equipmentTypeId != null" >
        AND equipmentTypeId = #{equipmentTypeId}
      </if>
      <if test="equipmentTypeName != null" >
        AND equipmentTypeName = #{equipmentTypeName}
      </if>
      <if test="managementLever != null" >
        AND managementLever = #{managementLever}
      </if>
      <if test="specification != null" >
        AND specification = #{specification}
      </if>
      <if test="modelNumber != null" >
        AND modelNumber = #{modelNumber}
      </if>
      <if test="manufacturerName != null" >
        AND manufacturerName = #{manufacturerName}
      </if>
      <if test="gtin != null" >
        AND gtin = #{gtin}
      </if>
      <if test="brand != null" >
        AND brand = #{brand}
      </if>
      <if test="isSterileProvide != null" >
        AND isSterileProvide = #{isSterileProvide}
      </if>
      <if test="isImportProduct != null" >
        AND isImportProduct = #{isImportProduct}
      </if>
      <if test="isLargeEquipment != null" >
        AND isLargeEquipment = #{isLargeEquipment}
      </if>
      <if test="expectedUsefulLife != null" >
        AND expectedUsefulLife = #{expectedUsefulLife}
      </if>
      <if test="sumWorkloadExpectancy != null" >
        AND sumWorkloadExpectancy = #{sumWorkloadExpectancy}
      </if>
      <if test="technicalIndicatorJson != null" >
        AND technicalIndicatorJson = #{technicalIndicatorJson}
      </if>
      <if test="functionsJson != null" >
        AND functionsJson = #{functionsJson}
      </if>
      <if test="mdRegistrationCertificateId != null" >
        AND mdRegistrationCertificateId = #{mdRegistrationCertificateId}
      </if>
      <if test="mdProductionCertificateId != null" >
        AND mdProductionCertificateId = #{mdProductionCertificateId}
      </if>
      <if test="otherCertificatePhotoCopy != null" >
        AND otherCertificatePhotoCopy = #{otherCertificatePhotoCopy}
      </if>
      <if test="sparePartsListJson != null" >
        AND sparePartsListJson = #{sparePartsListJson}
      </if>
      <if test="accessoryListJson != null" >
        AND accessoryListJson = #{accessoryListJson}
      </if>
      <if test="mainComponentsJson != null" >
        AND mainComponentsJson = #{mainComponentsJson}
      </if>
      <if test="deliveryComponentsJson != null" >
        AND deliveryComponentsJson = #{deliveryComponentsJson}
      </if>
      <if test="electronicDocumentStorage != null" >
        AND electronicDocumentStorage = #{electronicDocumentStorage}
      </if>
      <if test="installType != null" >
        AND installType = #{installType}
      </if>
      <if test="installationInfoId != null" >
        AND installationInfoId = #{installationInfoId}
      </if>
      <if test="environmentInfoId != null" >
        AND environmentInfoId = #{environmentInfoId}
      </if>
      <if test="maintenanceInfoId != null" >
        AND maintenanceInfoId = #{maintenanceInfoId}
      </if>
      <if test="repairInfo != null" >
        AND repairInfo = #{repairInfo}
      </if>
      <if test="maintenancePassword != null" >
        AND maintenancePassword = #{maintenancePassword}
      </if>
      <if test="faultCodeMeterJson != null" >
        AND faultCodeMeterJson = #{faultCodeMeterJson}
      </if>
      <if test="descriptionId != null" >
        AND descriptionId = #{descriptionId}
      </if>
      <if test="instructionId != null" >
        AND instructionId = #{instructionId}
      </if>
      <if test="warningInfoId != null" >
        AND warningInfoId = #{warningInfoId}
      </if>
      <if test="storageInfoId != null" >
        AND storageInfoId = #{storageInfoId}
      </if>
      <if test="wasteTreatmentInfoId != null" >
        AND wasteTreatmentInfoId = #{wasteTreatmentInfoId}
      </if>
      <if test="wasteClassification != null" >
        AND wasteClassification = #{wasteClassification}
      </if>
      <if test="otherInfoId != null" >
        AND otherInfoId = #{otherInfoId}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="currentId != null" >
        AND currentId = #{currentId}
      </if>
      <if test="applicationId != null" >
        AND applicationId = #{applicationId}
      </if>
      <if test="photos != null" >
        AND photos = #{photos}
      </if>
      <if test="isInspection != null" >
        AND isInspection = #{isInspection}
      </if>
      <if test="supplierCompanyId != null" >
        AND supplierCompanyId = #{supplierCompanyId}
      </if>
      <if test="supplierCompanyName != null" >
        AND supplierCompanyName = #{supplierCompanyName}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.EquipmentProduct" >
    SELECT
    <include refid="sqlColumns"/>
    FROM equipment_product
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment_product
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.EquipmentProduct" >
    UPDATE equipment_product
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      commodityName = #{commodityName},
      equipmentTypeId = #{equipmentTypeId},
      equipmentTypeName = #{equipmentTypeName},
      managementLever = #{managementLever},
      specification = #{specification},
      modelNumber = #{modelNumber},
      manufacturerName = #{manufacturerName},
      gtin = #{gtin},
      brand = #{brand},
      isSterileProvide = #{isSterileProvide},
      isImportProduct = #{isImportProduct},
      isLargeEquipment = #{isLargeEquipment},
      expectedUsefulLife = #{expectedUsefulLife},
      sumWorkloadExpectancy = #{sumWorkloadExpectancy},
      technicalIndicatorJson = #{technicalIndicatorJson},
      functionsJson = #{functionsJson},
      mdRegistrationCertificateId = #{mdRegistrationCertificateId},
      mdProductionCertificateId = #{mdProductionCertificateId},
      otherCertificatePhotoCopy = #{otherCertificatePhotoCopy},
      sparePartsListJson = #{sparePartsListJson},
      accessoryListJson = #{accessoryListJson},
      mainComponentsJson = #{mainComponentsJson},
      deliveryComponentsJson = #{deliveryComponentsJson},
      electronicDocumentStorage = #{electronicDocumentStorage},
      installType = #{installType},
      installationInfoId = #{installationInfoId},
      environmentInfoId = #{environmentInfoId},
      maintenanceInfoId = #{maintenanceInfoId},
      repairInfo = #{repairInfo},
      maintenancePassword = #{maintenancePassword},
      faultCodeMeterJson = #{faultCodeMeterJson},
      descriptionId = #{descriptionId},
      instructionId = #{instructionId},
      warningInfoId = #{warningInfoId},
      storageInfoId = #{storageInfoId},
      wasteTreatmentInfoId = #{wasteTreatmentInfoId},
      wasteClassification = #{wasteClassification},
      otherInfoId = #{otherInfoId},
      companyId = #{companyId},
      status = #{status},
      currentId = #{currentId},
      applicationId = #{applicationId},
      photos = #{photos},
      isInspection = #{isInspection},
      supplierCompanyId = #{supplierCompanyId},
      supplierCompanyName = #{supplierCompanyName},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.EquipmentProduct" >
    UPDATE equipment_product
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="commodityName != null" >
        commodityName = #{commodityName},
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId = #{equipmentTypeId},
      </if>
      <if test="equipmentTypeName != null" >
        equipmentTypeName = #{equipmentTypeName},
      </if>
      <if test="managementLever != null" >
        managementLever = #{managementLever},
      </if>
      <if test="specification != null" >
        specification = #{specification},
      </if>
      <if test="modelNumber != null" >
        modelNumber = #{modelNumber},
      </if>
      <if test="manufacturerName != null" >
        manufacturerName = #{manufacturerName},
      </if>
      <if test="gtin != null" >
        gtin = #{gtin},
      </if>
      <if test="brand != null" >
        brand = #{brand},
      </if>
      <if test="isSterileProvide != null" >
        isSterileProvide = #{isSterileProvide},
      </if>
      <if test="isImportProduct != null" >
        isImportProduct = #{isImportProduct},
      </if>
      <if test="isLargeEquipment != null" >
        isLargeEquipment = #{isLargeEquipment},
      </if>
      <if test="expectedUsefulLife != null" >
        expectedUsefulLife = #{expectedUsefulLife},
      </if>
      <if test="sumWorkloadExpectancy != null" >
        sumWorkloadExpectancy = #{sumWorkloadExpectancy},
      </if>
      <if test="technicalIndicatorJson != null" >
        technicalIndicatorJson = #{technicalIndicatorJson},
      </if>
      <if test="functionsJson != null" >
        functionsJson = #{functionsJson},
      </if>
      <if test="mdRegistrationCertificateId != null" >
        mdRegistrationCertificateId = #{mdRegistrationCertificateId},
      </if>
      <if test="mdProductionCertificateId != null" >
        mdProductionCertificateId = #{mdProductionCertificateId},
      </if>
      <if test="otherCertificatePhotoCopy != null" >
        otherCertificatePhotoCopy = #{otherCertificatePhotoCopy},
      </if>
      <if test="sparePartsListJson != null" >
        sparePartsListJson = #{sparePartsListJson},
      </if>
      <if test="accessoryListJson != null" >
        accessoryListJson = #{accessoryListJson},
      </if>
      <if test="mainComponentsJson != null" >
        mainComponentsJson = #{mainComponentsJson},
      </if>
      <if test="deliveryComponentsJson != null" >
        deliveryComponentsJson = #{deliveryComponentsJson},
      </if>
      <if test="electronicDocumentStorage != null" >
        electronicDocumentStorage = #{electronicDocumentStorage},
      </if>
      <if test="installType != null" >
        installType = #{installType},
      </if>
      <if test="installationInfoId != null" >
        installationInfoId = #{installationInfoId},
      </if>
      <if test="environmentInfoId != null" >
        environmentInfoId = #{environmentInfoId},
      </if>
      <if test="maintenanceInfoId != null" >
        maintenanceInfoId = #{maintenanceInfoId},
      </if>
      <if test="repairInfo != null" >
        repairInfo = #{repairInfo},
      </if>
      <if test="maintenancePassword != null" >
        maintenancePassword = #{maintenancePassword},
      </if>
      <if test="faultCodeMeterJson != null" >
        faultCodeMeterJson = #{faultCodeMeterJson},
      </if>
      <if test="descriptionId != null" >
        descriptionId = #{descriptionId},
      </if>
      <if test="instructionId != null" >
        instructionId = #{instructionId},
      </if>
      <if test="warningInfoId != null" >
        warningInfoId = #{warningInfoId},
      </if>
      <if test="storageInfoId != null" >
        storageInfoId = #{storageInfoId},
      </if>
      <if test="wasteTreatmentInfoId != null" >
        wasteTreatmentInfoId = #{wasteTreatmentInfoId},
      </if>
      <if test="wasteClassification != null" >
        wasteClassification = #{wasteClassification},
      </if>
      <if test="otherInfoId != null" >
        otherInfoId = #{otherInfoId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="currentId != null" >
        currentId = #{currentId},
      </if>
      <if test="applicationId != null" >
        applicationId = #{applicationId},
      </if>
      <if test="photos != null" >
        photos = #{photos},
      </if>
      <if test="isInspection != null" >
        isInspection = #{isInspection},
      </if>
      <if test="supplierCompanyId != null" >
        supplierCompanyId = #{supplierCompanyId},
      </if>
      <if test="supplierCompanyName != null" >
        supplierCompanyName = #{supplierCompanyName},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment_product SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment_product SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.EquipmentProduct" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      commodityName,
      equipmentTypeId,
      equipmentTypeName,
      managementLever,
      specification,
      modelNumber,
      manufacturerName,
      gtin,
      brand,
      isSterileProvide,
      isImportProduct,
      isLargeEquipment,
      expectedUsefulLife,
      sumWorkloadExpectancy,
      technicalIndicatorJson,
      functionsJson,
      mdRegistrationCertificateId,
      mdProductionCertificateId,
      otherCertificatePhotoCopy,
      sparePartsListJson,
      accessoryListJson,
      mainComponentsJson,
      deliveryComponentsJson,
      electronicDocumentStorage,
      installType,
      installationInfoId,
      environmentInfoId,
      maintenanceInfoId,
      repairInfo,
      maintenancePassword,
      faultCodeMeterJson,
      descriptionId,
      instructionId,
      warningInfoId,
      storageInfoId,
      wasteTreatmentInfoId,
      wasteClassification,
      otherInfoId,
      companyId,
      status,
      currentId,
      applicationId,
      photos,
      isInspection,
      supplierCompanyId,
      supplierCompanyName,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{commodityName},
      #{equipmentTypeId},
      #{equipmentTypeName},
      #{managementLever},
      #{specification},
      #{modelNumber},
      #{manufacturerName},
      #{gtin},
      #{brand},
      #{isSterileProvide},
      #{isImportProduct},
      #{isLargeEquipment},
      #{expectedUsefulLife},
      #{sumWorkloadExpectancy},
      #{technicalIndicatorJson},
      #{functionsJson},
      #{mdRegistrationCertificateId},
      #{mdProductionCertificateId},
      #{otherCertificatePhotoCopy},
      #{sparePartsListJson},
      #{accessoryListJson},
      #{mainComponentsJson},
      #{deliveryComponentsJson},
      #{electronicDocumentStorage},
      #{installType},
      #{installationInfoId},
      #{environmentInfoId},
      #{maintenanceInfoId},
      #{repairInfo},
      #{maintenancePassword},
      #{faultCodeMeterJson},
      #{descriptionId},
      #{instructionId},
      #{warningInfoId},
      #{storageInfoId},
      #{wasteTreatmentInfoId},
      #{wasteClassification},
      #{otherInfoId},
      #{companyId},
      #{status},
      #{currentId},
      #{applicationId},
      #{photos},
      #{isInspection},
      #{supplierCompanyId},
      #{supplierCompanyName},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.EquipmentProduct" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="commodityName != null" >
        commodityName,
      </if>
      <if test="equipmentTypeId != null" >
        equipmentTypeId,
      </if>
      <if test="equipmentTypeName != null" >
        equipmentTypeName,
      </if>
      <if test="managementLever != null" >
        managementLever,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="modelNumber != null" >
        modelNumber,
      </if>
      <if test="manufacturerName != null" >
        manufacturerName,
      </if>
      <if test="gtin != null" >
        gtin,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="isSterileProvide != null" >
        isSterileProvide,
      </if>
      <if test="isImportProduct != null" >
        isImportProduct,
      </if>
      <if test="isLargeEquipment != null" >
        isLargeEquipment,
      </if>
      <if test="expectedUsefulLife != null" >
        expectedUsefulLife,
      </if>
      <if test="sumWorkloadExpectancy != null" >
        sumWorkloadExpectancy,
      </if>
      <if test="technicalIndicatorJson != null" >
        technicalIndicatorJson,
      </if>
      <if test="functionsJson != null" >
        functionsJson,
      </if>
      <if test="mdRegistrationCertificateId != null" >
        mdRegistrationCertificateId,
      </if>
      <if test="mdProductionCertificateId != null" >
        mdProductionCertificateId,
      </if>
      <if test="otherCertificatePhotoCopy != null" >
        otherCertificatePhotoCopy,
      </if>
      <if test="sparePartsListJson != null" >
        sparePartsListJson,
      </if>
      <if test="accessoryListJson != null" >
        accessoryListJson,
      </if>
      <if test="mainComponentsJson != null" >
        mainComponentsJson,
      </if>
      <if test="deliveryComponentsJson != null" >
        deliveryComponentsJson,
      </if>
      <if test="electronicDocumentStorage != null" >
        electronicDocumentStorage,
      </if>
      <if test="installType != null" >
        installType,
      </if>
      <if test="installationInfoId != null" >
        installationInfoId,
      </if>
      <if test="environmentInfoId != null" >
        environmentInfoId,
      </if>
      <if test="maintenanceInfoId != null" >
        maintenanceInfoId,
      </if>
      <if test="repairInfo != null" >
        repairInfo,
      </if>
      <if test="maintenancePassword != null" >
        maintenancePassword,
      </if>
      <if test="faultCodeMeterJson != null" >
        faultCodeMeterJson,
      </if>
      <if test="descriptionId != null" >
        descriptionId,
      </if>
      <if test="instructionId != null" >
        instructionId,
      </if>
      <if test="warningInfoId != null" >
        warningInfoId,
      </if>
      <if test="storageInfoId != null" >
        storageInfoId,
      </if>
      <if test="wasteTreatmentInfoId != null" >
        wasteTreatmentInfoId,
      </if>
      <if test="wasteClassification != null" >
        wasteClassification,
      </if>
      <if test="otherInfoId != null" >
        otherInfoId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="currentId != null" >
        currentId,
      </if>
      <if test="applicationId != null" >
        applicationId,
      </if>
      <if test="photos != null" >
        photos,
      </if>
      <if test="isInspection != null" >
        isInspection,
      </if>
      <if test="supplierCompanyId != null" >
        supplierCompanyId,
      </if>
      <if test="supplierCompanyName != null" >
        supplierCompanyName,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="commodityName != null" >
        #{commodityName},
      </if>
      <if test="equipmentTypeId != null" >
        #{equipmentTypeId},
      </if>
      <if test="equipmentTypeName != null" >
        #{equipmentTypeName},
      </if>
      <if test="managementLever != null" >
        #{managementLever},
      </if>
      <if test="specification != null" >
        #{specification},
      </if>
      <if test="modelNumber != null" >
        #{modelNumber},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName},
      </if>
      <if test="gtin != null" >
        #{gtin},
      </if>
      <if test="brand != null" >
        #{brand},
      </if>
      <if test="isSterileProvide != null" >
        #{isSterileProvide},
      </if>
      <if test="isImportProduct != null" >
        #{isImportProduct},
      </if>
      <if test="isLargeEquipment != null" >
        #{isLargeEquipment},
      </if>
      <if test="expectedUsefulLife != null" >
        #{expectedUsefulLife},
      </if>
      <if test="sumWorkloadExpectancy != null" >
        #{sumWorkloadExpectancy},
      </if>
      <if test="technicalIndicatorJson != null" >
        #{technicalIndicatorJson},
      </if>
      <if test="functionsJson != null" >
        #{functionsJson},
      </if>
      <if test="mdRegistrationCertificateId != null" >
        #{mdRegistrationCertificateId},
      </if>
      <if test="mdProductionCertificateId != null" >
        #{mdProductionCertificateId},
      </if>
      <if test="otherCertificatePhotoCopy != null" >
        #{otherCertificatePhotoCopy},
      </if>
      <if test="sparePartsListJson != null" >
        #{sparePartsListJson},
      </if>
      <if test="accessoryListJson != null" >
        #{accessoryListJson},
      </if>
      <if test="mainComponentsJson != null" >
        #{mainComponentsJson},
      </if>
      <if test="deliveryComponentsJson != null" >
        #{deliveryComponentsJson},
      </if>
      <if test="electronicDocumentStorage != null" >
        #{electronicDocumentStorage},
      </if>
      <if test="installType != null" >
        #{installType},
      </if>
      <if test="installationInfoId != null" >
        #{installationInfoId},
      </if>
      <if test="environmentInfoId != null" >
        #{environmentInfoId},
      </if>
      <if test="maintenanceInfoId != null" >
        #{maintenanceInfoId},
      </if>
      <if test="repairInfo != null" >
        #{repairInfo},
      </if>
      <if test="maintenancePassword != null" >
        #{maintenancePassword},
      </if>
      <if test="faultCodeMeterJson != null" >
        #{faultCodeMeterJson},
      </if>
      <if test="descriptionId != null" >
        #{descriptionId},
      </if>
      <if test="instructionId != null" >
        #{instructionId},
      </if>
      <if test="warningInfoId != null" >
        #{warningInfoId},
      </if>
      <if test="storageInfoId != null" >
        #{storageInfoId},
      </if>
      <if test="wasteTreatmentInfoId != null" >
        #{wasteTreatmentInfoId},
      </if>
      <if test="wasteClassification != null" >
        #{wasteClassification},
      </if>
      <if test="otherInfoId != null" >
        #{otherInfoId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="currentId != null" >
        #{currentId},
      </if>
      <if test="applicationId != null" >
        #{applicationId},
      </if>
      <if test="photos != null" >
        #{photos},
      </if>
      <if test="isInspection != null" >
        #{isInspection},
      </if>
      <if test="supplierCompanyId != null" >
        #{supplierCompanyId},
      </if>
      <if test="supplierCompanyName != null" >
        #{supplierCompanyName},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment_product WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment_product
  </delete>

  <!-- START USER DEFINED -->
  <select id="selectTechnologyAcceptanceInfo" resultType="com.welearn.entity.po.equipment.EquipmentProduct">
    SELECT ep.id, ep.technicalIndicatorJson, ep.functionsJson
    FROM equipment_product ep
    WHERE ep.id=#{id}
  </select>
</mapper>