<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment_type_description
  Comment  : 设备类型描述
  Mapper   : com.welearn.mapper.EquipmentTypeDescriptionMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/10/19 14:01:59
-->
<mapper namespace="com.welearn.mapper.EquipmentTypeDescriptionMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    dSort,
    uSort,
    description,
    usage
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment_type_description.id AS id,
    equipment_type_description.createdAt AS createdAt,
    equipment_type_description.updatedAt AS updatedAt,
    equipment_type_description.isEnable AS isEnable,
    equipment_type_description.dSort AS dSort,
    equipment_type_description.uSort AS uSort,
    equipment_type_description.description AS description,
    equipment_type_description.usage AS usage
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.EquipmentTypeDescription" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 描述编号 -->
    <result column="dSort" property="dSort"/>
    <!-- Comment: 用途编号 -->
    <result column="uSort" property="uSort"/>
    <!-- Comment: 名称 -->
    <result column="description" property="description"/>
    <!-- Comment: 描述 -->
    <result column="usage" property="usage"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.EquipmentTypeDescription" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_type_description
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.EquipmentTypeDescription" parameterType="com.welearn.entity.qo.equipment.EquipmentTypeDescriptionQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_type_description
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="dSort != null" >
          AND dSort = #{dSort}
        </if>
        <if test="uSort != null" >
          AND uSort = #{uSort}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <if test="usage != null" >
          AND usage = #{usage}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.EquipmentTypeDescription" >
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_type_description
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment_type_description
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.EquipmentTypeDescription" >
    UPDATE equipment_type_description
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      dSort = #{dSort},
      uSort = #{uSort},
      description = #{description},
      usage = #{usage},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.EquipmentTypeDescription" >
    UPDATE equipment_type_description
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="dSort != null" >
        dSort = #{dSort},
      </if>
      <if test="uSort != null" >
        uSort = #{uSort},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="usage != null" >
        usage = #{usage},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment_type_description SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment_type_description SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.EquipmentTypeDescription" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_type_description
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      dSort,
      uSort,
      description,
      usage,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{dSort},
      #{uSort},
      #{description},
      #{usage},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.EquipmentTypeDescription" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_type_description 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="dSort != null" >
        dSort,
      </if>
      <if test="uSort != null" >
        uSort,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="usage != null" >
        usage,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="dSort != null" >
        #{dSort},
      </if>
      <if test="uSort != null" >
        #{uSort},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="usage != null" >
        #{usage},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment_type_description WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment_type_description
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>