<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : equipment_type_item
  Comment  : 设备类型品名
  Mapper   : com.welearn.mapper.EquipmentTypeItemMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/10/19 14:01:59
-->
<mapper namespace="com.welearn.mapper.EquipmentTypeItemMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    indexId,
    indexName,
    firstId,
    firstName,
    secondId,
    secondName,
    name,
    managementCategory
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    equipment_type_item.id AS id,
    equipment_type_item.createdAt AS createdAt,
    equipment_type_item.updatedAt AS updatedAt,
    equipment_type_item.isEnable AS isEnable,
    equipment_type_item.indexId AS indexId,
    equipment_type_item.indexName AS indexName,
    equipment_type_item.firstId AS firstId,
    equipment_type_item.firstName AS firstName,
    equipment_type_item.secondId AS secondId,
    equipment_type_item.secondName AS secondName,
    equipment_type_item.name AS name,
    equipment_type_item.managementCategory AS managementCategory
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.EquipmentTypeItem" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 索引id -->
    <result column="indexId" property="indexId"/>
    <!-- Comment: 索引名称 -->
    <result column="indexName" property="indexName"/>
    <!-- Comment: 一级类别编号 -->
    <result column="firstId" property="firstId"/>
    <!-- Comment: 一级类别名称 -->
    <result column="firstName" property="firstName"/>
    <!-- Comment: 二级类别编号 -->
    <result column="secondId" property="secondId"/>
    <!-- Comment: 二级类别名称 -->
    <result column="secondName" property="secondName"/>
    <!-- Comment: 品名 -->
    <result column="name" property="name"/>
    <!-- Comment: 管理级别:Ⅰ Ⅱ Ⅲ -->
    <result column="managementCategory" property="managementCategory"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.EquipmentTypeItem" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_type_item
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.EquipmentTypeItem" parameterType="com.welearn.entity.qo.equipment.EquipmentTypeItemQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_type_item
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="indexId != null" >
          AND indexId = #{indexId}
        </if>
        <if test="indexName != null" >
          AND indexName = #{indexName}
        </if>
        <if test="firstId != null" >
          AND firstId = #{firstId}
        </if>
        <if test="firstName != null" >
          AND firstName = #{firstName}
        </if>
        <if test="secondId != null" >
          AND secondId = #{secondId}
        </if>
        <if test="secondName != null" >
          AND secondName = #{secondName}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="managementCategory != null" >
          AND managementCategory = #{managementCategory}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.EquipmentTypeItem" >
    SELECT
      <include refid="sqlColumns"/>
    FROM equipment_type_item
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM equipment_type_item
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.EquipmentTypeItem" >
    UPDATE equipment_type_item
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      indexId = #{indexId},
      indexName = #{indexName},
      firstId = #{firstId},
      firstName = #{firstName},
      secondId = #{secondId},
      secondName = #{secondName},
      name = #{name},
      managementCategory = #{managementCategory},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.EquipmentTypeItem" >
    UPDATE equipment_type_item
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="indexId != null" >
        indexId = #{indexId},
      </if>
      <if test="indexName != null" >
        indexName = #{indexName},
      </if>
      <if test="firstId != null" >
        firstId = #{firstId},
      </if>
      <if test="firstName != null" >
        firstName = #{firstName},
      </if>
      <if test="secondId != null" >
        secondId = #{secondId},
      </if>
      <if test="secondName != null" >
        secondName = #{secondName},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="managementCategory != null" >
        managementCategory = #{managementCategory},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE equipment_type_item SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE equipment_type_item SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.EquipmentTypeItem" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_type_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      indexId,
      indexName,
      firstId,
      firstName,
      secondId,
      secondName,
      name,
      managementCategory,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{indexId},
      #{indexName},
      #{firstId},
      #{firstName},
      #{secondId},
      #{secondName},
      #{name},
      #{managementCategory},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.EquipmentTypeItem" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO equipment_type_item 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="indexId != null" >
        indexId,
      </if>
      <if test="indexName != null" >
        indexName,
      </if>
      <if test="firstId != null" >
        firstId,
      </if>
      <if test="firstName != null" >
        firstName,
      </if>
      <if test="secondId != null" >
        secondId,
      </if>
      <if test="secondName != null" >
        secondName,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="managementCategory != null" >
        managementCategory,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="indexId != null" >
        #{indexId},
      </if>
      <if test="indexName != null" >
        #{indexName},
      </if>
      <if test="firstId != null" >
        #{firstId},
      </if>
      <if test="firstName != null" >
        #{firstName},
      </if>
      <if test="secondId != null" >
        #{secondId},
      </if>
      <if test="secondName != null" >
        #{secondName},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="managementCategory != null" >
        #{managementCategory},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM equipment_type_item WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM equipment_type_item
  </delete>
  
  
  <!-- START USER DEFINED -->
  <select id="selectInfoByNameOrId" resultType="com.welearn.entity.vo.response.equipment.EquipmentTypeInfo">
    SELECT eti.id as v, eti.name as n, eti.indexName as i, eti.firstName as f, eti.secondName as s, etd.description as d, etd.`usage` as u, eti.managementCategory as m
    from equipment_type_item eti
    left join re_equipment_type_item_description retid on retid.itemId = eti.id
    left join equipment_type_description etd on retid.descriptionId = etd.id
    where eti.name like CONCAT('%',#{content},'%') or eti.id like CONCAT('%',#{content},'%')
    order by eti.id
  </select>
  <select id="selectFirst" resultType="com.welearn.entity.vo.response.equipment.EquipmentTypeBase">
    SELECT distinct eti.firstId as id, eti.firstName as name
    from equipment_type_item eti where eti.indexId = #{indexId}
  </select>
  <select id="selectSecond" resultType="com.welearn.entity.vo.response.equipment.EquipmentTypeBase">
    SELECT distinct eti.secondId as id, eti.secondName as name
    from equipment_type_item eti where eti.indexId = #{indexId} and eti.firstId = #{firstId}
  </select>
  <select id="selectItems" resultType="com.welearn.entity.vo.response.equipment.EquipmentTypeBase">
    SELECT eti.id as id, eti.name as name, eti.managementCategory as remark
    from equipment_type_item eti where eti.indexId = #{indexId} and eti.firstId = #{firstId} and eti.secondId = #{secondId}
  </select>
</mapper>