<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Table    : inspection_record
  Comment  : 强检记录
  Mapper   : com.welearn.mapper.InspectionRecordMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/20 16:19:20
-->
<mapper namespace="com.welearn.mapper.InspectionRecordMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    inspectionPlanId,
    productId,
    equipmentId,
    companyId,
    `no`,
    customerCompanyName,
    inspectionCompanyName,
    measuringDeviceName,
    model,
    specification,
    manufacturerName,
    serialNumber,
    isProcessed,
    isQualified,
    isAdjusted,
    timeoutAt,
    verifiedAt,
    expiredAt,
    accuracy,
    lever,
    `range`,
    verificationRegulationsJson,
    verificationFile,
    remark,
    typeId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    inspection_record.id AS id,
    inspection_record.createdAt AS createdAt,
    inspection_record.updatedAt AS updatedAt,
    inspection_record.isEnable AS isEnable,
    inspection_record.inspectionPlanId AS inspectionPlanId,
    inspection_record.productId AS productId,
    inspection_record.equipmentId AS equipmentId,
    inspection_record.companyId AS companyId,
    inspection_record.no AS `no`,
    inspection_record.customerCompanyName AS customerCompanyName,
    inspection_record.inspectionCompanyName AS inspectionCompanyName,
    inspection_record.measuringDeviceName AS measuringDeviceName,
    inspection_record.model AS model,
    inspection_record.specification AS specification,
    inspection_record.manufacturerName AS manufacturerName,
    inspection_record.serialNumber AS serialNumber,
    inspection_record.isProcessed AS isProcessed,
    inspection_record.isQualified AS isQualified,
    inspection_record.isAdjusted AS isAdjusted,
    inspection_record.timeoutAt AS timeoutAt,
    inspection_record.verifiedAt AS verifiedAt,
    inspection_record.expiredAt AS expiredAt,
    inspection_record.accuracy AS accuracy,
    inspection_record.lever AS lever,
    inspection_record.range AS `range`,
    inspection_record.verificationRegulationsJson AS verificationRegulationsJson,
    inspection_record.verificationFile AS verificationFile,
    inspection_record.remark AS remark,
    inspection_record.typeId AS typeId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.InspectionRecord" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 计划id -->
    <result column="inspectionPlanId" property="inspectionPlanId"/>
    <!-- Comment: 产品id -->
    <result column="productId" property="productId"/>
    <!-- Comment: 设备id -->
    <result column="equipmentId" property="equipmentId"/>
    <!-- Comment: 设备所属公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 证书编号 -->
    <result column="no" property="no"/>
    <!-- Comment: 委托方或申请方单位名称 -->
    <result column="customerCompanyName" property="customerCompanyName"/>
    <!-- Comment: 发出证书的单位名称 -->
    <result column="inspectionCompanyName" property="inspectionCompanyName"/>
    <!-- Comment: 被检定计量器具名称 -->
    <result column="measuringDeviceName" property="measuringDeviceName"/>
    <!-- Comment: 型号 -->
    <result column="model" property="model"/>
    <!-- Comment: 规格 -->
    <result column="specification" property="specification"/>
    <!-- Comment: 制造厂商 -->
    <result column="manufacturerName" property="manufacturerName"/>
    <!-- Comment: 出厂编号 -->
    <result column="serialNumber" property="serialNumber"/>
    <!-- Comment: 该检定是否已处理 -->
    <result column="isProcessed" property="isProcessed"/>
    <!-- Comment: 检定结论是否合格 -->
    <result column="isQualified" property="isQualified"/>
    <!-- Comment: 检定是否调修校准 -->
    <result column="isAdjusted" property="isAdjusted"/>
    <!-- Comment: 超时期限 -->
    <result column="timeoutAt" property="timeoutAt"/>
    <!-- Comment: 检定时间 -->
    <result column="verifiedAt" property="verifiedAt"/>
    <!-- Comment: 有效期至 -->
    <result column="expiredAt" property="expiredAt"/>
    <!-- Comment: 准确度 -->
    <result column="accuracy" property="accuracy"/>
    <!-- Comment: 等级 -->
    <result column="lever" property="lever"/>
    <!-- Comment: 测量范围 -->
    <result column="range" property="range"/>
    <!-- Comment: 检定依据:[regulationName, regulationName...] -->
    <result column="verificationRegulationsJson" property="verificationRegulationsJson"/>
    <!-- Comment: 检定证书(合格)/检定结果通知书(不合格) -->
    <result column="verificationFile" property="verificationFile"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
    <!-- Comment: 类型id -->
    <result column="typeId" property="typeId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.InspectionRecord" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM inspection_record
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.InspectionRecord" parameterType="com.welearn.entity.qo.equipment.InspectionRecordQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM inspection_record
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="inspectionPlanId != null" >
        AND inspectionPlanId = #{inspectionPlanId}
      </if>
      <if test="productId != null" >
        AND productId = #{productId}
      </if>
      <if test="equipmentId != null" >
        AND equipmentId = #{equipmentId}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="no != null" >
        AND `no` = #{no}
      </if>
      <if test="customerCompanyName != null" >
        AND customerCompanyName = #{customerCompanyName}
      </if>
      <if test="inspectionCompanyName != null" >
        AND inspectionCompanyName = #{inspectionCompanyName}
      </if>
      <if test="measuringDeviceName != null" >
        AND measuringDeviceName = #{measuringDeviceName}
      </if>
      <if test="model != null" >
        AND model = #{model}
      </if>
      <if test="specification != null" >
        AND specification = #{specification}
      </if>
      <if test="manufacturerName != null" >
        AND manufacturerName = #{manufacturerName}
      </if>
      <if test="serialNumber != null" >
        AND serialNumber = #{serialNumber}
      </if>
      <if test="isProcessed != null" >
        AND isProcessed = #{isProcessed}
      </if>
      <if test="isQualified != null" >
        AND isQualified = #{isQualified}
      </if>
      <if test="isAdjusted != null" >
        AND isAdjusted = #{isAdjusted}
      </if>
      <if test="timeoutAt != null" >
        AND timeoutAt = #{timeoutAt}
      </if>
      <if test="verifiedAt != null" >
        AND verifiedAt = #{verifiedAt}
      </if>
      <if test="expiredAt != null" >
        AND expiredAt = #{expiredAt}
      </if>
      <if test="accuracy != null" >
        AND accuracy = #{accuracy}
      </if>
      <if test="lever != null" >
        AND lever = #{lever}
      </if>
      <if test="range != null" >
        AND `range` = #{range}
      </if>
      <if test="verificationRegulationsJson != null" >
        AND verificationRegulationsJson = #{verificationRegulationsJson}
      </if>
      <if test="verificationFile != null" >
        AND verificationFile = #{verificationFile}
      </if>
      <if test="remark != null" >
        AND remark = #{remark}
      </if>
      <if test="typeId != null" >
        AND typeId = #{typeId}
      </if>
      <!-- START USER DEFINED -->

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.InspectionRecord" >
    SELECT
    <include refid="sqlColumns"/>
    FROM inspection_record
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM inspection_record
  </select>

    <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.InspectionRecord" >
    UPDATE inspection_record
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      inspectionPlanId = #{inspectionPlanId},
      productId = #{productId},
      equipmentId = #{equipmentId},
      companyId = #{companyId},
      `no` = #{no},
      customerCompanyName = #{customerCompanyName},
      inspectionCompanyName = #{inspectionCompanyName},
      measuringDeviceName = #{measuringDeviceName},
      model = #{model},
      specification = #{specification},
      manufacturerName = #{manufacturerName},
      serialNumber = #{serialNumber},
      isProcessed = #{isProcessed},
      isQualified = #{isQualified},
      isAdjusted = #{isAdjusted},
      timeoutAt = #{timeoutAt},
      verifiedAt = #{verifiedAt},
      expiredAt = #{expiredAt},
      accuracy = #{accuracy},
      lever = #{lever},
      `range` = #{range},
      verificationRegulationsJson = #{verificationRegulationsJson},
      verificationFile = #{verificationFile},
      remark = #{remark},
      typeId = #{typeId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.InspectionRecord" >
    UPDATE inspection_record
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="inspectionPlanId != null" >
        inspectionPlanId = #{inspectionPlanId},
      </if>
      <if test="productId != null" >
        productId = #{productId},
      </if>
      <if test="equipmentId != null" >
        equipmentId = #{equipmentId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="no != null" >
        `no` = #{no},
      </if>
      <if test="customerCompanyName != null" >
        customerCompanyName = #{customerCompanyName},
      </if>
      <if test="inspectionCompanyName != null" >
        inspectionCompanyName = #{inspectionCompanyName},
      </if>
      <if test="measuringDeviceName != null" >
        measuringDeviceName = #{measuringDeviceName},
      </if>
      <if test="model != null" >
        model = #{model},
      </if>
      <if test="specification != null" >
        specification = #{specification},
      </if>
      <if test="manufacturerName != null" >
        manufacturerName = #{manufacturerName},
      </if>
      <if test="serialNumber != null" >
        serialNumber = #{serialNumber},
      </if>
      <if test="isProcessed != null" >
        isProcessed = #{isProcessed},
      </if>
      <if test="isQualified != null" >
        isQualified = #{isQualified},
      </if>
      <if test="isAdjusted != null" >
        isAdjusted = #{isAdjusted},
      </if>
      <if test="timeoutAt != null" >
        timeoutAt = #{timeoutAt},
      </if>
      <if test="verifiedAt != null" >
        verifiedAt = #{verifiedAt},
      </if>
      <if test="expiredAt != null" >
        expiredAt = #{expiredAt},
      </if>
      <if test="accuracy != null" >
        accuracy = #{accuracy},
      </if>
      <if test="lever != null" >
        lever = #{lever},
      </if>
      <if test="range != null" >
        `range` = #{range},
      </if>
      <if test="verificationRegulationsJson != null" >
        verificationRegulationsJson = #{verificationRegulationsJson},
      </if>
      <if test="verificationFile != null" >
        verificationFile = #{verificationFile},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="typeId != null" >
        typeId = #{typeId},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE inspection_record SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE inspection_record SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.InspectionRecord" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO inspection_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      inspectionPlanId,
      productId,
      equipmentId,
      companyId,
      `no`,
      customerCompanyName,
      inspectionCompanyName,
      measuringDeviceName,
      model,
      specification,
      manufacturerName,
      serialNumber,
      isProcessed,
      isQualified,
      isAdjusted,
      timeoutAt,
      verifiedAt,
      expiredAt,
      accuracy,
      lever,
      `range`,
      verificationRegulationsJson,
      verificationFile,
      remark,
      typeId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{inspectionPlanId},
      #{productId},
      #{equipmentId},
      #{companyId},
      #{no},
      #{customerCompanyName},
      #{inspectionCompanyName},
      #{measuringDeviceName},
      #{model},
      #{specification},
      #{manufacturerName},
      #{serialNumber},
      #{isProcessed},
      #{isQualified},
      #{isAdjusted},
      #{timeoutAt},
      #{verifiedAt},
      #{expiredAt},
      #{accuracy},
      #{lever},
      #{range},
      #{verificationRegulationsJson},
      #{verificationFile},
      #{remark},
      #{typeId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.InspectionRecord" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO inspection_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="inspectionPlanId != null" >
        inspectionPlanId,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="equipmentId != null" >
        equipmentId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="no != null" >
        `no`,
      </if>
      <if test="customerCompanyName != null" >
        customerCompanyName,
      </if>
      <if test="inspectionCompanyName != null" >
        inspectionCompanyName,
      </if>
      <if test="measuringDeviceName != null" >
        measuringDeviceName,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="manufacturerName != null" >
        manufacturerName,
      </if>
      <if test="serialNumber != null" >
        serialNumber,
      </if>
      <if test="isProcessed != null" >
        isProcessed,
      </if>
      <if test="isQualified != null" >
        isQualified,
      </if>
      <if test="isAdjusted != null" >
        isAdjusted,
      </if>
      <if test="timeoutAt != null" >
        timeoutAt,
      </if>
      <if test="verifiedAt != null" >
        verifiedAt,
      </if>
      <if test="expiredAt != null" >
        expiredAt,
      </if>
      <if test="accuracy != null" >
        accuracy,
      </if>
      <if test="lever != null" >
        lever,
      </if>
      <if test="range != null" >
        `range`,
      </if>
      <if test="verificationRegulationsJson != null" >
        verificationRegulationsJson,
      </if>
      <if test="verificationFile != null" >
        verificationFile,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="typeId != null" >
        typeId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="inspectionPlanId != null" >
        #{inspectionPlanId},
      </if>
      <if test="productId != null" >
        #{productId},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="no != null" >
        #{no},
      </if>
      <if test="customerCompanyName != null" >
        #{customerCompanyName},
      </if>
      <if test="inspectionCompanyName != null" >
        #{inspectionCompanyName},
      </if>
      <if test="measuringDeviceName != null" >
        #{measuringDeviceName},
      </if>
      <if test="model != null" >
        #{model},
      </if>
      <if test="specification != null" >
        #{specification},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber},
      </if>
      <if test="isProcessed != null" >
        #{isProcessed},
      </if>
      <if test="isQualified != null" >
        #{isQualified},
      </if>
      <if test="isAdjusted != null" >
        #{isAdjusted},
      </if>
      <if test="timeoutAt != null" >
        #{timeoutAt},
      </if>
      <if test="verifiedAt != null" >
        #{verifiedAt},
      </if>
      <if test="expiredAt != null" >
        #{expiredAt},
      </if>
      <if test="accuracy != null" >
        #{accuracy},
      </if>
      <if test="lever != null" >
        #{lever},
      </if>
      <if test="range != null" >
        #{range},
      </if>
      <if test="verificationRegulationsJson != null" >
        #{verificationRegulationsJson},
      </if>
      <if test="verificationFile != null" >
        #{verificationFile},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="typeId != null" >
        #{typeId},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM inspection_record WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM inspection_record
  </delete>


  <!-- START USER DEFINED -->
  <select id="countByEquipmentId" resultType="java.lang.Integer">
    SELECT count(id)
    FROM inspection_record where equipmentId = #{equipmentId} and isEnable = true
  </select>
</mapper>