<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Table    : maintenance_task
  Comment  : 维护任务
  Mapper   : com.welearn.mapper.MaintenanceTaskMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/1/10 14:19:15
-->
<mapper namespace="com.welearn.mapper.MaintenanceTaskMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    serveType,
    serveId,
    serveName,
    orderType,
    taskType,
    priority,
    startAt,
    `interval`,
    timeUnit,
    name,
    description,
    companyId,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    maintenance_task.id AS id,
    maintenance_task.createdAt AS createdAt,
    maintenance_task.updatedAt AS updatedAt,
    maintenance_task.isEnable AS isEnable,
    maintenance_task.serveType AS serveType,
    maintenance_task.serveId AS serveId,
    maintenance_task.serveName AS serveName,
    maintenance_task.orderType AS orderType,
    maintenance_task.taskType AS taskType,
    maintenance_task.priority AS priority,
    maintenance_task.startAt AS startAt,
    maintenance_task.interval AS `interval`,
    maintenance_task.timeUnit AS timeUnit,
    maintenance_task.name AS name,
    maintenance_task.description AS description,
    maintenance_task.companyId AS companyId,
    maintenance_task.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.MaintenanceTask" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 任务类型: 0-类型 1-产品 2-设备 3-全部 -->
    <result column="serveType" property="serveType"/>
    <!-- Comment: 类型/产品/设备id -->
    <result column="serveId" property="serveId"/>
    <!-- Comment: 适用类型名称 -->
    <result column="serveName" property="serveName"/>
    <!-- Comment: 任务领取类型: 0-指派 1-抢单 -->
    <result column="orderType" property="orderType"/>
    <!-- Comment: 维护计划类型: 0-预防性维护 1-定期保养 -->
    <result column="taskType" property="taskType"/>
    <!-- Comment: 任务优先级(决定处理优先级的基础高度) -->
    <result column="priority" property="priority"/>
    <!-- Comment: 任务开始时间 -->
    <result column="startAt" property="startAt"/>
    <!-- Comment: 任务时间间隔(分钟)(0 表示不会循环为单次任务) -->
    <result column="interval" property="interval"/>
    <!-- Comment: 时间单位 0-分 60-时 1440-天 10080-周 -->
    <result column="timeUnit" property="timeUnit"/>
    <!-- Comment: 任务名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 任务描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.MaintenanceTask" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM maintenance_task
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.MaintenanceTask" parameterType="com.welearn.entity.qo.equipment.MaintenanceTaskQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM maintenance_task
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="serveType != null" >
        AND serveType = #{serveType}
      </if>
      <if test="serveId != null" >
        AND serveId = #{serveId}
      </if>
      <if test="serveName != null" >
        AND serveName = #{serveName}
      </if>
      <if test="orderType != null" >
        AND orderType = #{orderType}
      </if>
      <if test="taskType != null" >
        AND taskType = #{taskType}
      </if>
      <if test="priority != null" >
        AND priority = #{priority}
      </if>
      <if test="startAt != null" >
        AND startAt = #{startAt}
      </if>
      <if test="interval != null" >
        AND `interval` = #{interval}
      </if>
      <if test="timeUnit != null" >
        AND timeUnit = #{timeUnit}
      </if>
      <if test="name != null" >
        AND name like CONCAT('%',#{name},'%')
      </if>
      <if test="description != null" >
        AND description = #{description}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="remark != null" >
        AND remark = #{remark}
      </if>
      <!-- START USER DEFINED -->

      <if test="startAtFrom != null" >
        AND startAt >= #{startAtFrom}
      </if>
      <if test="startAtEnd != null" >
        AND #{startAtEnd} > startAt
      </if>

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.MaintenanceTask" >
    SELECT
    <include refid="sqlColumns"/>
    FROM maintenance_task
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM maintenance_task
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.MaintenanceTask" >
    UPDATE maintenance_task
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      serveType = #{serveType},
      serveId = #{serveId},
      serveName = #{serveName},
      orderType = #{orderType},
      taskType = #{taskType},
      priority = #{priority},
      startAt = #{startAt},
      `interval` = #{interval},
      timeUnit = #{timeUnit},
      name = #{name},
      description = #{description},
      companyId = #{companyId},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.MaintenanceTask" >
    UPDATE maintenance_task
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="serveType != null" >
        serveType = #{serveType},
      </if>
      <if test="serveId != null" >
        serveId = #{serveId},
      </if>
      <if test="serveName != null" >
        serveName = #{serveName},
      </if>
      <if test="orderType != null" >
        orderType = #{orderType},
      </if>
      <if test="taskType != null" >
        taskType = #{taskType},
      </if>
      <if test="priority != null" >
        priority = #{priority},
      </if>
      <if test="startAt != null" >
        startAt = #{startAt},
      </if>
      <if test="interval != null" >
        `interval` = #{interval},
      </if>
      <if test="timeUnit != null" >
        timeUnit = #{timeUnit},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE maintenance_task SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE maintenance_task SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.MaintenanceTask" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO maintenance_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      serveType,
      serveId,
      serveName,
      orderType,
      taskType,
      priority,
      startAt,
      `interval`,
      timeUnit,
      name,
      description,
      companyId,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{serveType},
      #{serveId},
      #{serveName},
      #{orderType},
      #{taskType},
      #{priority},
      #{startAt},
      #{interval},
      #{timeUnit},
      #{name},
      #{description},
      #{companyId},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.MaintenanceTask" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO maintenance_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="serveType != null" >
        serveType,
      </if>
      <if test="serveId != null" >
        serveId,
      </if>
      <if test="serveName != null" >
        serveName,
      </if>
      <if test="orderType != null" >
        orderType,
      </if>
      <if test="taskType != null" >
        taskType,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="startAt != null" >
        startAt,
      </if>
      <if test="interval != null" >
        `interval`,
      </if>
      <if test="timeUnit != null" >
        timeUnit,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="serveType != null" >
        #{serveType},
      </if>
      <if test="serveId != null" >
        #{serveId},
      </if>
      <if test="serveName != null" >
        #{serveName},
      </if>
      <if test="orderType != null" >
        #{orderType},
      </if>
      <if test="taskType != null" >
        #{taskType},
      </if>
      <if test="priority != null" >
        #{priority},
      </if>
      <if test="startAt != null" >
        #{startAt},
      </if>
      <if test="interval != null" >
        #{interval},
      </if>
      <if test="timeUnit != null" >
        #{timeUnit},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM maintenance_task WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM maintenance_task
  </delete>


  <!-- START USER DEFINED -->
  <select id="countByCompanyId" resultType="java.lang.Integer">
    select count(1) from maintenance_task where isEnable = true and companyId = #{companyId}
  </select>
</mapper>