<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_equipment_equipment
  Comment  : 设备间关联关系
  Mapper   : com.welearn.mapper.ReEquipmentEquipmentMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/5/9 19:34:13
-->
<mapper namespace="com.welearn.mapper.ReEquipmentEquipmentMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    fromEquipmentId,
    toEquipmentId,
    relationName,
    relationCode
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_equipment_equipment.id AS id,
    re_equipment_equipment.createdAt AS createdAt,
    re_equipment_equipment.updatedAt AS updatedAt,
    re_equipment_equipment.isEnable AS isEnable,
    re_equipment_equipment.fromEquipmentId AS fromEquipmentId,
    re_equipment_equipment.toEquipmentId AS toEquipmentId,
    re_equipment_equipment.relationName AS relationName,
    re_equipment_equipment.relationCode AS relationCode
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.ReEquipmentEquipment" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 从某个设备id -->
    <result column="fromEquipmentId" property="fromEquipmentId"/>
    <!-- Comment: 到某个设备id -->
    <result column="toEquipmentId" property="toEquipmentId"/>
    <!-- Comment: 关系说明 -->
    <result column="relationName" property="relationName"/>
    <!-- Comment: 关系编码 -->
    <result column="relationCode" property="relationCode"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.ReEquipmentEquipment" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_equipment_equipment
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.ReEquipmentEquipment" parameterType="com.welearn.entity.qo.equipment.ReEquipmentEquipmentQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_equipment_equipment
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="fromEquipmentId != null" >
          AND fromEquipmentId = #{fromEquipmentId}
        </if>
        <if test="toEquipmentId != null" >
          AND toEquipmentId = #{toEquipmentId}
        </if>
        <if test="relationName != null" >
          AND relationName = #{relationName}
        </if>
        <if test="relationCode != null" >
          AND relationCode = #{relationCode}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.ReEquipmentEquipment" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_equipment_equipment
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_equipment_equipment
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.ReEquipmentEquipment" >
    UPDATE re_equipment_equipment
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      fromEquipmentId = #{fromEquipmentId},
      toEquipmentId = #{toEquipmentId},
      relationName = #{relationName},
      relationCode = #{relationCode},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.ReEquipmentEquipment" >
    UPDATE re_equipment_equipment
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="fromEquipmentId != null" >
        fromEquipmentId = #{fromEquipmentId},
      </if>
      <if test="toEquipmentId != null" >
        toEquipmentId = #{toEquipmentId},
      </if>
      <if test="relationName != null" >
        relationName = #{relationName},
      </if>
      <if test="relationCode != null" >
        relationCode = #{relationCode},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_equipment_equipment SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_equipment_equipment SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.ReEquipmentEquipment" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_equipment_equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      fromEquipmentId,
      toEquipmentId,
      relationName,
      relationCode,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{fromEquipmentId},
      #{toEquipmentId},
      #{relationName},
      #{relationCode},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.ReEquipmentEquipment" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_equipment_equipment 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="fromEquipmentId != null" >
        fromEquipmentId,
      </if>
      <if test="toEquipmentId != null" >
        toEquipmentId,
      </if>
      <if test="relationName != null" >
        relationName,
      </if>
      <if test="relationCode != null" >
        relationCode,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="fromEquipmentId != null" >
        #{fromEquipmentId},
      </if>
      <if test="toEquipmentId != null" >
        #{toEquipmentId},
      </if>
      <if test="relationName != null" >
        #{relationName},
      </if>
      <if test="relationCode != null" >
        #{relationCode},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_equipment_equipment WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_equipment_equipment
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>