<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : spare_part_type
  Comment  : 备件类型
  Mapper   : com.welearn.mapper.SparePartTypeMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/2/28 15:28:02
-->
<mapper namespace="com.welearn.mapper.SparePartTypeMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    specification,
    description,
    priceType,
    priceAvg,
    unit,
    picture,
    document,
    minCount,
    maxCount,
    inTransitInCount,
    inTransitOutCount,
    retailPurchases,
    consumption
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    spare_part_type.id AS id,
    spare_part_type.createdAt AS createdAt,
    spare_part_type.updatedAt AS updatedAt,
    spare_part_type.isEnable AS isEnable,
    spare_part_type.name AS name,
    spare_part_type.specification AS specification,
    spare_part_type.description AS description,
    spare_part_type.priceType AS priceType,
    spare_part_type.priceAvg AS priceAvg,
    spare_part_type.unit AS unit,
    spare_part_type.picture AS picture,
    spare_part_type.document AS document,
    spare_part_type.minCount AS minCount,
    spare_part_type.maxCount AS maxCount,
    spare_part_type.inTransitInCount AS inTransitInCount,
    spare_part_type.inTransitOutCount AS inTransitOutCount,
    spare_part_type.retailPurchases AS retailPurchases,
    spare_part_type.consumption AS consumption
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.SparePartType" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 规格 -->
    <result column="specification" property="specification"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 价格类型: 0-廉价配件 1-低价配件 2-高价配件 3-超额配件 -->
    <result column="priceType" property="priceType"/>
    <!-- Comment: 平均单价 -->
    <result column="priceAvg" property="priceAvg"/>
    <!-- Comment: 单位 -->
    <result column="unit" property="unit"/>
    <!-- Comment: 图片 -->
    <result column="picture" property="picture"/>
    <!-- Comment: 文档 -->
    <result column="document" property="document"/>
    <!-- Comment: 最小库存数量(低于报警) 0-不限制 -->
    <result column="minCount" property="minCount"/>
    <!-- Comment: 最大库存数量(高于报警) 0-不限制 -->
    <result column="maxCount" property="maxCount"/>
    <!-- Comment: 在途入库数量(内含数量 表示将有货物运进来) -->
    <result column="inTransitInCount" property="inTransitInCount"/>
    <!-- Comment: 在途出库数量(内含数量 表示将有货物运出去) -->
    <result column="inTransitOutCount" property="inTransitOutCount"/>
    <!-- Comment: 进货量 -->
    <result column="retailPurchases" property="retailPurchases"/>
    <!-- Comment: 消耗量 -->
    <result column="consumption" property="consumption"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.SparePartType" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part_type
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.SparePartType" parameterType="com.welearn.entity.qo.equipment.SparePartTypeQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part_type
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="specification != null" >
          AND specification = #{specification}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <if test="priceType != null" >
          AND priceType = #{priceType}
        </if>
        <if test="priceAvg != null" >
          AND priceAvg = #{priceAvg}
        </if>
        <if test="unit != null" >
          AND unit = #{unit}
        </if>
        <if test="picture != null" >
          AND picture = #{picture}
        </if>
        <if test="document != null" >
          AND document = #{document}
        </if>
        <if test="minCount != null" >
          AND minCount = #{minCount}
        </if>
        <if test="maxCount != null" >
          AND maxCount = #{maxCount}
        </if>
        <if test="inTransitInCount != null" >
          AND inTransitInCount = #{inTransitInCount}
        </if>
        <if test="inTransitOutCount != null" >
          AND inTransitOutCount = #{inTransitOutCount}
        </if>
        <if test="retailPurchases != null" >
          AND retailPurchases = #{retailPurchases}
        </if>
        <if test="consumption != null" >
          AND consumption = #{consumption}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.SparePartType" >
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part_type
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM spare_part_type
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.SparePartType" >
    UPDATE spare_part_type
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      specification = #{specification},
      description = #{description},
      priceType = #{priceType},
      priceAvg = #{priceAvg},
      unit = #{unit},
      picture = #{picture},
      document = #{document},
      minCount = #{minCount},
      maxCount = #{maxCount},
      inTransitInCount = #{inTransitInCount},
      inTransitOutCount = #{inTransitOutCount},
      retailPurchases = #{retailPurchases},
      consumption = #{consumption},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.SparePartType" >
    UPDATE spare_part_type
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="specification != null" >
        specification = #{specification},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="priceType != null" >
        priceType = #{priceType},
      </if>
      <if test="priceAvg != null" >
        priceAvg = #{priceAvg},
      </if>
      <if test="unit != null" >
        unit = #{unit},
      </if>
      <if test="picture != null" >
        picture = #{picture},
      </if>
      <if test="document != null" >
        document = #{document},
      </if>
      <if test="minCount != null" >
        minCount = #{minCount},
      </if>
      <if test="maxCount != null" >
        maxCount = #{maxCount},
      </if>
      <if test="inTransitInCount != null" >
        inTransitInCount = #{inTransitInCount},
      </if>
      <if test="inTransitOutCount != null" >
        inTransitOutCount = #{inTransitOutCount},
      </if>
      <if test="retailPurchases != null" >
        retailPurchases = #{retailPurchases},
      </if>
      <if test="consumption != null" >
        consumption = #{consumption},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE spare_part_type SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE spare_part_type SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.SparePartType" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO spare_part_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      specification,
      description,
      priceType,
      priceAvg,
      unit,
      picture,
      document,
      minCount,
      maxCount,
      inTransitInCount,
      inTransitOutCount,
      retailPurchases,
      consumption,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{specification},
      #{description},
      #{priceType},
      #{priceAvg},
      #{unit},
      #{picture},
      #{document},
      #{minCount},
      #{maxCount},
      #{inTransitInCount},
      #{inTransitOutCount},
      #{retailPurchases},
      #{consumption},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.SparePartType" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO spare_part_type 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="priceType != null" >
        priceType,
      </if>
      <if test="priceAvg != null" >
        priceAvg,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="document != null" >
        document,
      </if>
      <if test="minCount != null" >
        minCount,
      </if>
      <if test="maxCount != null" >
        maxCount,
      </if>
      <if test="inTransitInCount != null" >
        inTransitInCount,
      </if>
      <if test="inTransitOutCount != null" >
        inTransitOutCount,
      </if>
      <if test="retailPurchases != null" >
        retailPurchases,
      </if>
      <if test="consumption != null" >
        consumption,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="specification != null" >
        #{specification},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="priceType != null" >
        #{priceType},
      </if>
      <if test="priceAvg != null" >
        #{priceAvg},
      </if>
      <if test="unit != null" >
        #{unit},
      </if>
      <if test="picture != null" >
        #{picture},
      </if>
      <if test="document != null" >
        #{document},
      </if>
      <if test="minCount != null" >
        #{minCount},
      </if>
      <if test="maxCount != null" >
        #{maxCount},
      </if>
      <if test="inTransitInCount != null" >
        #{inTransitInCount},
      </if>
      <if test="inTransitOutCount != null" >
        #{inTransitOutCount},
      </if>
      <if test="retailPurchases != null" >
        #{retailPurchases},
      </if>
      <if test="consumption != null" >
        #{consumption},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM spare_part_type WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM spare_part_type
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>