<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : spare_part_in_bill
  Comment  : 配件入库单
  Mapper   : com.welearn.mapper.SparePartInBillMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/1 15:16:19
-->
<mapper namespace="com.welearn.mapper.SparePartInBillMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    outlook,
    origin,
    applyId,
    status,
    senderId,
    senderName,
    senderDepartmentId,
    senderDepartmentName,
    senderCompanyId,
    senderCompanyName,
    sumCount,
    sumPrice,
    sumPriceChinese,
    approverId,
    approverName,
    approverSignatureId,
    approverDepartmentId,
    approverDepartmentName,
    approverCompanyId,
    approverCompanyName,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    spare_part_in_bill.id AS id,
    spare_part_in_bill.createdAt AS createdAt,
    spare_part_in_bill.updatedAt AS updatedAt,
    spare_part_in_bill.isEnable AS isEnable,
    spare_part_in_bill.outlook AS outlook,
    spare_part_in_bill.origin AS origin,
    spare_part_in_bill.applyId AS applyId,
    spare_part_in_bill.status AS status,
    spare_part_in_bill.senderId AS senderId,
    spare_part_in_bill.senderName AS senderName,
    spare_part_in_bill.senderDepartmentId AS senderDepartmentId,
    spare_part_in_bill.senderDepartmentName AS senderDepartmentName,
    spare_part_in_bill.senderCompanyId AS senderCompanyId,
    spare_part_in_bill.senderCompanyName AS senderCompanyName,
    spare_part_in_bill.sumCount AS sumCount,
    spare_part_in_bill.sumPrice AS sumPrice,
    spare_part_in_bill.sumPriceChinese AS sumPriceChinese,
    spare_part_in_bill.approverId AS approverId,
    spare_part_in_bill.approverName AS approverName,
    spare_part_in_bill.approverSignatureId AS approverSignatureId,
    spare_part_in_bill.approverDepartmentId AS approverDepartmentId,
    spare_part_in_bill.approverDepartmentName AS approverDepartmentName,
    spare_part_in_bill.approverCompanyId AS approverCompanyId,
    spare_part_in_bill.approverCompanyName AS approverCompanyName,
    spare_part_in_bill.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.SparePartInBill" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 入库简述 -->
    <result column="outlook" property="outlook"/>
    <!-- Comment: 来源:0-原厂备件 1-采购配件 2-回收配件 -->
    <result column="origin" property="origin"/>
    <!-- Comment: 申请id -->
    <result column="applyId" property="applyId"/>
    <!-- Comment: 状态: 0-待入库 1-已入库 2-已取消 -->
    <result column="status" property="status"/>
    <!-- Comment: 送货人id -->
    <result column="senderId" property="senderId"/>
    <!-- Comment: 送货人名称 -->
    <result column="senderName" property="senderName"/>
    <!-- Comment: 送货方部门id -->
    <result column="senderDepartmentId" property="senderDepartmentId"/>
    <!-- Comment: 送货方部门名称 -->
    <result column="senderDepartmentName" property="senderDepartmentName"/>
    <!-- Comment: 送货方公司id -->
    <result column="senderCompanyId" property="senderCompanyId"/>
    <!-- Comment: 送货方公司名称 -->
    <result column="senderCompanyName" property="senderCompanyName"/>
    <!-- Comment: 总数量 -->
    <result column="sumCount" property="sumCount"/>
    <!-- Comment: 总金额(小写) -->
    <result column="sumPrice" property="sumPrice"/>
    <!-- Comment: 总金额(大写) -->
    <result column="sumPriceChinese" property="sumPriceChinese"/>
    <!-- Comment: 核验人id -->
    <result column="approverId" property="approverId"/>
    <!-- Comment: 核验人名称 -->
    <result column="approverName" property="approverName"/>
    <!-- Comment: 核验人签名id -->
    <result column="approverSignatureId" property="approverSignatureId"/>
    <!-- Comment: 库存方部门id -->
    <result column="approverDepartmentId" property="approverDepartmentId"/>
    <!-- Comment: 库存方部门名称 -->
    <result column="approverDepartmentName" property="approverDepartmentName"/>
    <!-- Comment: 库存方公司id -->
    <result column="approverCompanyId" property="approverCompanyId"/>
    <!-- Comment: 库存方公司名称 -->
    <result column="approverCompanyName" property="approverCompanyName"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.SparePartInBill" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part_in_bill
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.SparePartInBill" parameterType="com.welearn.entity.qo.equipment.SparePartInBillQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part_in_bill
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="outlook != null" >
          AND outlook = #{outlook}
        </if>
        <if test="origin != null" >
          AND origin = #{origin}
        </if>
        <if test="applyId != null" >
          AND applyId = #{applyId}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <if test="senderId != null" >
          AND senderId = #{senderId}
        </if>
        <if test="senderName != null" >
          AND senderName = #{senderName}
        </if>
        <if test="senderDepartmentId != null" >
          AND senderDepartmentId = #{senderDepartmentId}
        </if>
        <if test="senderDepartmentName != null" >
          AND senderDepartmentName = #{senderDepartmentName}
        </if>
        <if test="senderCompanyId != null" >
          AND senderCompanyId = #{senderCompanyId}
        </if>
        <if test="senderCompanyName != null" >
          AND senderCompanyName = #{senderCompanyName}
        </if>
        <if test="sumCount != null" >
          AND sumCount = #{sumCount}
        </if>
        <if test="sumPrice != null" >
          AND sumPrice = #{sumPrice}
        </if>
        <if test="sumPriceChinese != null" >
          AND sumPriceChinese = #{sumPriceChinese}
        </if>
        <if test="approverId != null" >
          AND approverId = #{approverId}
        </if>
        <if test="approverName != null" >
          AND approverName = #{approverName}
        </if>
        <if test="approverSignatureId != null" >
          AND approverSignatureId = #{approverSignatureId}
        </if>
        <if test="approverDepartmentId != null" >
          AND approverDepartmentId = #{approverDepartmentId}
        </if>
        <if test="approverDepartmentName != null" >
          AND approverDepartmentName = #{approverDepartmentName}
        </if>
        <if test="approverCompanyId != null" >
          AND approverCompanyId = #{approverCompanyId}
        </if>
        <if test="approverCompanyName != null" >
          AND approverCompanyName = #{approverCompanyName}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.SparePartInBill" >
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part_in_bill
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM spare_part_in_bill
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.SparePartInBill" >
    UPDATE spare_part_in_bill
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      outlook = #{outlook},
      origin = #{origin},
      applyId = #{applyId},
      status = #{status},
      senderId = #{senderId},
      senderName = #{senderName},
      senderDepartmentId = #{senderDepartmentId},
      senderDepartmentName = #{senderDepartmentName},
      senderCompanyId = #{senderCompanyId},
      senderCompanyName = #{senderCompanyName},
      sumCount = #{sumCount},
      sumPrice = #{sumPrice},
      sumPriceChinese = #{sumPriceChinese},
      approverId = #{approverId},
      approverName = #{approverName},
      approverSignatureId = #{approverSignatureId},
      approverDepartmentId = #{approverDepartmentId},
      approverDepartmentName = #{approverDepartmentName},
      approverCompanyId = #{approverCompanyId},
      approverCompanyName = #{approverCompanyName},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.SparePartInBill" >
    UPDATE spare_part_in_bill
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="outlook != null" >
        outlook = #{outlook},
      </if>
      <if test="origin != null" >
        origin = #{origin},
      </if>
      <if test="applyId != null" >
        applyId = #{applyId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="senderId != null" >
        senderId = #{senderId},
      </if>
      <if test="senderName != null" >
        senderName = #{senderName},
      </if>
      <if test="senderDepartmentId != null" >
        senderDepartmentId = #{senderDepartmentId},
      </if>
      <if test="senderDepartmentName != null" >
        senderDepartmentName = #{senderDepartmentName},
      </if>
      <if test="senderCompanyId != null" >
        senderCompanyId = #{senderCompanyId},
      </if>
      <if test="senderCompanyName != null" >
        senderCompanyName = #{senderCompanyName},
      </if>
      <if test="sumCount != null" >
        sumCount = #{sumCount},
      </if>
      <if test="sumPrice != null" >
        sumPrice = #{sumPrice},
      </if>
      <if test="sumPriceChinese != null" >
        sumPriceChinese = #{sumPriceChinese},
      </if>
      <if test="approverId != null" >
        approverId = #{approverId},
      </if>
      <if test="approverName != null" >
        approverName = #{approverName},
      </if>
      <if test="approverSignatureId != null" >
        approverSignatureId = #{approverSignatureId},
      </if>
      <if test="approverDepartmentId != null" >
        approverDepartmentId = #{approverDepartmentId},
      </if>
      <if test="approverDepartmentName != null" >
        approverDepartmentName = #{approverDepartmentName},
      </if>
      <if test="approverCompanyId != null" >
        approverCompanyId = #{approverCompanyId},
      </if>
      <if test="approverCompanyName != null" >
        approverCompanyName = #{approverCompanyName},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE spare_part_in_bill SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE spare_part_in_bill SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.SparePartInBill" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO spare_part_in_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      outlook,
      origin,
      applyId,
      status,
      senderId,
      senderName,
      senderDepartmentId,
      senderDepartmentName,
      senderCompanyId,
      senderCompanyName,
      sumCount,
      sumPrice,
      sumPriceChinese,
      approverId,
      approverName,
      approverSignatureId,
      approverDepartmentId,
      approverDepartmentName,
      approverCompanyId,
      approverCompanyName,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{outlook},
      #{origin},
      #{applyId},
      #{status},
      #{senderId},
      #{senderName},
      #{senderDepartmentId},
      #{senderDepartmentName},
      #{senderCompanyId},
      #{senderCompanyName},
      #{sumCount},
      #{sumPrice},
      #{sumPriceChinese},
      #{approverId},
      #{approverName},
      #{approverSignatureId},
      #{approverDepartmentId},
      #{approverDepartmentName},
      #{approverCompanyId},
      #{approverCompanyName},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.SparePartInBill" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO spare_part_in_bill 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="outlook != null" >
        outlook,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="applyId != null" >
        applyId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="senderId != null" >
        senderId,
      </if>
      <if test="senderName != null" >
        senderName,
      </if>
      <if test="senderDepartmentId != null" >
        senderDepartmentId,
      </if>
      <if test="senderDepartmentName != null" >
        senderDepartmentName,
      </if>
      <if test="senderCompanyId != null" >
        senderCompanyId,
      </if>
      <if test="senderCompanyName != null" >
        senderCompanyName,
      </if>
      <if test="sumCount != null" >
        sumCount,
      </if>
      <if test="sumPrice != null" >
        sumPrice,
      </if>
      <if test="sumPriceChinese != null" >
        sumPriceChinese,
      </if>
      <if test="approverId != null" >
        approverId,
      </if>
      <if test="approverName != null" >
        approverName,
      </if>
      <if test="approverSignatureId != null" >
        approverSignatureId,
      </if>
      <if test="approverDepartmentId != null" >
        approverDepartmentId,
      </if>
      <if test="approverDepartmentName != null" >
        approverDepartmentName,
      </if>
      <if test="approverCompanyId != null" >
        approverCompanyId,
      </if>
      <if test="approverCompanyName != null" >
        approverCompanyName,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="outlook != null" >
        #{outlook},
      </if>
      <if test="origin != null" >
        #{origin},
      </if>
      <if test="applyId != null" >
        #{applyId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="senderId != null" >
        #{senderId},
      </if>
      <if test="senderName != null" >
        #{senderName},
      </if>
      <if test="senderDepartmentId != null" >
        #{senderDepartmentId},
      </if>
      <if test="senderDepartmentName != null" >
        #{senderDepartmentName},
      </if>
      <if test="senderCompanyId != null" >
        #{senderCompanyId},
      </if>
      <if test="senderCompanyName != null" >
        #{senderCompanyName},
      </if>
      <if test="sumCount != null" >
        #{sumCount},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice},
      </if>
      <if test="sumPriceChinese != null" >
        #{sumPriceChinese},
      </if>
      <if test="approverId != null" >
        #{approverId},
      </if>
      <if test="approverName != null" >
        #{approverName},
      </if>
      <if test="approverSignatureId != null" >
        #{approverSignatureId},
      </if>
      <if test="approverDepartmentId != null" >
        #{approverDepartmentId},
      </if>
      <if test="approverDepartmentName != null" >
        #{approverDepartmentName},
      </if>
      <if test="approverCompanyId != null" >
        #{approverCompanyId},
      </if>
      <if test="approverCompanyName != null" >
        #{approverCompanyName},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM spare_part_in_bill WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM spare_part_in_bill
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>