<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : spare_part
  Comment  : 备件库存(按批次存储)
  Mapper   : com.welearn.mapper.SparePartMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/3/1 20:15:09
-->
<mapper namespace="com.welearn.mapper.SparePartMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    origin,
    typeId,
    equipmentId,
    price,
    count,
    remain,
    inTransitOutCount,
    manufacturerName,
    model,
    timeCost,
    serviceLife,
    procurementId,
    supplierId,
    maintenanceEngineerId,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    spare_part.id AS id,
    spare_part.createdAt AS createdAt,
    spare_part.updatedAt AS updatedAt,
    spare_part.isEnable AS isEnable,
    spare_part.origin AS origin,
    spare_part.typeId AS typeId,
    spare_part.equipmentId AS equipmentId,
    spare_part.price AS price,
    spare_part.count AS count,
    spare_part.remain AS remain,
    spare_part.inTransitOutCount AS inTransitOutCount,
    spare_part.manufacturerName AS manufacturerName,
    spare_part.model AS model,
    spare_part.timeCost AS timeCost,
    spare_part.serviceLife AS serviceLife,
    spare_part.procurementId AS procurementId,
    spare_part.supplierId AS supplierId,
    spare_part.maintenanceEngineerId AS maintenanceEngineerId,
    spare_part.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.SparePart" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 来源:0-原厂备件 1-采购配件 2-回收配件 -->
    <result column="origin" property="origin"/>
    <!-- Comment: 类型id -->
    <result column="typeId" property="typeId"/>
    <!-- Comment: 来源为原厂备件时表明属于哪个设备 -->
    <result column="equipmentId" property="equipmentId"/>
    <!-- Comment: 单价 -->
    <result column="price" property="price"/>
    <!-- Comment: 总量 -->
    <result column="count" property="count"/>
    <!-- Comment: 余量 -->
    <result column="remain" property="remain"/>
    <!-- Comment: 在途出库数量(内含数量 表示将有货物运出去) -->
    <result column="inTransitOutCount" property="inTransitOutCount"/>
    <!-- Comment: 生产厂商名称 -->
    <result column="manufacturerName" property="manufacturerName"/>
    <!-- Comment: 型号 -->
    <result column="model" property="model"/>
    <!-- Comment: 采购耗时(小时) -->
    <result column="timeCost" property="timeCost"/>
    <!-- Comment: 使用寿命长短(0-10) -->
    <result column="serviceLife" property="serviceLife"/>
    <!-- Comment: 采购项目id -->
    <result column="procurementId" property="procurementId"/>
    <!-- Comment: 供应商id -->
    <result column="supplierId" property="supplierId"/>
    <!-- Comment: 回收维修工程师id -->
    <result column="maintenanceEngineerId" property="maintenanceEngineerId"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.SparePart" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.SparePart" parameterType="com.welearn.entity.qo.equipment.SparePartQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="origin != null" >
          AND origin = #{origin}
        </if>
        <if test="typeId != null" >
          AND typeId = #{typeId}
        </if>
        <if test="equipmentId != null" >
          AND equipmentId = #{equipmentId}
        </if>
        <if test="price != null" >
          AND price = #{price}
        </if>
        <if test="count != null" >
          AND count = #{count}
        </if>
        <if test="remain != null" >
          AND remain = #{remain}
        </if>
        <if test="inTransitOutCount != null" >
          AND inTransitOutCount = #{inTransitOutCount}
        </if>
        <if test="manufacturerName != null" >
          AND manufacturerName = #{manufacturerName}
        </if>
        <if test="model != null" >
          AND model = #{model}
        </if>
        <if test="timeCost != null" >
          AND timeCost = #{timeCost}
        </if>
        <if test="serviceLife != null" >
          AND serviceLife = #{serviceLife}
        </if>
        <if test="procurementId != null" >
          AND procurementId = #{procurementId}
        </if>
        <if test="supplierId != null" >
          AND supplierId = #{supplierId}
        </if>
        <if test="maintenanceEngineerId != null" >
          AND maintenanceEngineerId = #{maintenanceEngineerId}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.SparePart" >
    SELECT
      <include refid="sqlColumns"/>
    FROM spare_part
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM spare_part
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.SparePart" >
    UPDATE spare_part
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      origin = #{origin},
      typeId = #{typeId},
      equipmentId = #{equipmentId},
      price = #{price},
      count = #{count},
      remain = #{remain},
      inTransitOutCount = #{inTransitOutCount},
      manufacturerName = #{manufacturerName},
      model = #{model},
      timeCost = #{timeCost},
      serviceLife = #{serviceLife},
      procurementId = #{procurementId},
      supplierId = #{supplierId},
      maintenanceEngineerId = #{maintenanceEngineerId},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.SparePart" >
    UPDATE spare_part
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="origin != null" >
        origin = #{origin},
      </if>
      <if test="typeId != null" >
        typeId = #{typeId},
      </if>
      <if test="equipmentId != null" >
        equipmentId = #{equipmentId},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
      <if test="count != null" >
        count = #{count},
      </if>
      <if test="remain != null" >
        remain = #{remain},
      </if>
      <if test="inTransitOutCount != null" >
        inTransitOutCount = #{inTransitOutCount},
      </if>
      <if test="manufacturerName != null" >
        manufacturerName = #{manufacturerName},
      </if>
      <if test="model != null" >
        model = #{model},
      </if>
      <if test="timeCost != null" >
        timeCost = #{timeCost},
      </if>
      <if test="serviceLife != null" >
        serviceLife = #{serviceLife},
      </if>
      <if test="procurementId != null" >
        procurementId = #{procurementId},
      </if>
      <if test="supplierId != null" >
        supplierId = #{supplierId},
      </if>
      <if test="maintenanceEngineerId != null" >
        maintenanceEngineerId = #{maintenanceEngineerId},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE spare_part SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE spare_part SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.SparePart" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO spare_part
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      origin,
      typeId,
      equipmentId,
      price,
      count,
      remain,
      inTransitOutCount,
      manufacturerName,
      model,
      timeCost,
      serviceLife,
      procurementId,
      supplierId,
      maintenanceEngineerId,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{origin},
      #{typeId},
      #{equipmentId},
      #{price},
      #{count},
      #{remain},
      #{inTransitOutCount},
      #{manufacturerName},
      #{model},
      #{timeCost},
      #{serviceLife},
      #{procurementId},
      #{supplierId},
      #{maintenanceEngineerId},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.SparePart" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO spare_part 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="typeId != null" >
        typeId,
      </if>
      <if test="equipmentId != null" >
        equipmentId,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="remain != null" >
        remain,
      </if>
      <if test="inTransitOutCount != null" >
        inTransitOutCount,
      </if>
      <if test="manufacturerName != null" >
        manufacturerName,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="timeCost != null" >
        timeCost,
      </if>
      <if test="serviceLife != null" >
        serviceLife,
      </if>
      <if test="procurementId != null" >
        procurementId,
      </if>
      <if test="supplierId != null" >
        supplierId,
      </if>
      <if test="maintenanceEngineerId != null" >
        maintenanceEngineerId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="origin != null" >
        #{origin},
      </if>
      <if test="typeId != null" >
        #{typeId},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="count != null" >
        #{count},
      </if>
      <if test="remain != null" >
        #{remain},
      </if>
      <if test="inTransitOutCount != null" >
        #{inTransitOutCount},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName},
      </if>
      <if test="model != null" >
        #{model},
      </if>
      <if test="timeCost != null" >
        #{timeCost},
      </if>
      <if test="serviceLife != null" >
        #{serviceLife},
      </if>
      <if test="procurementId != null" >
        #{procurementId},
      </if>
      <if test="supplierId != null" >
        #{supplierId},
      </if>
      <if test="maintenanceEngineerId != null" >
        #{maintenanceEngineerId},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM spare_part WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM spare_part
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>