<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : task_assignment
  Comment  : 维护任务分配
  Mapper   : com.welearn.mapper.TaskAssignmentMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/1/10 14:19:25
-->
<mapper namespace="com.welearn.mapper.TaskAssignmentMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    equipmentId,
    equipmentDescription,
    equipmentPosition,
    taskType,
    taskId,
    engineerId,
    engineerName,
    priority,
    status,
    recordId,
    companyId,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    task_assignment.id AS id,
    task_assignment.createdAt AS createdAt,
    task_assignment.updatedAt AS updatedAt,
    task_assignment.isEnable AS isEnable,
    task_assignment.equipmentId AS equipmentId,
    task_assignment.equipmentDescription AS equipmentDescription,
    task_assignment.equipmentPosition AS equipmentPosition,
    task_assignment.taskType AS taskType,
    task_assignment.taskId AS taskId,
    task_assignment.engineerId AS engineerId,
    task_assignment.engineerName AS engineerName,
    task_assignment.priority AS priority,
    task_assignment.status AS status,
    task_assignment.recordId AS recordId,
    task_assignment.companyId AS companyId,
    task_assignment.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.equipment.TaskAssignment" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 维护设备id -->
    <result column="equipmentId" property="equipmentId"/>
    <!-- Comment: 维护设备描述 -->
    <result column="equipmentDescription" property="equipmentDescription"/>
    <!-- Comment: 维护设备位置 -->
    <result column="equipmentPosition" property="equipmentPosition"/>
    <!-- Comment: 维护计划类型: 0-预防性维护 1-定期保养 -->
    <result column="taskType" property="taskType"/>
    <!-- Comment: 维护任务id -->
    <result column="taskId" property="taskId"/>
    <!-- Comment: 维护人员id -->
    <result column="engineerId" property="engineerId"/>
    <!-- Comment: 维护人员名称 -->
    <result column="engineerName" property="engineerName"/>
    <!-- Comment: 处理优先级(任务优先级决定基础高度, 催促或延期执行后, 处理优先级会在基础值上升高) -->
    <result column="priority" property="priority"/>
    <!-- Comment: 任务状态: 0-待领取 1-待处理 2-处理中 3-已处理 4-已取消 -->
    <result column="status" property="status"/>
    <!-- Comment: 维护记录id -->
    <result column="recordId" property="recordId"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.equipment.TaskAssignment" parameterType="java.lang.String">
    SELECT
    <include refid="sqlColumns"/>
    FROM task_assignment
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.equipment.TaskAssignment" parameterType="com.welearn.entity.qo.equipment.TaskAssignmentQueryCondition" >
    SELECT
    <include refid="sqlColumns"/>
    FROM task_assignment
    <where>
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="createdAt != null" >
        AND createdAt = #{createdAt}
      </if>
      <if test="createdAtEnd != null" >
        AND #{createdAtEnd} > createdAt
      </if>
      <if test="createdAtStart != null" >
        AND createdAt >= #{createdAtStart}
      </if>
      <if test="updatedAt != null" >
        AND updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND isEnable = #{isEnable}
      </if>
      <if test="equipmentId != null" >
        AND equipmentId = #{equipmentId}
      </if>
      <if test="equipmentDescription != null" >
        AND equipmentDescription = #{equipmentDescription}
      </if>
      <if test="equipmentPosition != null" >
        AND equipmentPosition = #{equipmentPosition}
      </if>
      <if test="taskType != null" >
        AND taskType = #{taskType}
      </if>
      <if test="taskId != null" >
        AND taskId = #{taskId}
      </if>
      <if test="engineerId != null" >
        AND engineerId = #{engineerId}
      </if>
      <if test="engineerName != null" >
        AND engineerName = #{engineerName}
      </if>
      <if test="priority != null" >
        AND priority = #{priority}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="recordId != null" >
        AND recordId = #{recordId}
      </if>
      <if test="companyId != null" >
        AND companyId = #{companyId}
      </if>
      <if test="remark != null" >
        AND remark = #{remark}
      </if>
      <!-- START USER DEFINED -->

      <if test="statusLessThan != null" >
        AND #{statusLessThan} > status
      </if>
      <if test="statusGreaterThan != null" >
        AND status > #{statusGreaterThan}
      </if>

      <!-- End USER DEFINED -->
    </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.equipment.TaskAssignment" >
    SELECT
    <include refid="sqlColumns"/>
    FROM task_assignment
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM task_assignment
  </select>

  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.equipment.TaskAssignment" >
    UPDATE task_assignment
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      equipmentId = #{equipmentId},
      equipmentDescription = #{equipmentDescription},
      equipmentPosition = #{equipmentPosition},
      taskType = #{taskType},
      taskId = #{taskId},
      engineerId = #{engineerId},
      engineerName = #{engineerName},
      priority = #{priority},
      status = #{status},
      recordId = #{recordId},
      companyId = #{companyId},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.equipment.TaskAssignment" >
    UPDATE task_assignment
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="equipmentId != null" >
        equipmentId = #{equipmentId},
      </if>
      <if test="equipmentDescription != null" >
        equipmentDescription = #{equipmentDescription},
      </if>
      <if test="equipmentPosition != null" >
        equipmentPosition = #{equipmentPosition},
      </if>
      <if test="taskType != null" >
        taskType = #{taskType},
      </if>
      <if test="taskId != null" >
        taskId = #{taskId},
      </if>
      <if test="engineerId != null" >
        engineerId = #{engineerId},
      </if>
      <if test="engineerName != null" >
        engineerName = #{engineerName},
      </if>
      <if test="priority != null" >
        priority = #{priority},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="recordId != null" >
        recordId = #{recordId},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE task_assignment SET isEnable = TRUE WHERE id = #{id}
  </update>

  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE task_assignment SET isEnable = FALSE WHERE id = #{id}
  </update>

  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.equipment.TaskAssignment" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO task_assignment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      equipmentId,
      equipmentDescription,
      equipmentPosition,
      taskType,
      taskId,
      engineerId,
      engineerName,
      priority,
      status,
      recordId,
      companyId,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{equipmentId},
      #{equipmentDescription},
      #{equipmentPosition},
      #{taskType},
      #{taskId},
      #{engineerId},
      #{engineerName},
      #{priority},
      #{status},
      #{recordId},
      #{companyId},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.equipment.TaskAssignment" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO task_assignment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="equipmentId != null" >
        equipmentId,
      </if>
      <if test="equipmentDescription != null" >
        equipmentDescription,
      </if>
      <if test="equipmentPosition != null" >
        equipmentPosition,
      </if>
      <if test="taskType != null" >
        taskType,
      </if>
      <if test="taskId != null" >
        taskId,
      </if>
      <if test="engineerId != null" >
        engineerId,
      </if>
      <if test="engineerName != null" >
        engineerName,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="recordId != null" >
        recordId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId},
      </if>
      <if test="equipmentDescription != null" >
        #{equipmentDescription},
      </if>
      <if test="equipmentPosition != null" >
        #{equipmentPosition},
      </if>
      <if test="taskType != null" >
        #{taskType},
      </if>
      <if test="taskId != null" >
        #{taskId},
      </if>
      <if test="engineerId != null" >
        #{engineerId},
      </if>
      <if test="engineerName != null" >
        #{engineerName},
      </if>
      <if test="priority != null" >
        #{priority},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="recordId != null" >
        #{recordId},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>

  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM task_assignment WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM task_assignment
  </delete>

  <!-- START USER DEFINED -->
  <select id="searchInfo" resultType="com.welearn.entity.vo.response.equipment.TaskAssignmentInfo" parameterType="com.welearn.entity.qo.equipment.TaskAssignmentQueryCondition">
    SELECT
      ts.*, mt.name as taskName, mt.description as taskDescription, mt.orderType, mt.serveId, mt.serveType
    FROM task_assignment ts
    <if test="userId != null" >
      join engineer e on e.id = ts.engineerId and e.isEnable = true and e.userId = #{userId}
    </if>
    join maintenance_task mt on ts.taskId = mt.id
      <if test="serveId != null" >
        and mt.serveId = #{serveId}
      </if>
      <if test="serveType != null" >
        AND mt.serveType = #{serveType}
      </if>
      <if test="orderType != null" >
        AND mt.orderType = #{orderType}
      </if>
    <where>
      <if test="id != null" >
        ts.id = #{id}
      </if>
      <if test="createdAt != null" >
        AND ts.createdAt = #{createdAt}
      </if>
      <if test="createdAtEnd != null" >
        AND #{createdAtEnd} > ts.createdAt
      </if>
      <if test="createdAtStart != null" >
        AND ts.createdAt >= #{createdAtStart}
      </if>
      <if test="updatedAt != null" >
        AND ts.updatedAt = #{updatedAt}
      </if>
      <if test="isEnable != null" >
        AND ts.isEnable = #{isEnable}
      </if>
      <if test="equipmentId != null" >
        AND ts.equipmentId = #{equipmentId}
      </if>
      <if test="taskId != null" >
        AND ts.taskId = #{taskId}
      </if>
      <if test="engineerId != null" >
        AND ts.engineerId = #{engineerId}
      </if>
      <if test="priority != null" >
        AND ts.priority = #{priority}
      </if>
      <if test="status != null" >
        AND ts.status = #{status}
      </if>
      <if test="recordId != null" >
        AND ts.recordId = #{recordId}
      </if>
    </where>
    ORDER BY ts.createdAt DESC, ts.updatedAt DESC
  </select>
  <select id="taskAssignmentStatistic" resultType="com.welearn.entity.dto.equipment.TaskAssignmentStatistic">
    select ta.id, ta.status, ta.createdAt, ta.priority, mt.priority as taskPriority
    from task_assignment ta
    join maintenance_task mt on mt.id = ta.taskId and mt.isEnable = true
    where ta.createdAt >= #{startAt} and ta.companyId = #{companyId} and ta.isEnable = true
  </select>
</mapper>