<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : export_template
  Comment  : 导出模板
  Mapper   : com.welearn.mapper.ExportTemplateMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/6/11 11:39:04
-->
<mapper namespace="com.welearn.mapper.ExportTemplateMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    isDefault,
    isSystem,
    name,
    type,
    file,
    argsFormatJson,
    fileSuffix,
    companyId,
    companyName,
    departmentId,
    departmentName,
    creatorId,
    creatorName,
    remark
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    export_template.id AS id,
    export_template.createdAt AS createdAt,
    export_template.updatedAt AS updatedAt,
    export_template.isEnable AS isEnable,
    export_template.isDefault AS isDefault,
    export_template.isSystem AS isSystem,
    export_template.name AS name,
    export_template.type AS type,
    export_template.file AS file,
    export_template.argsFormatJson AS argsFormatJson,
    export_template.fileSuffix AS fileSuffix,
    export_template.companyId AS companyId,
    export_template.companyName AS companyName,
    export_template.departmentId AS departmentId,
    export_template.departmentName AS departmentName,
    export_template.creatorId AS creatorId,
    export_template.creatorName AS creatorName,
    export_template.remark AS remark
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.export.ExportTemplate" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 是否默认模板：0-非默认，1-默认 -->
    <result column="isDefault" property="isDefault"/>
    <!-- Comment: 是否系统模板：0-用户模板，1-系统模板 -->
    <result column="isSystem" property="isSystem"/>
    <!-- Comment: 模板名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 模板类型: USER_DEFINED-用户定义 ... -->
    <result column="type" property="type"/>
    <!-- Comment: 模板文件内容 -->
    <result column="file" property="file"/>
    <!-- Comment: 模板参数格式 JSON格式存储 -->
    <result column="argsFormatJson" property="argsFormatJson"/>
    <!-- Comment: 文件后缀 -->
    <result column="fileSuffix" property="fileSuffix"/>
    <!-- Comment: 所属公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 所属公司名称 -->
    <result column="companyName" property="companyName"/>
    <!-- Comment: 所属部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 所属部门名称 -->
    <result column="departmentName" property="departmentName"/>
    <!-- Comment: 创建人id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 创建人名称 -->
    <result column="creatorName" property="creatorName"/>
    <!-- Comment: 备注 -->
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.export.ExportTemplate" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM export_template
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.export.ExportTemplate" parameterType="com.welearn.entity.qo.export.ExportTemplateQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM export_template
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="isDefault != null" >
          AND isDefault = #{isDefault}
        </if>
        <if test="isSystem != null" >
          AND isSystem = #{isSystem}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="type != null" >
          AND type = #{type}
        </if>
        <if test="file != null" >
          AND file = #{file}
        </if>
        <if test="argsFormatJson != null" >
          AND argsFormatJson = #{argsFormatJson}
        </if>
        <if test="fileSuffix != null" >
          AND fileSuffix = #{fileSuffix}
        </if>
        <if test="companyId != null" >
          AND companyId = #{companyId}
        </if>
        <if test="companyName != null" >
          AND companyName = #{companyName}
        </if>
        <if test="departmentId != null" >
          AND departmentId = #{departmentId}
        </if>
        <if test="departmentName != null" >
          AND departmentName = #{departmentName}
        </if>
        <if test="creatorId != null" >
          AND creatorId = #{creatorId}
        </if>
        <if test="creatorName != null" >
          AND creatorName = #{creatorName}
        </if>
        <if test="remark != null" >
          AND remark = #{remark}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.export.ExportTemplate" >
    SELECT
      <include refid="sqlColumns"/>
    FROM export_template
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM export_template
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.export.ExportTemplate" >
    UPDATE export_template
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      isDefault = #{isDefault},
      isSystem = #{isSystem},
      name = #{name},
      type = #{type},
      file = #{file},
      argsFormatJson = #{argsFormatJson},
      fileSuffix = #{fileSuffix},
      companyId = #{companyId},
      companyName = #{companyName},
      departmentId = #{departmentId},
      departmentName = #{departmentName},
      creatorId = #{creatorId},
      creatorName = #{creatorName},
      remark = #{remark},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.export.ExportTemplate" >
    UPDATE export_template
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="isDefault != null" >
        isDefault = #{isDefault},
      </if>
      <if test="isSystem != null" >
        isSystem = #{isSystem},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="file != null" >
        file = #{file},
      </if>
      <if test="argsFormatJson != null" >
        argsFormatJson = #{argsFormatJson},
      </if>
      <if test="fileSuffix != null" >
        fileSuffix = #{fileSuffix},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="departmentName != null" >
        departmentName = #{departmentName},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="creatorName != null" >
        creatorName = #{creatorName},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE export_template SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE export_template SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.export.ExportTemplate" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO export_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      isDefault,
      isSystem,
      name,
      type,
      file,
      argsFormatJson,
      fileSuffix,
      companyId,
      companyName,
      departmentId,
      departmentName,
      creatorId,
      creatorName,
      remark,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{isDefault},
      #{isSystem},
      #{name},
      #{type},
      #{file},
      #{argsFormatJson},
      #{fileSuffix},
      #{companyId},
      #{companyName},
      #{departmentId},
      #{departmentName},
      #{creatorId},
      #{creatorName},
      #{remark},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.export.ExportTemplate" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO export_template 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="isDefault != null" >
        isDefault,
      </if>
      <if test="isSystem != null" >
        isSystem,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="argsFormatJson != null" >
        argsFormatJson,
      </if>
      <if test="fileSuffix != null" >
        fileSuffix,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="departmentName != null" >
        departmentName,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="creatorName != null" >
        creatorName,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="isDefault != null" >
        #{isDefault},
      </if>
      <if test="isSystem != null" >
        #{isSystem},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="file != null" >
        #{file},
      </if>
      <if test="argsFormatJson != null" >
        #{argsFormatJson},
      </if>
      <if test="fileSuffix != null" >
        #{fileSuffix},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="companyName != null" >
        #{companyName},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="departmentName != null" >
        #{departmentName},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="creatorName != null" >
        #{creatorName},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM export_template WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM export_template
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>