<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_batch_package
  Comment  : 库存批次与货物包装关联
  Mapper   : com.welearn.mapper.ReBatchPackageMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/13 16:34:49
-->
<mapper namespace="com.welearn.mapper.ReBatchPackageMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    batchId,
    status,
    creatorId,
    updateUserId,
    sscc
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_batch_package.id AS id,
    re_batch_package.createdAt AS createdAt,
    re_batch_package.updatedAt AS updatedAt,
    re_batch_package.isEnable AS isEnable,
    re_batch_package.batchId AS batchId,
    re_batch_package.status AS status,
    re_batch_package.creatorId AS creatorId,
    re_batch_package.updateUserId AS updateUserId,
    re_batch_package.sscc AS sscc
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.finance.ReBatchPackage" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 批次id -->
    <result column="batchId" property="batchId"/>
    <!-- Comment: 状态:0-在库 1-离库 2-出库 -->
    <result column="status" property="status"/>
    <!-- Comment: 创建人id -->
    <result column="creatorId" property="creatorId"/>
    <!-- Comment: 更新人id -->
    <result column="updateUserId" property="updateUserId"/>
    <!-- Comment: 货物包装SSCC -->
    <result column="sscc" property="sscc"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.finance.ReBatchPackage" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_batch_package
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.finance.ReBatchPackage" parameterType="com.welearn.entity.qo.finance.ReBatchPackageQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_batch_package
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="batchId != null" >
          AND batchId = #{batchId}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <if test="creatorId != null" >
          AND creatorId = #{creatorId}
        </if>
        <if test="updateUserId != null" >
          AND updateUserId = #{updateUserId}
        </if>
        <if test="sscc != null" >
          AND sscc = #{sscc}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.finance.ReBatchPackage" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_batch_package
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_batch_package
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.finance.ReBatchPackage" >
    UPDATE re_batch_package
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      batchId = #{batchId},
      status = #{status},
      creatorId = #{creatorId},
      updateUserId = #{updateUserId},
      sscc = #{sscc},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.finance.ReBatchPackage" >
    UPDATE re_batch_package
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="batchId != null" >
        batchId = #{batchId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="creatorId != null" >
        creatorId = #{creatorId},
      </if>
      <if test="updateUserId != null" >
        updateUserId = #{updateUserId},
      </if>
      <if test="sscc != null" >
        sscc = #{sscc},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_batch_package SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_batch_package SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.finance.ReBatchPackage" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_batch_package
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      batchId,
      status,
      creatorId,
      updateUserId,
      sscc,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{batchId},
      #{status},
      #{creatorId},
      #{updateUserId},
      #{sscc},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.finance.ReBatchPackage" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_batch_package 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="batchId != null" >
        batchId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creatorId != null" >
        creatorId,
      </if>
      <if test="updateUserId != null" >
        updateUserId,
      </if>
      <if test="sscc != null" >
        sscc,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="batchId != null" >
        #{batchId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="creatorId != null" >
        #{creatorId},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
      <if test="sscc != null" >
        #{sscc},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_batch_package WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_batch_package
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>