<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_package_item
  Comment  : 库存货物包装与内含物品关联
  Mapper   : com.welearn.mapper.RePackageItemMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/13 16:34:50
-->
<mapper namespace="com.welearn.mapper.RePackageItemMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    packageId,
    itemId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_package_item.id AS id,
    re_package_item.createdAt AS createdAt,
    re_package_item.updatedAt AS updatedAt,
    re_package_item.isEnable AS isEnable,
    re_package_item.packageId AS packageId,
    re_package_item.itemId AS itemId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.finance.RePackageItem" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 货物包装id -->
    <result column="packageId" property="packageId"/>
    <!-- Comment: 物品id -->
    <result column="itemId" property="itemId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.finance.RePackageItem" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_package_item
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.finance.RePackageItem" parameterType="com.welearn.entity.qo.finance.RePackageItemQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_package_item
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="packageId != null" >
          AND packageId = #{packageId}
        </if>
        <if test="itemId != null" >
          AND itemId = #{itemId}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.finance.RePackageItem" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_package_item
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_package_item
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.finance.RePackageItem" >
    UPDATE re_package_item
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      packageId = #{packageId},
      itemId = #{itemId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.finance.RePackageItem" >
    UPDATE re_package_item
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="packageId != null" >
        packageId = #{packageId},
      </if>
      <if test="itemId != null" >
        itemId = #{itemId},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_package_item SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_package_item SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.finance.RePackageItem" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_package_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      packageId,
      itemId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{packageId},
      #{itemId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.finance.RePackageItem" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_package_item 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="packageId != null" >
        packageId,
      </if>
      <if test="itemId != null" >
        itemId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="packageId != null" >
        #{packageId},
      </if>
      <if test="itemId != null" >
        #{itemId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_package_item WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_package_item
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>