<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : re_task_batch
  Comment  : 库存任务与批量关联
  Mapper   : com.welearn.mapper.ReTaskBatchMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/13 16:34:51
-->
<mapper namespace="com.welearn.mapper.ReTaskBatchMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    taskId,
    batchId
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    re_task_batch.id AS id,
    re_task_batch.createdAt AS createdAt,
    re_task_batch.updatedAt AS updatedAt,
    re_task_batch.isEnable AS isEnable,
    re_task_batch.taskId AS taskId,
    re_task_batch.batchId AS batchId
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.finance.ReTaskBatch" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 任务id -->
    <result column="taskId" property="taskId"/>
    <!-- Comment: 批量id -->
    <result column="batchId" property="batchId"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.finance.ReTaskBatch" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM re_task_batch
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.finance.ReTaskBatch" parameterType="com.welearn.entity.qo.finance.ReTaskBatchQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_task_batch
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="taskId != null" >
          AND taskId = #{taskId}
        </if>
        <if test="batchId != null" >
          AND batchId = #{batchId}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.finance.ReTaskBatch" >
    SELECT
      <include refid="sqlColumns"/>
    FROM re_task_batch
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM re_task_batch
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.finance.ReTaskBatch" >
    UPDATE re_task_batch
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      taskId = #{taskId},
      batchId = #{batchId},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.finance.ReTaskBatch" >
    UPDATE re_task_batch
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="taskId != null" >
        taskId = #{taskId},
      </if>
      <if test="batchId != null" >
        batchId = #{batchId},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE re_task_batch SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE re_task_batch SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.finance.ReTaskBatch" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_task_batch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      taskId,
      batchId,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{taskId},
      #{batchId},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.finance.ReTaskBatch" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO re_task_batch 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="taskId != null" >
        taskId,
      </if>
      <if test="batchId != null" >
        batchId,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="taskId != null" >
        #{taskId},
      </if>
      <if test="batchId != null" >
        #{batchId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM re_task_batch WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM re_task_batch
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>