<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : stock_place
  Comment  : 库存仓库
  Mapper   : com.welearn.mapper.StockPlaceMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/17 15:14:16
-->
<mapper namespace="com.welearn.mapper.StockPlaceMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    type,
    companyId,
    departmentId,
    buildingId,
    floorId,
    name,
    description
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    stock_place.id AS id,
    stock_place.createdAt AS createdAt,
    stock_place.updatedAt AS updatedAt,
    stock_place.isEnable AS isEnable,
    stock_place.type AS type,
    stock_place.companyId AS companyId,
    stock_place.departmentId AS departmentId,
    stock_place.buildingId AS buildingId,
    stock_place.floorId AS floorId,
    stock_place.name AS name,
    stock_place.description AS description
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.finance.StockPlace" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 类型:0-公司仓库 1-部门仓库 -->
    <result column="type" property="type"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 部门id -->
    <result column="departmentId" property="departmentId"/>
    <!-- Comment: 建筑id -->
    <result column="buildingId" property="buildingId"/>
    <!-- Comment: 楼层id -->
    <result column="floorId" property="floorId"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.finance.StockPlace" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_place
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.finance.StockPlace" parameterType="com.welearn.entity.qo.finance.StockPlaceQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_place
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="type != null" >
          AND type = #{type}
        </if>
        <if test="companyId != null" >
          AND companyId = #{companyId}
        </if>
        <if test="departmentId != null" >
          AND departmentId = #{departmentId}
        </if>
        <if test="buildingId != null" >
          AND buildingId = #{buildingId}
        </if>
        <if test="floorId != null" >
          AND floorId = #{floorId}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.finance.StockPlace" >
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_place
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM stock_place
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.finance.StockPlace" >
    UPDATE stock_place
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      type = #{type},
      companyId = #{companyId},
      departmentId = #{departmentId},
      buildingId = #{buildingId},
      floorId = #{floorId},
      name = #{name},
      description = #{description},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.finance.StockPlace" >
    UPDATE stock_place
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="departmentId != null" >
        departmentId = #{departmentId},
      </if>
      <if test="buildingId != null" >
        buildingId = #{buildingId},
      </if>
      <if test="floorId != null" >
        floorId = #{floorId},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE stock_place SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE stock_place SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.finance.StockPlace" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO stock_place
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      type,
      companyId,
      departmentId,
      buildingId,
      floorId,
      name,
      description,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{type},
      #{companyId},
      #{departmentId},
      #{buildingId},
      #{floorId},
      #{name},
      #{description},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.finance.StockPlace" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO stock_place 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="departmentId != null" >
        departmentId,
      </if>
      <if test="buildingId != null" >
        buildingId,
      </if>
      <if test="floorId != null" >
        floorId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="buildingId != null" >
        #{buildingId},
      </if>
      <if test="floorId != null" >
        #{floorId},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM stock_place WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM stock_place
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>