<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : stock_log
  Comment  : 库存日志
  Mapper   : com.welearn.mapper.StockLogMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/19 10:20:16
-->
<mapper namespace="com.welearn.mapper.StockLogMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    stockId,
    stockTypeId,
    inTransitInCount,
    inTransitOutCount,
    sumPurchaseCount,
    sumPlanConsumeCount,
    sumRealConsumeCount,
    orderAvgCostDay,
    dayAvgCountCost,
    holdingCostRatio
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    stock_log.id AS id,
    stock_log.createdAt AS createdAt,
    stock_log.updatedAt AS updatedAt,
    stock_log.isEnable AS isEnable,
    stock_log.stockId AS stockId,
    stock_log.stockTypeId AS stockTypeId,
    stock_log.inTransitInCount AS inTransitInCount,
    stock_log.inTransitOutCount AS inTransitOutCount,
    stock_log.sumPurchaseCount AS sumPurchaseCount,
    stock_log.sumPlanConsumeCount AS sumPlanConsumeCount,
    stock_log.sumRealConsumeCount AS sumRealConsumeCount,
    stock_log.orderAvgCostDay AS orderAvgCostDay,
    stock_log.dayAvgCountCost AS dayAvgCountCost,
    stock_log.holdingCostRatio AS holdingCostRatio
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.finance.StockLog" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 库存id -->
    <result column="stockId" property="stockId"/>
    <!-- Comment: 库存类型id -->
    <result column="stockTypeId" property="stockTypeId"/>
    <!-- Comment: 在途入库数量(内含数量 表示将有货物运进来) -->
    <result column="inTransitInCount" property="inTransitInCount"/>
    <!-- Comment: 在途出库数量(内含数量 表示将有货物运出去) -->
    <result column="inTransitOutCount" property="inTransitOutCount"/>
    <!-- Comment: 总购买量 -->
    <result column="sumPurchaseCount" property="sumPurchaseCount"/>
    <!-- Comment: 计划总消耗量 -->
    <result column="sumPlanConsumeCount" property="sumPlanConsumeCount"/>
    <!-- Comment: 实际总消耗量 -->
    <result column="sumRealConsumeCount" property="sumRealConsumeCount"/>
    <!-- Comment: 平均订货耗时 -->
    <result column="orderAvgCostDay" property="orderAvgCostDay"/>
    <!-- Comment: 平均每日消耗 -->
    <result column="dayAvgCountCost" property="dayAvgCountCost"/>
    <!-- Comment: 库存持有成本占比(0-100.00) -->
    <result column="holdingCostRatio" property="holdingCostRatio"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.finance.StockLog" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_log
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.finance.StockLog" parameterType="com.welearn.entity.qo.finance.StockLogQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_log
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="startTime != null" >
          AND createdAt >= #{startTime}
        </if>
        <if test="endTime != null" >
          AND #{endTime} >= createdAt
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="stockId != null" >
          AND stockId = #{stockId}
        </if>
        <if test="stockTypeId != null" >
          AND stockTypeId = #{stockTypeId}
        </if>
        <if test="inTransitInCount != null" >
          AND inTransitInCount = #{inTransitInCount}
        </if>
        <if test="inTransitOutCount != null" >
          AND inTransitOutCount = #{inTransitOutCount}
        </if>
        <if test="sumPurchaseCount != null" >
          AND sumPurchaseCount = #{sumPurchaseCount}
        </if>
        <if test="sumPlanConsumeCount != null" >
          AND sumPlanConsumeCount = #{sumPlanConsumeCount}
        </if>
        <if test="sumRealConsumeCount != null" >
          AND sumRealConsumeCount = #{sumRealConsumeCount}
        </if>
        <if test="orderAvgCostDay != null" >
          AND orderAvgCostDay = #{orderAvgCostDay}
        </if>
        <if test="dayAvgCountCost != null" >
          AND dayAvgCountCost = #{dayAvgCountCost}
        </if>
        <if test="holdingCostRatio != null" >
          AND holdingCostRatio = #{holdingCostRatio}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.finance.StockLog" >
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_log
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM stock_log
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.finance.StockLog" >
    UPDATE stock_log
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      stockId = #{stockId},
      stockTypeId = #{stockTypeId},
      inTransitInCount = #{inTransitInCount},
      inTransitOutCount = #{inTransitOutCount},
      sumPurchaseCount = #{sumPurchaseCount},
      sumPlanConsumeCount = #{sumPlanConsumeCount},
      sumRealConsumeCount = #{sumRealConsumeCount},
      orderAvgCostDay = #{orderAvgCostDay},
      dayAvgCountCost = #{dayAvgCountCost},
      holdingCostRatio = #{holdingCostRatio},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.finance.StockLog" >
    UPDATE stock_log
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="stockId != null" >
        stockId = #{stockId},
      </if>
      <if test="stockTypeId != null" >
        stockTypeId = #{stockTypeId},
      </if>
      <if test="inTransitInCount != null" >
        inTransitInCount = #{inTransitInCount},
      </if>
      <if test="inTransitOutCount != null" >
        inTransitOutCount = #{inTransitOutCount},
      </if>
      <if test="sumPurchaseCount != null" >
        sumPurchaseCount = #{sumPurchaseCount},
      </if>
      <if test="sumPlanConsumeCount != null" >
        sumPlanConsumeCount = #{sumPlanConsumeCount},
      </if>
      <if test="sumRealConsumeCount != null" >
        sumRealConsumeCount = #{sumRealConsumeCount},
      </if>
      <if test="orderAvgCostDay != null" >
        orderAvgCostDay = #{orderAvgCostDay},
      </if>
      <if test="dayAvgCountCost != null" >
        dayAvgCountCost = #{dayAvgCountCost},
      </if>
      <if test="holdingCostRatio != null" >
        holdingCostRatio = #{holdingCostRatio},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE stock_log SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE stock_log SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.finance.StockLog" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO stock_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      stockId,
      stockTypeId,
      inTransitInCount,
      inTransitOutCount,
      sumPurchaseCount,
      sumPlanConsumeCount,
      sumRealConsumeCount,
      orderAvgCostDay,
      dayAvgCountCost,
      holdingCostRatio,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{stockId},
      #{stockTypeId},
      #{inTransitInCount},
      #{inTransitOutCount},
      #{sumPurchaseCount},
      #{sumPlanConsumeCount},
      #{sumRealConsumeCount},
      #{orderAvgCostDay},
      #{dayAvgCountCost},
      #{holdingCostRatio},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.finance.StockLog" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO stock_log 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="stockId != null" >
        stockId,
      </if>
      <if test="stockTypeId != null" >
        stockTypeId,
      </if>
      <if test="inTransitInCount != null" >
        inTransitInCount,
      </if>
      <if test="inTransitOutCount != null" >
        inTransitOutCount,
      </if>
      <if test="sumPurchaseCount != null" >
        sumPurchaseCount,
      </if>
      <if test="sumPlanConsumeCount != null" >
        sumPlanConsumeCount,
      </if>
      <if test="sumRealConsumeCount != null" >
        sumRealConsumeCount,
      </if>
      <if test="orderAvgCostDay != null" >
        orderAvgCostDay,
      </if>
      <if test="dayAvgCountCost != null" >
        dayAvgCountCost,
      </if>
      <if test="holdingCostRatio != null" >
        holdingCostRatio,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="stockId != null" >
        #{stockId},
      </if>
      <if test="stockTypeId != null" >
        #{stockTypeId},
      </if>
      <if test="inTransitInCount != null" >
        #{inTransitInCount},
      </if>
      <if test="inTransitOutCount != null" >
        #{inTransitOutCount},
      </if>
      <if test="sumPurchaseCount != null" >
        #{sumPurchaseCount},
      </if>
      <if test="sumPlanConsumeCount != null" >
        #{sumPlanConsumeCount},
      </if>
      <if test="sumRealConsumeCount != null" >
        #{sumRealConsumeCount},
      </if>
      <if test="orderAvgCostDay != null" >
        #{orderAvgCostDay},
      </if>
      <if test="dayAvgCountCost != null" >
        #{dayAvgCountCost},
      </if>
      <if test="holdingCostRatio != null" >
        #{holdingCostRatio},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM stock_log WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM stock_log
  </delete>
  
  
  <!-- START USER DEFINED -->
  <!--TODO: 此文件前文有修改, 更新的时不能全部替换-->
</mapper>