<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : stock_task
  Comment  : 库存任务
  Mapper   : com.welearn.mapper.StockTaskMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2018/12/19 15:18:09
-->
<mapper namespace="com.welearn.mapper.StockTaskMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    stockId,
    type,
    taskCount,
    finishCount,
    typeDescription,
    status,
    reTaskId,
    commanderId,
    commanderName,
    commanderDepartmentId,
    commanderDepartmentName,
    commanderRemark,
    operatorId,
    operatorName,
    operatorDepartmentId,
    operatorDepartmentName,
    operatorRemark,
    cancelReason
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    stock_task.id AS id,
    stock_task.createdAt AS createdAt,
    stock_task.updatedAt AS updatedAt,
    stock_task.isEnable AS isEnable,
    stock_task.stockId AS stockId,
    stock_task.type AS type,
    stock_task.taskCount AS taskCount,
    stock_task.finishCount AS finishCount,
    stock_task.typeDescription AS typeDescription,
    stock_task.status AS status,
    stock_task.reTaskId AS reTaskId,
    stock_task.commanderId AS commanderId,
    stock_task.commanderName AS commanderName,
    stock_task.commanderDepartmentId AS commanderDepartmentId,
    stock_task.commanderDepartmentName AS commanderDepartmentName,
    stock_task.commanderRemark AS commanderRemark,
    stock_task.operatorId AS operatorId,
    stock_task.operatorName AS operatorName,
    stock_task.operatorDepartmentId AS operatorDepartmentId,
    stock_task.operatorDepartmentName AS operatorDepartmentName,
    stock_task.operatorRemark AS operatorRemark,
    stock_task.cancelReason AS cancelReason
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.finance.StockTask" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 库存id -->
    <result column="stockId" property="stockId"/>
    <!-- Comment: 任务类型: 0-入库 1-出库 2-消耗 -->
    <result column="type" property="type"/>
    <!-- Comment: 任务数量(内含数量) -->
    <result column="taskCount" property="taskCount"/>
    <!-- Comment: 完成数量(内含数量) -->
    <result column="finishCount" property="finishCount"/>
    <!-- Comment: 任务类型说明 -->
    <result column="typeDescription" property="typeDescription"/>
    <!-- Comment: 任务状态: 0-待处理 1-处理中 2-已完成 3-已取消 -->
    <result column="status" property="status"/>
    <!-- Comment: 关联任务id -->
    <result column="reTaskId" property="reTaskId"/>
    <!-- Comment: 任务派发人id -->
    <result column="commanderId" property="commanderId"/>
    <!-- Comment: 任务派发人名称 -->
    <result column="commanderName" property="commanderName"/>
    <!-- Comment: 任务派发人部门id -->
    <result column="commanderDepartmentId" property="commanderDepartmentId"/>
    <!-- Comment: 任务派发人部门名称 -->
    <result column="commanderDepartmentName" property="commanderDepartmentName"/>
    <!-- Comment: 任务派发人备注 -->
    <result column="commanderRemark" property="commanderRemark"/>
    <!-- Comment: 任务执行人id -->
    <result column="operatorId" property="operatorId"/>
    <!-- Comment: 任务执行人名称 -->
    <result column="operatorName" property="operatorName"/>
    <!-- Comment: 任务执行人部门id -->
    <result column="operatorDepartmentId" property="operatorDepartmentId"/>
    <!-- Comment: 任务执行人部门名称 -->
    <result column="operatorDepartmentName" property="operatorDepartmentName"/>
    <!-- Comment: 任务执行人备注 -->
    <result column="operatorRemark" property="operatorRemark"/>
    <!-- Comment: 任务取消原因 -->
    <result column="cancelReason" property="cancelReason"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.finance.StockTask" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_task
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.finance.StockTask" parameterType="com.welearn.entity.qo.finance.StockTaskQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_task
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="stockId != null" >
          AND stockId = #{stockId}
        </if>
        <if test="type != null" >
          AND type = #{type}
        </if>
        <if test="taskCount != null" >
          AND taskCount = #{taskCount}
        </if>
        <if test="finishCount != null" >
          AND finishCount = #{finishCount}
        </if>
        <if test="typeDescription != null" >
          AND typeDescription = #{typeDescription}
        </if>
        <if test="status != null" >
          AND status = #{status}
        </if>
        <if test="reTaskId != null" >
          AND reTaskId = #{reTaskId}
        </if>
        <if test="commanderId != null" >
          AND commanderId = #{commanderId}
        </if>
        <if test="commanderName != null" >
          AND commanderName = #{commanderName}
        </if>
        <if test="commanderDepartmentId != null" >
          AND commanderDepartmentId = #{commanderDepartmentId}
        </if>
        <if test="commanderDepartmentName != null" >
          AND commanderDepartmentName = #{commanderDepartmentName}
        </if>
        <if test="commanderRemark != null" >
          AND commanderRemark = #{commanderRemark}
        </if>
        <if test="operatorId != null" >
          AND operatorId = #{operatorId}
        </if>
        <if test="operatorName != null" >
          AND operatorName = #{operatorName}
        </if>
        <if test="operatorDepartmentId != null" >
          AND operatorDepartmentId = #{operatorDepartmentId}
        </if>
        <if test="operatorDepartmentName != null" >
          AND operatorDepartmentName = #{operatorDepartmentName}
        </if>
        <if test="operatorRemark != null" >
          AND operatorRemark = #{operatorRemark}
        </if>
        <if test="cancelReason != null" >
          AND cancelReason = #{cancelReason}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.finance.StockTask" >
    SELECT
      <include refid="sqlColumns"/>
    FROM stock_task
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM stock_task
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.finance.StockTask" >
    UPDATE stock_task
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      stockId = #{stockId},
      type = #{type},
      taskCount = #{taskCount},
      finishCount = #{finishCount},
      typeDescription = #{typeDescription},
      status = #{status},
      reTaskId = #{reTaskId},
      commanderId = #{commanderId},
      commanderName = #{commanderName},
      commanderDepartmentId = #{commanderDepartmentId},
      commanderDepartmentName = #{commanderDepartmentName},
      commanderRemark = #{commanderRemark},
      operatorId = #{operatorId},
      operatorName = #{operatorName},
      operatorDepartmentId = #{operatorDepartmentId},
      operatorDepartmentName = #{operatorDepartmentName},
      operatorRemark = #{operatorRemark},
      cancelReason = #{cancelReason},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.finance.StockTask" >
    UPDATE stock_task
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="stockId != null" >
        stockId = #{stockId},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="taskCount != null" >
        taskCount = #{taskCount},
      </if>
      <if test="finishCount != null" >
        finishCount = #{finishCount},
      </if>
      <if test="typeDescription != null" >
        typeDescription = #{typeDescription},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="reTaskId != null" >
        reTaskId = #{reTaskId},
      </if>
      <if test="commanderId != null" >
        commanderId = #{commanderId},
      </if>
      <if test="commanderName != null" >
        commanderName = #{commanderName},
      </if>
      <if test="commanderDepartmentId != null" >
        commanderDepartmentId = #{commanderDepartmentId},
      </if>
      <if test="commanderDepartmentName != null" >
        commanderDepartmentName = #{commanderDepartmentName},
      </if>
      <if test="commanderRemark != null" >
        commanderRemark = #{commanderRemark},
      </if>
      <if test="operatorId != null" >
        operatorId = #{operatorId},
      </if>
      <if test="operatorName != null" >
        operatorName = #{operatorName},
      </if>
      <if test="operatorDepartmentId != null" >
        operatorDepartmentId = #{operatorDepartmentId},
      </if>
      <if test="operatorDepartmentName != null" >
        operatorDepartmentName = #{operatorDepartmentName},
      </if>
      <if test="operatorRemark != null" >
        operatorRemark = #{operatorRemark},
      </if>
      <if test="cancelReason != null" >
        cancelReason = #{cancelReason},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE stock_task SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE stock_task SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.finance.StockTask" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO stock_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      stockId,
      type,
      taskCount,
      finishCount,
      typeDescription,
      status,
      reTaskId,
      commanderId,
      commanderName,
      commanderDepartmentId,
      commanderDepartmentName,
      commanderRemark,
      operatorId,
      operatorName,
      operatorDepartmentId,
      operatorDepartmentName,
      operatorRemark,
      cancelReason,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{stockId},
      #{type},
      #{taskCount},
      #{finishCount},
      #{typeDescription},
      #{status},
      #{reTaskId},
      #{commanderId},
      #{commanderName},
      #{commanderDepartmentId},
      #{commanderDepartmentName},
      #{commanderRemark},
      #{operatorId},
      #{operatorName},
      #{operatorDepartmentId},
      #{operatorDepartmentName},
      #{operatorRemark},
      #{cancelReason},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.finance.StockTask" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO stock_task 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="stockId != null" >
        stockId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="taskCount != null" >
        taskCount,
      </if>
      <if test="finishCount != null" >
        finishCount,
      </if>
      <if test="typeDescription != null" >
        typeDescription,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reTaskId != null" >
        reTaskId,
      </if>
      <if test="commanderId != null" >
        commanderId,
      </if>
      <if test="commanderName != null" >
        commanderName,
      </if>
      <if test="commanderDepartmentId != null" >
        commanderDepartmentId,
      </if>
      <if test="commanderDepartmentName != null" >
        commanderDepartmentName,
      </if>
      <if test="commanderRemark != null" >
        commanderRemark,
      </if>
      <if test="operatorId != null" >
        operatorId,
      </if>
      <if test="operatorName != null" >
        operatorName,
      </if>
      <if test="operatorDepartmentId != null" >
        operatorDepartmentId,
      </if>
      <if test="operatorDepartmentName != null" >
        operatorDepartmentName,
      </if>
      <if test="operatorRemark != null" >
        operatorRemark,
      </if>
      <if test="cancelReason != null" >
        cancelReason,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="stockId != null" >
        #{stockId},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="taskCount != null" >
        #{taskCount},
      </if>
      <if test="finishCount != null" >
        #{finishCount},
      </if>
      <if test="typeDescription != null" >
        #{typeDescription},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="reTaskId != null" >
        #{reTaskId},
      </if>
      <if test="commanderId != null" >
        #{commanderId},
      </if>
      <if test="commanderName != null" >
        #{commanderName},
      </if>
      <if test="commanderDepartmentId != null" >
        #{commanderDepartmentId},
      </if>
      <if test="commanderDepartmentName != null" >
        #{commanderDepartmentName},
      </if>
      <if test="commanderRemark != null" >
        #{commanderRemark},
      </if>
      <if test="operatorId != null" >
        #{operatorId},
      </if>
      <if test="operatorName != null" >
        #{operatorName},
      </if>
      <if test="operatorDepartmentId != null" >
        #{operatorDepartmentId},
      </if>
      <if test="operatorDepartmentName != null" >
        #{operatorDepartmentName},
      </if>
      <if test="operatorRemark != null" >
        #{operatorRemark},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM stock_task WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM stock_task
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>